---
title: About Leader-Follower
owner: MySQL
---

This topic outlines what you need to know about leader-follower availability for MySQL for Pivotal Cloud Foundry (PCF). 
Read this topic to decide if you should enable leader-follower availability for your MySQL databases.

## <a id="topology"></a>Increasing Availability with Leader-Follower

A leader-follower database is used to increase the availability of your database, by enabling operators to
[failover](#failover) and send application traffic to the follower. The term leader-follower
is analogous to "master-slave".

When a developer creates a leader-follower service instance,
the on-demand broker deploys two MySQL VMs in two separate availability zones.
Any data that is written to the leader is asynchronously replicated to the follower.

The follower VM is only for increasing availability
and is not exposed to developers to increase read throughput.
Increasing read throughput can be achieved using developer-configured workload profiles.
For more information, see [Customizing](./customize.html).

## <a id="failover"></a>Understanding Failover

MySQL for PCF is focuses on data consistency above all else and relies on operators
to trigger a failover; MySQL for PCF will never automatically failover to the follower.
When an operator performs a failover, application traffic is sent to the standby follower.

Along with simple steps for failover, MySQL offers a set of metrics that can be used to monitor
leader-follower instances and determine when a failover should be performed. For instructions on
how to trigger a failover, see [Maintaining Availability with Leader Follower](./maintain-leader-follower.html).

## <a id="iaas"></a> Infrastructure Requirements for Leader-Follower Deployments

Leader-Follower instances have additional infrastructure requirements than previous singleton instances, as described in
the following section.

### Capacity Planning

When calculating IaaS usage, as described in the [Resource Usage Planning](./recommended.html#resources)
section, you must take into account that each leader follower instance requires two VMs. Thus, the "plan resources"
for a leader-follower enabled plan should be doubled.

### Networking Rules

In addition to the standard networking rules needed for MySQL for PCF,
the operator must ensure leader-follower specific network rules are also set up as follows:

- Leader-follower VMs bidirectionally communicate with each other over port 8008 for orchestration.
- Leader-follower VMs bidirectionally communicate with each other over port 3306 for replication.

For information about standard networking rules,
see [Required Networking Rules for On-Demand Services](./about.html#rules).
For information about how to set leader-follower communication, see TBD.
