---
title: About Leader-Follower
owner: MySQL
---

This topic contains information to help you decide whether to enable leader-follower availability for your MySQL databases.

## <a id="topology"></a>Increasing Availability with Leader-Follower

A leader-follower database is used to increase the availability of your database by enabling operators to
[failover](#failover) and send application traffic to the follower. The term leader-follower
is analogous to master-slave.

When a developer creates a leader-follower service instance,
the on-demand broker deploys two MySQL VMs in two separate availability zones.
Any data that is written to the leader is asynchronously replicated to the follower.

The follower VM is only for increasing availability
and is not exposed to developers to increase read throughput.
Developers can increase read throughput by configuring `workload` profiles.
For more information, see [Provide Optional Parameters](./change-default.html#optional-param).

## <a id="failover"></a>Understanding Failover

MySQL for PCF focuses on data consistency above all else, and relies on operators
to trigger a failover. MySQL for PCF does not automatically failover to the follower.
When an operator triggers a failover, application traffic is sent to the standby follower.

Along with simple steps for failover, MySQL offers a set of metrics that can be used to monitor
leader-follower instances and determine when a failover should be triggered. For instructions on
how to trigger a failover, see [Trigger a Failover](./maintain-leader-follower.html#failover).

## <a id="iaas"></a> Infrastructure Requirements for Leader-Follower Deployments

Leader-Follower instances have additional infrastructure requirements than previous singleton instances, as described below.

### Capacity Planning

When calculating IaaS usage, you must take into account that each leader follower instance requires two VMs. Therefore, the resources used
for a leader-follower-enabled plan must be doubled. For more information, [Resource Usage Planning for On-Demand Plans](./recommended.html#resources).

### Availability Zones

To minimize impact of an availability zone outage, and to remove single points of failure, Pivotal recommends that you
provision three availability zones if using leader-follower deployments. With three availability zones, the MySQL VMs
are deployed to two AZs, and the broker is deployed to a third.

### Networking Rules

In addition to the [standard networking rules](./about.html#rules) needed for MySQL for PCF,
the operator must ensure leader-follower-specific network rules are also set up as follows:

- Leader-follower VMs bidirectionally communicate with each other over port 8008 for orchestration.
- Leader-follower VMs bidirectionally communicate with each other over port 3306 for replication.

For information about how to set leader-follower communication, see [Set up Leader-Follower Communication](./maintain-leader-follower.html#communication).
