---
title: On-Demand Service Architecture
owner: MySQL
---

This topic describes the architecture for on-demand MySQL for Pivotal Cloud Foundry (PCF).

For information about architecture of the older, pre-provisioned service, see the [Architecture](http://docs.pivotal.io/p-mysql/1-9/architecture.html) topic for MySQL for PCF v1.9.

## <a id="service-network"></a>BOSH 2.0 and the Service Network

<%= partial '../../mysql/odb/service_networks' %>


## <a id='on-demand'></a>Default Network and Service Network

Like other on-demand PCF services, on-demand MySQL for PCF relies on BOSH 2.0's ability to dynamically deploy VMs in a dedicated network. 
The on-demand service broker uses this capability to create single-tenant service instances in a dedicated service network.

<%= partial '../../mysql/odb/on_demand_architecture' %>

![Default Network and Service Network](images/ODB-MySQL-architecture.png)

## <a id="rules"></a> Required Networking Rules for On-Demand Services

[//]: # (Keep this section in syncy as much as possible with the about.html page in MySQL for PCF)

Prior to deploying any service tile that uses the on-demand broker (ODB), the operator must request the network connections needed to allow various components of Pivotal Cloud Foundry (PCF) to communicate with ODB. The specifics of how to open those connections varies for each IaaS.

The following table shows the responsibilities of the key components in an on-demand architecture.

<table class="nice">
	<th>Key Components</th>
	<th>Their Responsibility</th>
	<tr>
		<td><strong>BOSH Director</strong></td>
		<td>Creates and updates service instances as instructed by ODB</td>
	</tr>
	<tr>
		<td><strong>BOSH Agent</strong></td>
		<td>BOSH includes an Agent on every VM that it deploys. The Agent listens for instructions from the Director and carries out those instructions. The Agent receives job specifications from the Director and uses them to assign a role, or Job, to the VM.</td>
	</tr>
	<tr>
		<td><strong>BOSH UAA</strong></td>
		<td>As an OAuth2 provider, BOSH UAA issues tokens for clients to use when they act on behalf of BOSH users.</td>
	</tr>
	<tr>
		<td><strong>ERT</strong></td>
		<td>Contains the apps that are consuming services</td>
	</tr>
	<tr>
		<td><strong>ODB</strong></td>
		<td>Instructs BOSH to create and updated services, and connects to services to create bindings</td>
	</tr>
	<tr>
		<td><strong>Deployed service instance</strong></td>
		<td>Runs the given data service (for example, the deployed Redis for PCF service instance runs the Redis for PCF data service)</td>
	</tr>
</table>

Regardless of the specific network layout, the operator must ensure network rules are set up so that connections are open as described in the table below. 

<table class="nice">
	<th>This component...</th>
	<th>Must communicate with...</th>
	<th>Default TCP Port</th>
	<th>Communication direction(s)</th>
	<th>Notes</th>
	<tr>
		<td><strong>ODB</strong></td>
		<td>
		    <ul>
		        <li><strong>BOSH Director</strong></li>
		    	<li><strong>BOSH UAA</strong></li>
		    </ul>
		</td>
		<td>
			<ul>
				<li>25555</li>
				<li>8443</li>
			</ul>
		</td>
		<td>One-way</td>
		<td>The default ports are not configurable.</td>
	</tr>
	<tr>
		<td><strong>ODB</strong></td>
		<td><strong>Deployed service instances</strong>
		</td>
		<td>Specific to the service (such as RabbitMQ for PCF). May be one or more ports.</td>
		<td>One-way</td>
		<td>This connection is for administrative tasks. Avoid opening general use, app-specific ports for this connection.</td>
	</tr>
	<tr>
		<td><strong>ODB</strong></td>
		<td><strong>ERT</strong>
		</td>
		<td>8443</td>
		<td>One-way</td>
		<td>The default port is not configurable.</td>
	</tr>
	<tr>
		<td><strong>Errand VMs</strong></td>
		<td>
			<ul>
				<li><strong>ERT</strong></li>
				<li><strong>ODB</strong></li>
				<li><strong>Deployed Service Instances</strong></li>
			</ul>
		</td>
		<td>
			<ul>
				<li>8443</li>
				<li>8080</li>
				<li>Specific to the service. May be one or more ports.</li>
			</ul>
		</td>
		<td>One-way</td>
		<td>The default port is not configurable.</td>
	</tr>
	<tr>
		<td><strong>BOSH Agent</strong></td>
		<td><strong>BOSH Director</strong>
		</td>
		<td>4222</td>
		<td>Two-way</td>
		<td>The BOSH Agent runs on every VM in the system, including the BOSH Director VM. The BOSH Agent initiates the connection with the BOSH Director.<br>
		The default port is not configurable.  </td>
	</tr>
	<tr>
		<td><strong>Deployed apps on ERT</strong></td>
		<td><strong>Deployed service instances</strong>
		</td>
		<td>Specific to the service. May be one or more ports.</td>
		<td>One-way</td>
		<td>This connection is for general use, app-specific tasks. Avoid opening administrative ports for this connection.</td>
	</tr>
	<tr>
		<td><strong>ERT</strong></td>
		<td><strong>ODB</strong>
		</td>
		<td>8080</td>
		<td>One-way</td>
		<td>This port may be different for individual services. This port may also be configurable by the operator if allowed by the tile developer.</td>
	</tr>
</table>

## <a id="defaults"></a> MySQL Server Defaults
This section describes the defaults that the MySQL for PCF tile applies to its Percona Server components.
There are other components that can be customized as well.

#### Max Connections

All service instances accept up to 750 connections.
System processes count towards this limit.

#### Max Allowed Packet: 256&nbsp;MB

MySQL for PCF allows blobs up to 256&nbsp;MB in size.
You can change this size in a session variable if necessary. 

#### Table Definition Cache: 8192

For more information about updating this variable,
see the [MySQL documentation](https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_table_definition_cache).

#### Reverse Name Resolution Off

Disabling reverse DNS lookups improves performance.
To enable reverse name resolution, clear this option.
A cleared reverse name resolution causes the MySQL servers to perform a reverse DNS lookup on each new connection.
Typically, MySQL restricts access by hostname, but MySQL for PCF uses user credentials, not hostnames, to authenticate access.
Because of this, most deployments do not need reverse DNS lookups.

#### Skip Symbolic Links
MySQL for PCF is configured to prevent the use of symlinks to tables. This 
[recommended security setting](https://dev.mysql.com/doc/refman/5.7/en/security-against-attack.html)
prevents users from manipulating files on the server’s file system.

#### MyISAM Recover Options: BACKUP, FORCE
This setting enables MySQL for PCF to recover from most MyISAM problems without human intervention.
For more information, see the [MySQL documentation](https://dev.mysql.com/doc/refman/5.7/en/server-options.html#option_mysqld_myisam-recover-options).

#### Log Bin Trust Function Creators: ON
This setting relaxes certain constraints on how MySQL writes stored procedures to the binary log.
For more information, see the [MySQL documentation](https://dev.mysql.com/doc/refman/5.7/en/stored-programs-logging.html).

#### Event Scheduler: ON
MySQL for PCF enables the event scheduler so users can create and utilize events in their dedicated service instances.

#### Lower Case Table Names: ON
By default, all table names are case sensitive.
This option may be modified on the [MySQL Configuration page](/p-mysql/2-1/install-config.html#mysql).
For more information about the use for lowercase table names,
see the [MySQL documentation](https://dev.mysql.com/doc/refman/5.7/en/identifier-case-sensitivity.html).

#### Audit Log: OFF
The MySQL audit log is off by default.
When enabled on the [MySQL Monitoring page](/p-mysql/2-1/install-config.html#monitoring),
logs are written as CSVs to <code>/var/vcap/sys/log/mysql/mysql_audit_log</code> as well as a remote syslog drain if it is enabled.

#### InnoDB Buffer Pool Size
Dynamically configured to be 50% of the available memory on each service instance.

#### InnoDB Log File Size: 256&nbsp;MB
MySQL for PCF clusters default to a log-file size of 256&nbsp;MB.

#### InnoDB Log Buffer Size: 32&nbsp;MB
MySQL for PCF defaults to 32&nbsp;MB to avoid excessive disk I/O when issuing large transactions.

#### InnoDB Auto Increment Lock Mode: 2
Auto Increment uses "interleaved" mode. This enables multiple statements to execute at the same time.
There may be gaps in auto-incrementing columns.

#### Collation Server: UTF8 General CI
MySQL for PCF defaults the collation server to <code>utf8_general_ci</code>.
You can override this during a session.

#### Character Set: UTF8
MySQL for PCF defaults all character sets to <code>utf8</code>.
You can override this during a session.
