---
title: On-Demand Service Architecture
owner: MySQL
---

This topic describes the architecture for on-demand MySQL for Pivotal Cloud Foundry (PCF).

For information about architecture of the older, pre-provisioned service, see the [Architecture](http://docs.pivotal.io/p-mysql/1-9/architecture.html) topic for MySQL for PCF v1.9.

## <a id="service-network"></a>BOSH 2.0 and the Service Network

<%= partial '../../mysql/odb/service_networks' %>


## <a id='on-demand'></a>Default Network and Service Network

<%= partial '../../mysql/odb/on_demand_architecture' %>

![Default Network and Service Network](images/ODB-MySQL-architecture.png)

## <a id="rules"></a> Required Networking Rules for On-Demand Services

<%= partial '../../mysql/odb/service_networks_table' %>

Regardless of the specific network layout, the operator must ensure network rules are set up so that connections are open as described in the table below. 

<table class="nice">
	<th>This component...</th>
	<th>Must communicate with...</th>
	<th>Default TCP Port</th>
	<th>Communication direction(s)</th>
	<th>Notes</th>
	<tr>
		<td><strong>BOSH Agent</strong></td>
		<td><strong>BOSH Director</strong></td>
		<td>4222</td>
		<td>Two-way</td>
		<td>The BOSH Agent runs on every VM in the system, including the BOSH Director VM.
                    The BOSH Agent initiates the connection with the BOSH Director.<br>
		    The default port is not configurable.  </td>
	</tr>
	<tr>
		<td><strong>Broker and service instances</strong></td>
		<td><strong>the Doppler on PAS or Elastic Runtime</strong></td>
		<td>8082</td>
		<td>One-way</td>
		<td>This port is for metrics.</td>
	</tr>
	<tr>
		<td><strong>Deployed apps on PAS or Elastic Runtime</strong></td>
		<td><strong>MySQL service instances</strong></td>
		<td>3306</td>
		<td>One-way</td>
		<td>This port is for general use, app-specific tasks.
                    In addition to configuring your IaaS, create a security group
                    for the MySQL service instance.</td>
	</tr>
	<tr>
		<td><strong>Leader VM</strong></td>
		<td><strong>Follower VM</strong></td>
		<td>8443<br>8081</td>
		<td>Two-way</td>
		<td>This port is needed if leader-follower is enabled.
                    For information, see <a href="maintain-leader-follower.html#config-plan">Configure a Leader-Follower Service Plan</a>.</td>
	</tr>
	<tr>
		<td><strong>ODB</strong></td>
		<td>
		    <ul>
		        <li><strong>BOSH Director</strong></li>
		    	<li><strong>BOSH UAA</strong></li>
		    </ul>
		</td>
		<td>
			<ul>
				<li>25555</li>
				<li>8443</li>
			</ul>
		</td>
		<td>One-way</td>
		<td>The default ports are not configurable.</td>
	</tr>
	<tr>
		<td><strong>ODB</strong></td>
		<td><strong>MySQL service instances</strong>
		</td>
		<td>3306</td>
		<td>One-way</td>
		<td>This connection is for administrative tasks. Avoid opening general use, app-specific ports for this connection.</td>
	</tr>
	<tr>
		<td><strong>ODB</strong></td>
		<td><strong>PAS or Elastic Runtime</strong>
		</td>
		<td>8443</td>
		<td>One-way</td>
		<td>The default port is not configurable.</td>
	</tr>
	<tr>
		<td><strong>PAS or Elastic Runtime</strong></td>
		<td><strong>ODB</strong>
		</td>
		<td>8080</td>
		<td>One-way</td>
		<td>This port allows PAS or Elastic Runtime to communicate with the ODB component.</td>
	</tr>
</table>

