---
title: Planning for Leader-Follower Availability	
owner: MySQL
---

This topic outlines what you need to know about leader-follower availability for MySQL for Pivotal Cloud Foundry (PCF). 
Read this topic to decide if you should enable leader-follower availability for your MySQL databases.

## <a id="topology"></a>Increasing Availability with Leader-Follower

MySQL for PCF enables developers to dynamically create leader-follower databases; 
the term leader-follower is analogous to "master-slave".
This deployment topology can be used to increase the availability of your database
in the event of an unexpected outage of the leader, by failing over to the follower.
If the leader fails, the operator manually triggers the failover.
For instructions on how to trigger a failover, see [Maintaining Availability with Leader Follower](./maintain-leader-follower.html).

When a developer creates a leader-follower service instance,
the on-demand broker deploys two MySQL VMs to two separate availability zones.
Any data that is written to the leader is asynchronously replicated to the follower;
MySQL for PCF emits metrics for monitoring replication lag.

The follower VM is only for increasing availability
and is not exposed to developers to increase read throughput.
Increasing read throughput can be achieved using developer-configured workload profiles.
For more information, see [Customizing](./customize.html).

## <a id="rules-"></a>Required Networking Rules for Leader-Follower Deployments

In addition to the [standard networking rules](./about.html#rules) needed for MySQL for PCF,
the operator must ensure leader-follower specific network rules are also set up as follows:

- Leader-follower VMs bidirectionally communicate with each other over port 8008 for orchestration.
- Leader-follower VMs bidirectionally communicate with each other over port 3306 for replication.

For information about standard networking rules,
see [Required Networking Rules for On-Demand Services](./about.html#rules).
For information about how to set leader-follower communication, see TBD.
