---
title: Accessing a Database as an Admin User
owner: MySQL
---

This topic describes how to access a database as an admin user 
using either the `mysql` CLI or the <%= vars.ops_manager %> UI.

## <a id="instance-creds"></a> Retrieve Admin and Read-Only Admin Credentials for a Service Instance

<%= partial vars.path_to_partials + "/services-tshoot/tshoot-tech-instance-creds" %>