---
title: Backing Up and Restoring On-Demand MySQL
owner: MySQL
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

This topic describes how to enable and configure automated backups for the MySQL for Pivotal Cloud Foundry (PCF) service, and how to manually restore a MySQL service instance from a backup.

## <a id="overview"></a>Overview

Automated backups do the following:

- Periodically create and upload backup artifacts suitable for restoring all of the databases used by the service instance.
- Operate without locking apps out of the database; no downtime.
- Include a metadata file that contains the critical details of the backup artifact, including the effective calendar time of the backup.
- Encrypt backup artifacts within the MySQL for PCF VM; unencrypted data is never transported outside of the MySQL for PCF deployment.

## <a id="enable-backups"></a>Enable Automated Backups

You can configure MySQL for PCF to automatically back up its databases to external storage.

* **How and Where**: There are two options for how automated backups transfer backup data and where the data saves out to:
  - MySQL for PCF runs an [S3](https://aws.amazon.com/documentation/s3/) client that saves backups to an Amazon S3 bucket, [Ceph](http://docs.ceph.com/docs/master/) storage cluster, or other S3-compatible endpoint certified by Pivotal.
  - MySQL for PCF runs an `scp` command that secure-copies backup files to a VM or physical machine operating outside of PCF. The operator provisions the backup machine separately from their PCF installation. This is the most efficient option.

* **When**: Backups follow a schedule that you specify with a [cron](http://godoc.org/github.com/robfig/cron) expression.

* **What**: Back up the entire MySQL data directory, consistent to a specific point in time.

Follow the procedures below to enable and configure automated backups.

### <a id="ceph-or-s3"></a> Ceph or AWS S3

To back up your database on Ceph or Amazon Web Services (AWS) S3, perform the following steps:

#### <a id="access-key"></a> Create a Policy and Access Key

MySQL for PCF accesses your S3 store through a user account. Pivotal recommends that this account be solely for MySQL for PCF. You need to apply a minimal policy that lets the user account upload backup artifacts to your S3 store.

1. Create a policy for your MySQL for PCF user account. Policy creation varies across S3 providers, but MySQL for PCF needs permission to list and upload to buckets. To use buckets that do not already exist, it additionally needs permission to create buckets.  
For example, in AWS create a new custom policy (**IAM** > **Policies** > **Create Policy** > **Create Your Own Policy**) and paste in the following permissions:  
     <pre class="highlight json">
{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "ServiceBackupPolicy",
      "Effect": "Allow",
      "Action": [
        "s3:ListBucket",
        "s3:ListBucketMultipartUploads",
        "s3:ListMultipartUploadParts",
        "s3:CreateBucket",
        "s3:PutObject"
      ],
      "Resource": [
        "arn:aws:s3:::MY\_BUCKET\_NAME/*",
        "arn:aws:s3:::MY\_BUCKET\_NAME"
      ]
    }
  ]
}
</pre>

1. (Recommended) Create a new user for MySQL for PCF and record its Access Key ID and Secret Access Key, the user credentials.

1. Attach the policy you created to the AWS user account that MySQL for PCF will use to access S3 (**IAM** > **Policies** > **Policy Actions** > **Attach**).

#### <a id="configure"></a> Configure Backups in Ops Manager

Use Ops Manager to connect MySQL for PCF to your S3 account.

1. In Ops Manager, open the MySQL for PCF tile > **Backups** pane.

1. Select the **Ceph or Amazon S3** radio button.  
    ![S3 Backup Configuration Form](S3-backups.png)

1. Fill in the fields as follows:

  * **Access Key ID** and **Secret Access Key** 
      Enter the S3 Access Key ID and Secret Access Key from above.
  * **Endpoint URL**
      Enter the S3 compatible endpoint URL for uploading backups. URL must start with `http://` or `https://`. The default is https://s3.amazonaws.com
  * **Bucket Name**
      Enter the bucket name in which to upload.
  * **Bucket Path**
      Enter the path in the bucket to store backups.
  * **Cron Schedule**
          Enter a `cron` schedule, using standard [cron syntax](https://help.ubuntu.com/community/CronHowto), to take backups of each service instance.

### <a id="scp"></a> SCP

SCP enables the operator to use any desired storage solution on the destination VM.

To back up your database using SCP, perform the following steps:

#### <a id="scp-keys"></a> Create a Public and Private Key Pair

MySQL for PCF accesses a remote host as a user with a private key for authentication. Pivotal recommends that this user and key pair be solely for MySQL for PCF.

1. Determine the remote host that you will be using to store backup artifacts for MySQL for PCF. Ensure that the MySQL service instances will be able to access
   the remote host.

   <p class="note"><strong>Note</strong>: Pivotal recommends using a VM outside the PCF deployment for the destination of SCP backups. As a result you may need to enable public IPs for the MySQL VMs. </p>

1. (Recommended) Create a new user for MySQL for PCF on the destination VM.

1. (Recommended) Create a new public and private key pair for authenticating as the above user on the destination VM.

#### <a id="configure"></a> Configure Backups in Ops Manager

Use Ops Manager to configure MySQL for PCF to backup using SCP.

1. In Ops Manager, open the MySQL for PCF tile > **Backups** pane.

1. Select the **SCP** radio button.
    ![SCP Backup Configuration Form](scp-backups.png)

1. Fill in the fields as follows:

  * **Username**
      Enter the user that you created above.
  * **Private Key**
      Enter the private key that you created above. The public key should be stored for ssh and scp access on the destination VM.
  * **Hostname**
      Enter the IP or DNS entry that should be used to access the destination VM.
  * **Destination Directory**
      Enter the directory in which MySQL for PCF should upload backup artifacts.
  * **Cron Schedule**
          Enter a `cron` schedule, using standard [cron syntax](https://help.ubuntu.com/community/CronHowto), to take backups of each service instance.
  * **Fingerprint**
          Enter the fingerprint of the destination VMs public key. This helps to detect any changes to the destination VM.
  * **Enable Email Alerts**
          Check the box if you would like to receive email notifications when a backup failure occurs.
          <p class="note"><strong>Note</strong>: Email Alerts require that CF Notifications are configured and enabled in Elastic Runtime.</p>
          <p class="note"><strong>Note</strong>: Any user that should be notified for backup failures should be added to the System org and System space.</p>

## <a id="disable-backups"></a>Disable Automated Backups

To disable MySQL for PCF automated backups:

1. In Ops Manager, open the MySQL for PCF tile > **Backups** pane.

1. Select **Disable Backups**.  
![Disable Backups](disable-backups.png)

1. Click **Save**.

1. Return to the Ops Manager Installation Dashboard and click **Apply Changes**.

To configure automated backups for MySQL for PCF, perform the following steps:

## <a id="understanding-metadata"></a>Understand Backup Files and Metadata

When MySQL for PCF runs a backup, it uploads two files with Unix epoch-timestamped filenames of the form `mysql-backup-TIMESTAMP`:

  * The encrypted data backup file `mysql-backup-TIMESTAMP.tar.gpg`
  * A metadata file `mysql-backup-TIMESTAMP.txt`

The metadata file contains information about the backup and looks like this:

```
ibbackup_version = 2.4.5
end_time = 2017-04-24 21:00:03
lock_time = 0
binlog_pos =
incremental = N
encrypted = N
server_version = 5.7.16-10-log
start_time = 2017-04-24 21:00:00
tool_command = --user=admin --password=... --stream=tar tmp/
innodb_from_lsn = 0
innodb_to_lsn = 2491844
format = tar
compact = N
name =
tool_name = innobackupex
partial = N
compressed = N
uuid = fd13cf26-2930-11e7-871e-42010a000807
tool_version = 2.4.5
```

Within this file, the most important items are the `start_time` and the `server_version` entries.

The backup process does not interrupt MySQL service, but backup artifacts only reflect transactions that completed before their `start_time`.

<p class="note"><strong>Note</strong>: Both <code>compressed</code> and <code>encrypted</code> show as <code>N</code> in this file, yet the artifact uploaded by MySQL for PCF is both compressed and encrypted. This is a known bug.</p>

## <a id="restore"></a> Restore a Service Instance from Backup

Restoring MySQL for PCF from backup is a manual process primarily intended for disaster recovery. Restoring a MySQL for PCF service instance replaces 100% of its data and running state.

To restore a MySQL for PCF instance from an offsite backup, download the backup artifact and restore to a new instance as follows:

### Download the Backup Artifact

These instructions assume that you are using AWS S3 as your backup destination.

1. Run `cf service` to determine the GUID associated with the service instance that you want to restore.
 <pre class="terminal">
  $ cf service my-instance --guid
  b3a30744-52cd-4bf2-b417-3f1c2aec1304
 </pre>

1. Follow the [Advanced Troubleshooting](http://docs.pivotal.io/pivotalcf/1-10/customizing/trouble-advanced.html) instructions to log into the Ops Manager VM, where you can run the BOSH CLI.

1. Download the manifest for the service instance deployment using the GUID from above.
  <pre class="terminal">
   $ bosh download manifest service-instance_b3a30744-52cd-4bf2-b417-3f1c2aec1304 ./manifest.yml
  </pre>

1. Inspect the downloaded manifest and record the `properties.cf-mysql-backup.symmetric_key` and backup destination bucket. You will use this later to decrypt the backup.

1. Install and log in to the [AWS CLI](https://aws.amazon.com/cli/).

1. List the available backups for the instance.
 <pre class="terminal">
  $ aws s3 ls --recursive s3://BUCKET\_NAME/service-instance\_b3a30744-52cd-4bf2-b417-3f1c2aec1304
 </pre>

1. Choose the most recent backup file, or an older backup you want to restore from. The backups are timestamped in the filename and have a `.gpg` extension.

1. Download the selected backup.
 <pre class="terminal">
  $ aws s3 cp s3://$BUCKET\_NAME/$BUCKET\_PATH/YEAR/MONTH/DATE/mysql-backup-1489168980-0.tar.gpg ./a-local-path/mysql-backup-1489168980-0.tar.gpg
 </pre>

<p class="note"><strong>Note: </strong> You can also log in to AWS and download S3 backup artifacts from a browser.</p>

### Restore the Service Instance

These instructions assume you have a backup artifact downloaded. To restore the backup to a new service instance:

1. [Create a new service instance](./use.html#create) to restore to.
 <pre class="terminal">
  $ cf create-service p.mysql db-small NEW\_SERVICE\_INSTANCE
 </pre>

1. Prepare the service instance for restoration.
  1. Determine the GUID associated with your service instance:
 <pre class="terminal">
    $ cf service NEW\_SERVICE\_INSTANCE --guid
 </pre>

  1. Download the manifest for the service instance deployment using the GUID from above.
 <pre class="terminal">
    $ bosh download manifest service-instance_GUID ./manifest.yml
 </pre>

  1. Set the BOSH deployment to new downloaded manifest.
 <pre class="terminal">
     $ bosh deployment ./manifest.yml
 </pre>

  1. Use the [BOSH CLI to `ssh`](http://docs.pivotal.io/pivotalcf/1-10/customizing/trouble-advanced.html#bosh-ssh) in to the newly created MySQL service instance.
 <pre class="terminal">
    $ bosh ssh mysql
 </pre>

  1. After securely logging into MySQL, run `sudo su` to become root.
 <pre class="terminal">
    $ sudo su
 </pre>

  1. Stop all running processes.
 <pre class="terminal">
    $ monit stop all
 </pre>

  1. Run `watch` with `monit summary` and wait until all jobs show as `not monitored`. This means they have stopped.
 <pre class="terminal">
    $ watch monit summary
 </pre>

  1. Delete the existing MySQL database stored on disk.
 <pre class="terminal">
    $ rm -rf /var/vcap/store/mysql/data/*
 </pre>
   <p class="note warning"><strong>WARNING</strong>: This is a destructive action and should only be run on a new and unused service instance.</p>

  1. Exit the MySQL VM.

1. Restore the backup artifact to the new service instance:
  1. Copy the downloaded backup artifact to the new service instance.
    <pre class="terminal">
     $ bosh scp mysql-backup-TIMESTAMP.tar.gpg BOSH-INSTANCE:DESTINATION-PATH
    </pre>
      - BOSH-INSTANCE is `mysql/INSTANCE-GUID`. For example, `mysql/d7ff8d46-c3e8-449f-aea7-5a05b0a1929c`.
      - DESTINATION-PATH is where the backup file saves on the BOSH VM. For example, `/tmp/`.

  1. Use the [BOSH CLI to `ssh`](http://docs.pivotal.io/pivotalcf/1-10/customizing/trouble-advanced.html#bosh-ssh) in to the newly created MySQL service instance.
 <pre class="terminal">
     $ bosh ssh mysql
 </pre>

  1. After securely logging into MySQL, run `sudo su` to become root.
 <pre class="terminal">
    $ sudo su
 </pre>

  1. Run `gpg --decrypt` to decrypt the backup file. When prompted, enter the [GPG](https://www.gnupg.org) decryption passphrase from the service instance manifest's `properties.cf-mysql-backup.symmetric_key` value, which you recorded earlier.
 <pre class="terminal">
     $ gpg --decrypt /tmp/mysql-backup.tar.gpg > /tmp/mysql-backup.tar
 </pre>

  1. Expand the backup artifact into the data directory for the MySQL server.
 <pre class="terminal">
     $ tar xvf /tmp/mysql-backup.tar --directory=/var/vcap/store/mysql/data/
 </pre>

  1. Modify the data directory owner to `vcap` or the mysql server cannot access the data.
 <pre class="terminal">
     $ chown -R vcap:vcap /var/vcap/store/mysql
 </pre>

  1. Restart the BOSH jobs to resume the MySQL server.
  <pre class="terminal">
     $ monit start all
 </pre>

  1. Use monit to ensure all processes start successfully; all processes should be listed as `running`.
 <pre class="terminal">
     $ watch monit summary
 </pre>

  1. Delete old service binding created users. User tables get backed up along with databases, so any users that existed
     in the backup are transferred over during restoration. To secure the database, determine and delete all users
     that have randomly generated usernames:
     <pre class="terminal">
      $ /var/vcap/packages/percona-server/bin/mysql -uadmin -p
      <br />
      mysql> select USER from mysql.user;
      +----------------------------------+
      | USER                             |
      +----------------------------------+
      | 9b930c5813e049ca863b4acbf4000a8c |
      | admin                            |
      | e82b9b479bf64eb5854c93065810c95b |
      | mysql.sys                        |
      +----------------------------------+
      4 rows in set (0.00 sec)
      <br />
      mysql> drop user 9b930c5813e049ca863b4acbf4000a8c;
      <br />
      mysql> drop user e82b9b479bf64eb5854c93065810c95b;
     </pre>

  1. Exit the MySQL VM.

1. Update your CF app to bind to the new service instance.
 <pre class="terminal">
   $ cf bind-service my-app NEW\_SERVICE\_INSTANCE
 </pre>

1. Start your CF app.
 <pre class="terminal">
   $ cf start my-app
 </pre>

1. Your app should be running and able to access the restored data.
