---
title: Bootstrapping (HA Cluster)
owner: MySQL
---

In this topic:

<div>
    <ul>
        <li><a href="#when-to-bootstrap">When to Bootstrap</a></li>
        <li><a href="#assisted-bootstrap">Run the Bootstrap Errand</a></li>
        <ul>
          <li><a href="#determine-failure">Determine Type of Cluster Failure</a></li>
          <li><a href="#cluster-disrupted">Scenario 1: Virtual Machines Running, Cluster Disrupted</a></li>
          <li><a href="#vms-terminated">Scenario 2: Virtual Machines Terminated or Lost</a></li>
        </ul>
        <li><a href="#manual-bootstrap">Bootstrap Manually</a></li>
        <ul>
          <li><a href="#shut-down">Shut Down MySQL</a></li>
          <li><a href="#choose-node">Choose Node to Bootstrap</a></li>
          <li><a href="#set-bootstrap-node">Bootstrap the First Node</a></li>
          <li><a href="#restart-nodes">Restart Remaining Nodes</a></li>
        </ul>
    </ul>
</div>

<strong><%= modified_date %></strong>

<%= partial "../../p-mysql/partials/mysql/galera_beta" %>

<!-- This partial is located at https://github.com/pivotal-cf/docs-partials/blob/master/_mysql_bootstrapping.html.md.erb

This partial is also used in the PCF docs. Any edits should make sense in that context as well.
https://github.com/pivotal-cf/docs-pcf-install/blob/3f1494f7b239204ec807c63a9c90d852483d4d74/mysql_bootstrap_ert.html.md.erb

If you edit an header in the partial, you must manually edit the TOC above.
-->
<%= partial '../../p-mysql/partials/mysql/mysql_bootstrapping' %>
