---
title: Bootstrapping
owner: MySQL
---

<div class="quick-links">
    <ul>
        <li><a href="#when-to-bootstrap">When to Bootstrap</a></li>
        <li><a href="#assisted-bootstrap">Run the Bootstrap Errand</a></li>
        <ul>
        </ul>
        <li><a href="#linkthree">Link Three</a></li>
    </ul>
</div>

<%= partial '../../mysql/odb/mysql_bootstrapping' %>
