---
title: Rotating MySQL Credentials
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic describes how an operator rotates credentials for MySQL for Pivotal Cloud Foundry&reg;(p-mysql). 

1. Install the User Account and Authentication (UAA) Command Line Interface (UAAC).
  <pre class="terminal">$ gem install cf-uaac</pre>

1. Make sure `uaac` gem is installed.
  <pre class="terminal">$ which uaac
    /Users/pivotal/.gem/ruby/2.3.0/bin/uaac
  </pre>
1. Target your Ops Manager UAA:
  <pre class="terminal">
  $ uaac target <span>https</span>://YOUR-OPSMAN-FQDN/uaa/ --ca-cert ~/YOUR-ROOT-CA.crt --skip-ssl-validation
  Target: <span>https<span>://YOUR-OPSMAN-FQDN/uaa/
  </pre>

1. Get your token. Use the same user name and password you use to log into the Ops Manager web interface. CLIENT SECRET IS EMPTY!! This is same user and pass as Ops Man UI.
  <pre class="terminal">
  $ uaac token owner get
  Client ID:  opsman
  Client secret:
  User name:  admin
  Password:  *********
  Successfully fetched token via owner password grant.
  Target: <span>https</span>://YOUR-OPSMAN-FQDN/uaa
  Context: admin, from client opsman
  </pre>

1. Run the following command to display the users and applications authorized by the UAA server, and the permissions granted to each user and application.
  <pre class="terminal">$ uaac context
  [1]<span>*</span><span>*</span>[<span>https</span>://YOUR-OPSMAN-FQDN/uaa]
  skip\_ssl\_validation: true
  ca\_cert: /Users/pivotal/.ssh/YOUR-ROOT-CA.crt
  [0]*[admin]
  user\_id: 75acfdfa-9449-4497-a093-ce40ded250ac
  client\_id: opsman
  access\_token: LONG\_ACCESS\_TOKEN\_STRING
  token\_type: bearer
  refresh\_token: LONG\_REFRESH\_TOKEN\_STRING
  expires\_in: 43199
  scope: clients.read opsman.user uaa.admin scim.read opsman.admin clients.write scim.write
  jti: 8419c793d377429aa40eea07fb6e7686
  </pre>

1. Create a file called `uaac-token` that contains only the LONG\_ACCESS\_TOKEN\_STRING from the output above. 

1. Use `curl` to make a request to the Ops Manager API. Authenticate with the contents of the `uaac-token` file and pipe the response into `installation_settings_current.json`.
<pre class="terminal">
$ curl -skH "Authorization: Bearer $(cat uaac-token)" <span>https:</span>//YOUR-OPSMAN-FQDN/api/installation_settings > installation\_settings\_current.json
</pre>

1. Locate your MySQL for PCF and Elastic Runtime Tile MySQL admin passwords.
<p class="note"><strong>Note</strong>: To retrieve your p-mysql admin password, navigate to the Ops Manager Installation Dashboard and select <strong>MySQL > Credentials</strong>. To retrieve your Elastic Runtime MySQL admin password, select <strong>Pivotal Elastic Runtime > Credentials</strong>.</p>

**Note: We call it Admin Credentials in the UI but it is root.**

1. Check to see that both the p-mysql and ERT MySQL admin passwords are in the current installation settings file:
  <pre class="terminal">
  $ grep -c YOUR-P-MYSQL-ADMIN-PASSWORD installation\_settings\_current.json
  $ grep -c YOUR-ERT-MYSQL-ADMIN-PASSWORD installation\_settings\_current.json
  </pre>

1. Remove both passwords from the installation settings file.
  <pre class="terminal">
  $ sed -e's/"value":{"identity":"root","password":"[^"]*"},\("identifier":"mysql\_admin\)/\1/g' installation\_settings\_current.json > installation\_settings\_updated.json
  </pre>

1. Validate that both passwords have been removed from the `installation_settings_updated.json` file.
  <pre class="terminal">
  $ grep -c YOUR-P-MYSQL-ADMIN-PASSWORD installation\_settings\_updated.json
  0
  </pre>
  <pre class="terminal">
  $ grep -c YOUR-ERT-MYSQL-ADMIN-PASSWORD installation\_settings\_updated.json
  0
  </pre>

1. Upload the updated installation settings.
   <pre class="terminal">
  $ curl -skX POST -H "Authorization: Bearer $(cat uaac-token)" "https://YOUR-OPSMAN-FQDN/uaa/api/installation\_settings" -F 'installation[file]=@installation_settings_updated.json'
  {}
  </pre>

1. Navigate to the Ops Manager Installation Dashboard and click **Apply Changes**.

1. Once the installation has completed, validate that the p-mysql password has been changed. Retrieve the new password from <strong>MySQL > Credentials</strong>. Use the IP address for the **MySQL Proxy** located in the status tab.
   <pre class="terminal">$ mysql -uroot -p -h 10.85.21.137
  Enter password:
  Welcome to the MariaDB monitor.  Commands end with ; or \g.
  [...]
  </pre>

1. Validate that the ERT MySQL password has been changed, using the new password in <strong>Elastic Runtime MySQL > Credentials</strong>. Use the IP address for the **MySQL Proxy**, located in the status tab.
   <pre class="terminal">
  $ mysql -uroot -p -h 10.85.21.98
  Enter password:
  Welcome to the MariaDB monitor.  Commands end with ; or \g.
  </pre>