---
title: Customizing Database Credentials
owner: MySQL
---

This topic provides instructions for developers to customize access credentials and privileges for MySQL for Pivotal Cloud Foundry (PCF) service instances.

These procedures use the Cloud Foundry Command Line Interface (cf CLI).
You can also use [Apps Manager](http://docs.pivotal.io/pivotalcf/console/dev-console.html) to do the same tasks
using a graphical UI.

For information about using MySQL for PCF, see [Using MySQL for PCF](./use.html).

## <a id="read-only"></a>Create Read Only Access Credentials 

MySQL for PCF lets space developers create read-only credentials to give to users who need read-only access to the database.
You can create credentials by using the cf CLI to create a new [service key](https://docs.pivotal.io/pivotalcf/1-12/devguide/services/service-keys.html).

To create and find read-only credentials for an existing service instance, do the following:

 1. Create a new service key for a service instance, specifying it to be `read-only`.
    <pre class="terminal">
    cf create-service-key SERVICE\_INSTANCE KEY\_NAME -c '{ "read-only": true }'
    Creating service key KEY\_NAME for service instance SERVICE\_INSTANCE as admin...
    OK</pre>

 1. Retrieve the read-only credentials from the service key.
    <pre class="terminal">
    cf service-key SERVICE\_INSTANCE KEY\_NAME</br>
    {
     "hostname": "99.99.99.9",
     "jdbcUrl": "jdbc:mysql://99.99.99.9:3306/cf\_e2d148a8\_1baa\_4961\_b314_2431f57037e5?user=abcdefghijklm\u0026password=123456789",
     "name": "cf\_e2d148a8\_1baa\_4961\_b314\_2431f57037e5",
     "password": "123456789",
     "port": 3306,
     "uri": "mysql://abcdefghijklm:123456789<span>@</span>99.99.99.9:3306/cf\_e2d148a8\_1baa\_4961\_b314\_2431f57037e5?reconnect=true",
     "username": "abcdefghijklm"
    }</pre>

<p class="note"><strong>Note</strong>: Any user with access to create a service key may provision a fully privileged
service key.</p>

## <a id="username"></a>Create Credentials for a Custom Username

If you have users that want to access the database with a specific username, MySQL for PCF lets space developers create custom
usernames for service keys or service bindings.
You can create credentials by using the cf CLI to create a new [service key](https://docs.pivotal.io/pivotalcf/1-12/devguide/services/service-keys.html).

To create and find custom username credentials for an existing service instance, do the following:

 1. Create a new service key for a service-instance, specifying a `username`.
    <pre class="terminal">
    cf create-service-key SERVICE\_INSTANCE KEY\_NAME -c '{ "username": NEW-USER-NAME }'
    Creating service key KEY\_NAME for service instance SERVICE\_INSTANCE as admin...
    OK</pre>

 1. Retrieve the credentials from the service key.
    <pre class="terminal">
    cf service-key SERVICE\_INSTANCE KEY\_NAME</br>
    {
     "hostname": "10.10.10.5",
     "jdbcUrl": "jdbc:mysql://10.10.10.5:3306/cf\_e2d148a8\_1baa\_4961\_b314_2431f57037e5?user=my\_unique\_name\u0026password=123456789",
     "name": "cf\_e2d148a8\_1baa\_4961\_b314\_2431f57037e5",
     "password": "123456789",
     "port": 3306,
     "uri": "mysql://my\_unique\_name:123456789<span>@</span>10.10.10.5:3306/cf\_e2d148a8\_1baa\_4961\_b314\_2431f57037e5?reconnect=true",
     "username": "NEW-USER-NAME"
    }</pre>

<p class="note"><strong>Note</strong>: Any user with access to create a service key may provision a fully privileged
service key.</p>
