---
title: MySQL for Pivotal Cloud Foundry
owner: MySQL
---

<strong><%= modified_date %></strong>


This guide describes setting up and using MySQL for Pivotal Cloud Foundry (PCF) as an on-demand service.

## <a id='AboutTile'></a>About MySQL for PCF

MySQL for PCF enables PCF app developers to provision and use a MySQL database with a
single command.

The MySQL for PCF product delivers dedicated instances on demand, "Database as a Service", to PCF users.
When installed, the tile deploys and maintains a single Service Broker that is
responsible for PCF integration.
The service is configured with sane defaults, following the principle of least
surprise for a general-use relational database service.

MySQL for PCF supports the following VM topologies: 

  + Single node.
  + Leader-follower. For more information, see [About Leader-Follower](./about-leader-follower.html).
  + Highly available cluster. For highly available clusters, MySQL for PCF uses a patched Galera Cluster, Percona XtraDB Cluster (PXC).
    For more information about PXC,
    see [Percona XtraDB Cluster](https://www.percona.com/software/mysql-database/percona-xtradb-cluster).
    
<%= partial "./galera_beta" %>

<!-- For more information about Galera Clusters, see [WHATEVER THIS ENDS UP BEING](). -->

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about MySQL for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v2.5.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>MM DD, YYYY</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Percona Server v5.7.20-21</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v2.3.x and v2.2.2 or later</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) version(s)</td>
        <td>v2.3.x and v2.2.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
</table>


##<a id="feedback"></a> Feedback

Please provide any bugs, feature requests, or questions to [the Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf–feedback@pivotal.io).
