---
title: MySQL for Pivotal Cloud Foundry
owner: MySQL
---

<p class="note warning"><strong>Warning:</strong> <%= vars.product_full %> 
	v<%= product_info['local_product_version'] %> is no longer supported 
because it has reached the End of General Support (EOGS) phase.
To stay up to date with the latest software and security updates,
upgrade to a supported version.
</p>

This guide describes setting up and using MySQL for Pivotal Cloud Foundry (PCF) as an on-demand service.

<p class="note"><strong>Note</strong>:
This documents MySQL for PCF v2.4, an on-demand service that creates dedicated, single-tenant service instances dynamically.
For the older, pre-provisioned service, see the v1.10 <a href="http://docs.pivotal.io/p-mysql/1-10">documentation</a> or select <strong>v1.10</strong> from the drop-down menu above.</p>

## <a id='AboutTile'></a>About MySQL for PCF

MySQL for PCF enables PCF app developers to provision and use a MySQL database with a
single command.

The MySQL for PCF product delivers dedicated instances on demand, "Database as a Service", to PCF users.
When installed, the tile deploys and maintains a single Service Broker that is responsible for PCF integration.
The service is configured with sane defaults, following the principle of least surprise for a general-use relational database service.

For more information about MySQL for PCF v2.4, see <a href="./minor-overview.html">Minor Overview</a>.

MySQL for PCF v2 introduces a new type of service, an *on-demand* service. MySQL for PCF v2 offers an alternative to the *pre-provisioned* service
that was in the v1.x series.

This table summarizes the main differences between the two:

<table id='mysql-odb-vs-pre' border="1" class="nice"><tr>
  <col style="width:15%">
  <col style="width:10%">
  <col style="width:28%">
  <col style="width:29%">
  <col style="width:18%">
   <th></th>
   <th>Available Since</th>
   <th>VMs it Runs On</th>
   <th>How VMs are Created</th>
   <th>Metrics Name Prefix</th>
   </tr><tr>
   <th>On-Demand Service</th>
   <td>New for v2</td>
   <td>Dedicated instance VM(s) dynamically provisioned on demand</td>
   <td>PCF creates each VM on-demand when an app developer creates service instance</td>
   <td><code>p.mysql</code> (with a dot)</td>
   </tr><tr>
   <th>Pre-Provisioned Service</th>
   <td>v1.4</td>
   <td>Multi-tenant VMs shared by apps across PCF deployment</td>
   <td>PCF creates all VMs when the operator deploys or updates service</td>
   <td><code>p-mysql</code> (with a dash)</td>
   </tr>
</table>

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about MySQL for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v2.4.6</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>June 13, 2019</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Percona Server 5.7.24-26</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>2.2, 2.3, and 2.4</td>
    </tr>
    <tr>
        <td>Compatible Pivotal Application Service (PAS) version(s)</td>
        <td>2.2, 2.3, and 2.4</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
    <tr>
        <td>IPsec support</td>
        <td>Yes</td>
    </tr>
</table>



##<a id="other-services"></a> MySQL for PCF and Other PCF Services

As well as MySQL for PCF, other Pivotal Cloud Foundry services offer *on-demand* service plans.
These plans let developers provision service instances when they want.

These contrast with the older *pre-provisioned* service plans,
which require operators to provision the service instances during installation
and configuration through the service tile UI.

The following table lists which PCF services offer on-demand
and pre-provisioned service plans:

<table class="nice">
  <tr>
    <th width="20%">PCF service tile</th>
    <th width="20%">Standalone product related to the service</th>
    <th width="20%">Supports on-demand</th>
    <th width="40%">Supports pre-provisioned</th>
  </tr>
  <tr>
    <td>RabbitMQ for PCF</td>
    <td>Pivotal RabbitMQ</td>
    <td>Yes</td>
    <td>Yes. Only recommended for test environments.</td>
  </tr>
  <tr>
    <td>Redis for PCF</td>
    <td>Redis</td>
    <td>Yes</td>
    <td>Yes (shared-VM plan). Only recommended for test environments.</td>
  </tr>
  <tr>
    <td>MySQL for PCF</td>
    <td>MySQL </td>
    <td>Yes<br></td>
    <td>No</td>
  </tr>
  <tr>
    <td>Pivotal Cloud Cache (PCC)</td>
    <td>Pivotal GemFire</td>
    <td>Yes</td>
    <td>No</td>
  </tr>
</table>
<br>
For services that offer both on-demand and pre-provisioned plans, you can choose the
plan you want to use when configuring the tile.

##<a id="feedback"></a> Feedback

Please provide any bugs, feature requests, or questions to [the Pivotal Cloud Foundry Feedback list](mailto:pivotal-cf–feedback@pivotal.io).
