---
title: MySQL for Pivotal Cloud Foundry
owner: MySQL
---

This guide describes setting up and using MySQL for Pivotal Cloud Foundry (PCF) as an on-demand service.

<p class="note"><strong>Note</strong>:
This documents MySQL for PCF v2.1, an on-demand service that creates dedicated, single-tenant service instances dynamically. For the older, pre-provisioned service, see the v1.10 documentation <a href="http://docs.pivotal.io/p-mysql/1-9">here</a> or select <strong>v1.10</strong> from the dropdown above.</p>

## <a id='AboutTile'></a>About MySQL for PCF

MySQL for PCF enables PCF app developers to provision and use a MySQL database with a
single command.

MySQL for PCF v2 introduces a new type of service, an *on-demand* service. MySQL for PCF v2 offers an alternative to the *pre-provisioned* service
that was in the v1.x series.

This table summarizes the main differences between the two:

<table id='mysql-odb-vs-pre' border="1" class="nice"><tr>
   <th></th>
   <th>Available since</th>
   <th>VMs it runs on</th>
   <th>How VMs are created</th>
   <th>Metrics name prefix</th>
   </tr><tr>
   <th>On-Demand Service</th>
   <td>New for v2</td>
   <td>Dedicated VM that serves a single service instance</td>
   <td>PCF creates each VM on-demand when app developer creates service instance</td>
   <td><code>p.mysql</code> (with a dot)</td>
   </tr><tr>
   <th>Pre-Provisioned Service</th>
   <td>v1.4</td>
   <td>Multi-tenant VMs shared by apps across PCF deployment</td>
   <td>PCF creates all VMs when operator deploys or updates service</td>
   <td><code>p-mysql</code> (with a dash)</td>
   </tr>
</table>

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about MySQL for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v2.1.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>October 15, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Percona Server v5.7.18–14</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.11.x and v1.12.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.11.x and v1.12.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="overview"></a> Overview ##

The MySQL for PCF product delivers dedicated instances on demand, "Database as a Service", to Cloud Foundry users. 
When installed, the tile deploys and maintains a single Service Broker that is responsible for Cloud Foundry integration.
The service is configured with sane defaults, following the principle of least surprise for a general-use relational database service.

For more information about MySQL for PCF v2.1, see <a href="/p-mysql/2-1/minor-overview.html">Minor Overview</a>.
