---
title: MySQL for Pivotal Cloud Foundry
owner: MySQL
---

<p class="note"><strong>Note</strong>: Pre-released DRAFT documentation. </p>
This guide describes setting up and using MySQL for Pivotal Cloud Foundry (PCF) as an on-demand service.

## <a id='AboutTile'></a>About MySQL for PCF

MySQL for PCF enables PCF app developers to provision and use a MySQL database with a
single command.

MySQL for PCF v2.0 introduces a new type of service, an *on-demand* service. MySQL for PCF v2.0 replaces the *pre-provisioned* service
that was in the v1.x series.

This table summarizes the main differences between the two:

<table id='mysql-odb-vs-pre' border="1" class="nice"><tr>
   <th></th>
   <th>Available Since</th>
   <th>VMs it Runs On</th>
   <th>How VMs are Created</th>
   <th>Metrics Name Prefix</th>
   </tr><tr>
   <th>On-Demand Service</th>
   <td>New for v2.0</td>
   <td>Dedicated VM that serves a single service instance</td>
   <td>PCF creates each VM on-demand when app developer creates service instance</td>
   <td><code>p.mysql</code> (with a dot)</td>
   </tr><tr>
   <th>Pre-Provisioned Service</th>
   <td>v1.4</td>
   <td>Multi-tenant VMs shared by apps across PCF deployment</td>
   <td>PCF creates all VMs when operator deploys or updates service</td>
   <td><code>p-mysql</code> (with a dash)</td>
   </tr>
</table>

## <a id='snapshot'></a> Product Snapshot

The following table provides version and version-support information about RabbitMQ for PCF.

<table class="nice">
    <th>Element</th>
    <th>Details</th>
    <tr>
        <td>Version</td>
        <td>v2.0.0</td>
    </tr>
    <tr>
        <td>Release date</td>
        <td>April 15, 2017</td>
    </tr>
    <tr>
        <td>Software component version</td>
        <td>Percona Server v5.7.17-11</td>
    </tr>
    <tr>
        <td>Compatible Ops Manager version(s)</td>
        <td>v1.10.x</td>
    </tr>
    <tr>
        <td>Compatible Elastic Runtime version(s)</td>
        <td>v1.10.x</td>
    </tr>
    <tr>
        <td>IaaS support</td>
        <td>AWS, Azure, GCP, OpenStack, and vSphere</td>
    </tr>
</table>

## <a id="overview"></a> Overview ##

The MySQL for PCF product delivers dedicated instances on demand, "Database as a Service" to Cloud Foundry users. When installed, the tile deploys and maintains a single Service Broker that is responsible for Cloud Foundry integration. We work hard to ship the service configured with sane defaults, following the principle of least surprise for a general-use relational database service.

When installed, developers can attach a database to their applications in as little as two commands, `cf create-service` and `cf bind-service`. Connection credentials are automatically provided in the [standard manner](https://docs.pivotal.io/pivotalcf/devguide/deploy-apps/environment-variable.html#VCAP-SERVICES). Developers can select from a menu of service plans options, which are configured by the platform operator.

Each instance of the service offering meets the following criteria:

<center>
<table>
  <tr><td>**MySQL Server**</td><td>1 dedicated VM</td></tr>

  <tr><td>**Service Broker**</td><td>1 dedicated VM</td></tr>
  <tr><td>High Availability</td><td>-</td></tr>
  <tr><td>Multi-AZ Support</td><td>Yes</td></tr>
  <tr><td>Rolling Upgrades</td><td>-</td><tr>
  <tr><td>Automated Backups</td><td>Yes</td></tr>
  <tr><td>Customizable Plans</td><td>Yes</td></tr>
  <tr><td>Customizable VM Instances</td><td>Yes</td></tr>
  <tr><td>Plan Migrations</td><td>Yes</td></tr>
  <tr><td>Encrypted Communication</td><td>Yes &#x271D;</td></tr>
  <tr><td>Encrypted Data at-rest</td><td>-</td></tr>
  <tr><td>Long-lived Canaries</td><td>-</td></tr>
</table>
</center>

(*) vSphere only, v1.7 and earlier<br>
(&#x271D;) Requires IPSEC BOSH plug-in
