---
title: MySQL for Pivotal Cloud Foundry
owner: MySQL
---

## <a id="product-snapshot"></a>Product Snapshot ##

Current MySQL for PCF Details
<div style="line-height: 1; padding-left: 3em">

- **Version**: v1.8.3
- **Release Date**: February 9, 2017
- **Software component versions**: MariaDB v10.1.18, Galera v25.3.17
- **Compatible Ops Manager Version(s)**: v1.8.x, v1.9.x
- **Compatible Elastic Runtime Version(s)**: v1.8.x, v1.9.x
- **vSphere support?** Yes
- **AWS support?** Yes
- **OpenStack support?** Yes
- **IPSec support?** Yes

</div>

## <a id="upgrading"></a>Upgrading to the Latest Version ##
Consider the following compatibility information before upgrading MySQL.

For more information, refer to the full [Product Compatibility Matrix](../../compatibility-matrix.pdf).

<table border="1" class="nice">
	<tr>
		<th rowspan="2">Ops Manager Version</th>
		<th colspan="2">Supported Upgrades from Imported MySQL Installation</th>
	</tr>
	  <tr>
	  	<th>From</th>
	  	<th>To</th>
	  <tr>

	<tr>
	  <th rowspan="6">v1.8.x, v1.9.x</th>
		<td rowspan="3">v1.6.1 – v1.6.22</td><td>Next v1.6.x release – v1.6.23</td>
		</tr>
		<tr>
		  <td>v1.7.0 – v1.7.23</td>
		</tr>
		<tr>
			<td>v1.8.3</td>
		</tr>
		<tr>
			<td rowspan=2>v1.7.0 – v1.7.22</td><td>Next v1.7.x release – v1.7.23</td>
	                                   <tr><td>v1.8.3</td></tr>
    <tr><td>v1.8.0 – v1.8.2</td><td>v1.8.3</td></tr>
	</tr>

</table>

## <a id="release-notes"></a>Release Notes ##

Consult the [Release Notes](release-notes.html) for information about changes between versions of this product.


