---
title: Known Issues
owner: MySQL
---

## <a id="broken-errand-templates"></a> Bootstrap and Rejoin-Unsafe Errand Issue

There is an issue in versions 1.8.0 - 1.8.2 in which the `bootstrap` and `rejoin-unsafe` errands fail with an error like this:

    Error 100: Unable to render jobs for instance group 'rejoin-unsafe'. Errors are:
       - Unable to render templates for job 'rejoin-unsafe'. Errors are:
         - Error filling in template 'config.yml.erb' (line 8: Can't find link 'arbitrator')

This is a bug in those releases. It will be addressed in a coming release. In the meanwhile, it may be necessary to perform these steps manually:

  - For `boostrap`, you must use the [manual bootstrap](bootstrapping.html#manual-bootstrap) instructions to restore access to the cluster.
  - For `rejoin-unsafe`, you must follow these steps:
    1. Log into the node which has tripped the [interruptor](monitoring-mysql.html#interruptor) and become root.
    1. monit stop mariadb_ctrl
    1. rm -rf /var/vcap/store/mysql
    1. /var/vcap/jobs/mysql/bin/pre-start
    1. monit start mariadb_ctrl

## <a id="compile-fails"></a> Compile fails in environments that do not have access to the Internet ##

In MySQL for Pivotal Cloud Foundry (PCF) `1.8.0-Edge.5` and `1.8.0-Edge.6`, there is a regression which will cause the compile stage to fail while installing the tile on environments that do not have access to the Internet. We regret the error.

## <a id="backups-medata"></a> Backups Metadata ##

In MySQL for PCF 1.7.0, both `compressed` and `encrypted` show as `N` in the backup metadata file. This is due to the fact that MySQL for PCF implements compression and encryption outside of the tool used to generate the file. This is a known defect.
