---
title: Known Issues
owner: MySQL
---

This topic lists known issues with specific releases of MySQL for Pivotal Cloud Foundry (PCF).

## <a id="metrics-1.11"></a>No metrics on PCF v1.11

All v1.9.x releases of MySQL for PCF do not produce metrics when installed on PCF v1.11 or later.

## <a id="ipsec-timeouts"></a>Install fails when using IPsec

In releases previous to MySQL for PCF v1.9.3, when IPsec is also installed, the product may fail to deploy. This may be due to an issue where the default probe timeout is too long while running under IPsec, and should be reduced. Version 1.9.3 of MySQL for PCF allows you to reduce the New Cluster Probe Timeout in the MySQL server configuration page. For more information, see [MySQL Server Configuration](configuring.html#cluster-probe-timeout).

## <a id="rejoin-unsafe-fails"></a>Rejoin Unsafe Fails

In releases previous to MySQL for PCF v1.9.2, due to a timeout in the startup procedure, if a node takes a long time to catch up while rejoining the cluster, the procedure appears to fail. This has been fixed in v1.9.2.

## <a id="node-cannot-rejoin"></a>Node Cannot Rejoin

In releases previous to MySQL for PCF v1.9.2, there is a condition in which, if MariaDB crashes, and further fails during re-start, the startup processes does not notice the failure. Most frequently, this happens when MariaDB legitimately crashes during normal operation, and when restarting, needs to SST but is prevented by the [Interruptor](interruptor.html). Be aware that there are other conditions when a node crashes on startup (such as full disk, persistent storage issue, etc). To resolve this, it is necessary to run `monit stop mariadb_ctrl` on the failing node, before you can successfully run the `rejoin-unsafe` errand.

This failure condition can happen silently. Therefore, you must monitor the state of your cluster by watching `wsrep_cluster_size`, watching the proxy page, or via `mysql-diag` tool, to notice that a node is unable to restart. This has been fixed in v1.9.2.
