---
title: Using Leader-Follower For Availability
owner: MySQL
---

You can maintain availability of your MySQL databases by keeping two copies of your database,
one on a leader (master) instance, and another on a follower (slave) instance. If the leader instance fails due to hardware or software issues, or during a period of planned maintenance, you can initiate a failover to the follower instance, so that the apps that bind to your MySQL databases experience no downtime.

For more information, see:

* [About Leader-Follower](./about-leader-follower.html) 
* [Events that Interrupt Service](./interruptions.html)

## Leader-Follower Setup and Failover Process

The following are the high-level steps for setting up and using leader-follower failover:

1. The operator makes a new Leader-Follower plan available in the marketplace.

1. Developers create an instance from the Leader-Follower plan. Doing this automatically deploys two MySQL VMs in a leader-follower topology.

1. Developers bind apps to the leader in leader-follower instance, using the leader's IP address. Data is written to the leader, and asynchronously replicated on the follower.

1. If the leader instance fails, the operator triggers a failover. The working instance (follower) becomes the new leader.

1. Apps bound to the leader-follower instance are automatically bound to the new leader.


## <a id="pre-reqs"></a>Prerequisites


## Configure Leader-Follower 

### Configure a Leader-Follower Service Plan

1. Click the tab for one of the available plans, Plan 1 - Plan 5.
1. Select the **Multi-node deployment** checkbox.
1. Select a **MySQL VM Type** and a **MySQL Persistent Disk**
1. Select two **MySQL Availability Zones** to use for the MySQL VMs.

### Configure Who's Leader and Who's Follower


### Leader-Follower Errands

These errands are available to manage the leader-follower configuration:

`configure-leader-follower`
`make-leader`
`make-read-only`


## <a id="monitor"></a> Monitor Leader-Follower Instances

In order to decide if a failover is needed, you must monitor leader-follower instances.


## <a id="failover"></a> Trigger a Failover


This section describes two scenarios for failover:

* You can access AZ1
* You cannot access AZ1

Let's say one VM in your leader-follower pair is down or you intend to take it down for planned maintenace.

1. For each app using bound to the


