---
title: Maintaining Availability with Leader-Follower
owner: MySQL
---

This topic explains how to maintain availability of your MySQL databases by keeping two copies of your database,
one on a leader (master) instance and a second one on a follower (slave) instance. 

The procedures in this topic assume that you have enabled Leader-Follower for your database instances. 
For more information, see Some paragraphs in the Overview and Somewhere in the Planning Guide.

## <a id="pre-reqs"></a>Any Prerequisites?

Such as you must have set up Leader-Follower ... cross reference some instructions for set up in the Installing and Configuring topic.

## <a id="something1"></a>Imperative Verb + Adjective + Noun

Introduction to procedure... To do X, follow the steps below:


1. 

1. 



<p class="note"><strong>Note</strong>: Notes are formatted like this. </p>

Only use a warning if loss of data will happen if the warning is not heeded. 

<p class="note warning">
<strong>WARNING</strong>:Warnings are formatted like this.</p>
