---
title: Maintaining Availability with Leader-Follower
owner: MySQL
---

This topic explains how to maintain availability of your MySQL databases by keeping two copies of your database,
one on a leader (master) instance and a second one on a follower (slave) instance. 

The procedures in this topic assume that you have enabled leader-follower for your database instances. 
For more information, see [About Leader-Follower](./about-leader-follower.html).

## <a id="pre-reqs"></a>Any Prerequisites?

Such as you must have set up leader-follower ... cross reference some instructions for set up in the Installing and Configuring topic.

## <a id="communication"></a>Set up Leader-Follower Communication

Introduction to procedure... To do X, follow the steps below:


1. 

1. 



<p class="note"><strong>Note</strong>: Notes are formatted like this. </p>

Only use a warning if loss of data will happen if the warning is not heeded. 

<p class="note warning">
<strong>WARNING</strong>:Warnings are formatted like this.</p>

## <a id="monitor"></a> Monitor Leader-Follower Instances

In order to decide if a failover is needed, you must monitor leader-follower instances.

## <a id="failover"></a> Trigger a Failover

What happens when you failover? Do you now need to designate a new leader? Or is this automatic?

