---
title: Migrating a Database to MySQL for PCF v2
owner: MySQL
---

This page provides instructions on how to backup and restore your MySQL database. In particular, it provides instructions on taking a manual backup of your old instance and restoring to a new instance.

## <a id="backing-up"></a>Backing Up Your Current Database

If you are migrating from a MySQL for PCF v1.X database, please refer to the instructions below. If you are migrating from another MySQL provider, please refer to their documentation on taking a MySQL backup.

### <a id="backing-up-v1"></a>MySQL for PCF v1.X Instance

1. Stop any traffic to your existing database by stopping the application and unbinding the service. Assuming your application is deployed to Pivotal Cloud Foundry, do the following:
  1. `cf stop APP_NAME`
  1. `cf unbind-service APP_NAME OLD_SERVICE_INSTANCE_NAME`

1. Use a cf application to [create an ssh tunnel](https://docs.cloudfoundry.org/devguide/deploy-apps/ssh-services.html#push-app) to connect to your old service instance. The tunnel may appear as though it is hanging.
<p class="note"><strong>Note</strong>: Since your application is now stopped, you’ll need another application for the ssh tunnel. If you don’t have a running app running, try using https://github.com/cloudfoundry-samples/test-app.</p>

1. Take a backup of the existing database
  * `mysqldump --single-transaction --add-drop-table --add-locks --create-options --disable-keys --extended-insert --quick --set-charset --skip-opt --routines --flush-privileges -u USERNAME -p -h 0 -P 63306 SERVICE_KEY_DB_NAME > backup.sql`
     * `SERVICE_KEY_DB_NAME` is the “name” property from your service-key
     * `USERNAME` is the “username” property from your service-key
     * `63306` is the available port you configured in the ssh tunnel on your local machine
1. Kill the ssh tunnel

##  <a id="restoring"></a>Restoring To Your New Database

#### Prerequisites 

* The persistent disk is large enough to hold the data from your backup.
 
 To restore your backup to a new service instance of MySQL for PCF:
 
 1. Create a new instance of the plan that you wish to restore to by following [these steps](using.html#create).
 
 1. Import your backup into your newly created service instance.
   1. Use a cf application to [create an ssh tunnel](https://docs.cloudfoundry.org/devguide/deploy-apps/ssh-services.html#push-app) to connect to your new service instance. The tunnel may appear as though it is hanging.
      <p class="note"><strong>Note</strong>: Since your application is now stopped, you’ll need another application for the ssh tunnel. If you don’t have a running app running, try using https://github.com/cloudfoundry-samples/test-app.</p>
   
   1. Restore your backup to the new service instance via the ssh tunnel
     1. `mysql -u USERNAME -p -h 0 -P 63306 -D SERVICE_KEY_DB_NAME < backup.sql`
        * `USERNAME` is the “username” property from your service-key
        * `SERVICE_KEY_DB_NAME` is the “name” property from your service-key
        * `63306` is the available port you configured in the ssh tunnel on your local machine
        * `backup.sql` is the path to the backup on your local machine
     1. Kill the ssh tunnel
  
 1. Bind your application to the new service instance and restart your application
   1. `cf bind-service APP_NAME NEW_SERVICE_INSTANCE`
   1. `cf restage APP_NAME`
   1. `cf start APP_NAME`
