---
title: Monitoring Proxy Health (Galera)
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic describes how to obtain the health status for each proxy instance 
in a Galera cluster.

If your cannot write or connect to your app, you should
check the health status of your proxy instances. You can observe the health status of proxy instances using the Switchboard dashboard or API endpoint. You can also view the number of client connections routed to each cluster node. 
For more information about proxy instances, see [MySQL Proxy](./proxy.html).

## <a id="prereq"></a>Prerequisite

To connect to Switchboard you need credentials. 

To obtain credentials for accessing the Switchboard dashboard and API, do the following:

1. Run the following command:

    ```
    cf service YOUR-GALERA
    ```
  
    Where `YOUR-GALERA` is the name of your Galera cluster.
  
    <pre class="terminal"> $ cf service myGalera
    Showing info of service myGalera in org acceptance / space example as admin...

    name:         myGalera
    service:      p.mysql
    tags:
    plan:         db-ha-small
    description:  Dedicated instances of MySQL
    documentation:
    dashboard:    proxy.123abc45-67d8-912e-34f5-g34612c10dba.org.dedicated-mysql.cf-app.com 
    (username: 'abcdefghijklmno', password: '012345678912345')

    Showing status of last operation from service myGalera...

    status:    update succeeded
    message:   Instance update completed
    started:   2018-11-20T01:25:55Z
    updated:   2018-11-20T01:30:33Z  
    </pre>

1. Record the dashboard hostname, username, and password.

## <a id="dashboard"></a>Monitor Proxy Health Using the Dashboard

To monitor proxy instance health status using the Switchboard dashboard, do the following:

1. To view a list of proxy instances in your browser, navigate to the hostname that you recorded in 
[Prerequisite](#prereq) above. For example, `proxy.123abc45-67d8-912e-34f5-g34612c10dba.org.dedicated-mysql.cf-app.com`

2. When prompted, enter the username and password that you recorded in 
[Prerequisite](#prereq) above.

2. Click the link for the proxy instance that you want to monitor.

2. If you are prompted, enter the username and password that you recorded in 
[Prerequisite](#prereq) above.

    <%= image_tag "images/switchboard-all-healthy.png" %>

## <a id="proxy-api"></a> Monitor Proxy Health Using the API ##

You can also use the Switchboard API to obtain the information that is shown on the Switchboard dashboard.

For example, you might want to use the API to write your own app to monitor the cluster.

To monitor proxy instance health status using the Switchboard API, do the following:

1. To monitor proxy instance health, run the following command:

    ```
    curl https://USERNAME:PASSWORD@N-HOSTNAME/v0/backends
    ```

    Where:
    + `USERNAME` is the `username` you recorded in [Prerequisite](#prereq) above.
    + `PASSWORD` is the `password` you recorded in [Prerequisite](#prereq) above.
    + `N` is either 0, 1, or 2 depending on the proxy you want to connect to. 
    + `HOSTNAME` is the `hostname` you recorded in [Prerequisite](#prereq) above.
    
    The above command outputs a JSON object similar to the following: 

    <pre class="terminal">
    $ curl https://abcdefghijklmno:012345678912345@0-proxy.123abc45-67d8-912e-34f5-g34612c10dba.org.dedicated-mysql.cf-app.com/v0/backends
    [
      {
        "host": "a-b1234c5d6.e-f891.bosh",
        "port": 6033,
        "healthy": true,
        "name": "backend-0",
        "currentSessionCount": 0,
        "active": true,
        "trafficEnabled": true
      },
      {
        "host": "a-b1234c5d6.e-f891.bosh",
        "port": 6033,
        "healthy": true,
        "name": "backend-1",
        "currentSessionCount": 0,
        "active": false,
        "trafficEnabled": true
      },
      {
        "host": "a-b1234c5d6.e-f891.bosh",
        "port": 6033,
        "healthy": true,
        "name": "backend-2",
        "currentSessionCount": 0,
        "active": false,
        "trafficEnabled": true
      }
    ]
    </pre>
  
