---
title: MySQL-Diag 
owner: MySQL
---

This topic discusses how to use the mysql-diag tool in Pivotal MySQL. MySQL-diag relays the state of your MySQL service and suggests steps to take in the event of a node failure. In conjunction with Support, this tool helps expedite the diagnosis and resolution of problems with MySQL. 

In Pivotal MySQL 1.9.0+, `mysql-diag` is automatically installed and configured. If you are on a prior version, select the documentation for your version of MySQL for PCF. 

## <a id="prepare">Prepare Your Environment</a>
1. If this is your first time using mysql-diag, follow the instructions within the [Prepare to Use the BOSH CLI](http://docs.pivotal.io/pivotalcf/1-9/customizing/trouble-advanced.html#prepare) topic. If you have completed this step in a prior use of mysql-diag, move directly to Step 2.

1. Select either Elastic Runtime or Pivotal MySQL as your deployment to troubleshoot. Perform the steps detailed in the [Select a Product Deployment to Troubleshoot
](http://docs.pivotal.io/pivotalcf/1-9/customizing/trouble-advanced.html#product) topic.

1. Run `bosh ssh` from the Ops Manager VM and select the **mysql-monitor node** from the list. Perform the steps detailed in the [Select a Product Deployment to Troubleshoot
](http://docs.pivotal.io/pivotalcf/1-9/customizing/trouble-advanced.html#bosh-ssh) topic.

## <a id="diag-agent">mysql-diag-agent</a>

Pivotal MySQL 1.9.0 and above will have the `mysql-diag-agent` present. Older versions of Pivotal MySQL do not have the `mysql-diag-agent`. If the `mysql-diag-agent` is not available, your output from the mysql-diag tool will not include the percentage of Persistent and Ephemeral Disk space used by a Host.

## <a id="sample-output">Outputs</a>

After preparing your environment, run the `mysql-diag` command from your terminal:
<pre class="terminal">$ mysql-diag</pre>

Upon running `mysql-diag` in your terminal, you will see the following if your canary status is healthy:
 
<pre class="terminal">Checking canary status...healthy</pre> 

Here is a sample `mysql-diag` output after the tool identifies a healthy cluster:  

<pre class="terminal">
Checking cluster status of mysql/a1 at 10.0.16.44 ...
Checking cluster status of mysql/c3 at 10.0.32.10 ...
Checking cluster status of mysql/b2 at 10.0.16.45 ...
Checking cluster status of mysql/a1 at 10.0.16.44 ... done
Checking cluster status of mysql/c3 at 10.0.32.10 ... done
Checking cluster status of mysql/b2 at 10.0.16.45 ... done

+------------+-----------+-------------------+----------------------+--------------------+
  |    HOST    | NAME/UUID | WSREP LOCAL STATE | WSREP CLUSTER STATUS | WSREP CLUSTER SIZE |
  +------------+-----------+-------------------+----------------------+--------------------+
  | 10.0.16.44 | mysql/a1  | Synced            | Primary              |                  3 |
  | 10.0.32.10 | mysql/c3  | Synced            | Primary              |                  3 |
  | 10.0.16.45 | mysql/b2  | Synced            | Primary              |                  3 |
  +------------+-----------+-------------------+----------------------+--------------------+
+------------+-----------+-------------------+----------------------+--------------------+
  |    HOST    | NAME/UUID | PERSISTENT DISK USED | EPHEMERAL DISK USED |
  +------------+-----------+-------------------+----------------------+--------------------+
  | 10.0.16.44 | mysql/a1  | 87.1% of 98.3G (0.0% of 6.55M inodes)| 35.4% of 2.9G (30.0% of 0.20M inodes)        |                 
  | 10.0.32.10 | mysql/c3  |  7.4% of 98.3G (0.0% of 6.55M inodes)          |              |  35.4% of 2.9G (30.0% of 0.20M inodes)               
  | 10.0.16.45 | mysql/b2  |  7.4% of 98.3G (0.0% of 6.55M inodes)          |            |   35.4% of 2.9G (30.0% of 0.20M inodes)              
  +------------+-----------+-------------------+----------------------+--------------------+
</pre>

Upon running `mysql-diag` in your terminal, you will see the following if your canary status is unhealthy:

<pre class="terminal">Checking canary status...unhealthy</pre> 

In the event of a broken cluster, running `mysql-diag` will output actionable steps meant to expedite that cluster’s recovery. Below is a sample `mysql-diag` output after the tool identifies a healthy cluster:  

+------------+-----------+-------------------+----------------------+--------------------+
  |    HOST    | NAME/UUID | WSREP LOCAL STATE | WSREP CLUSTER STATUS | WSREP CLUSTER SIZE |
  +------------+-----------+-------------------+----------------------+--------------------+
  | 10.0.16.44 | mysql/a1  | N/A - ERROR            | N/A - ERROR              |                N/A - ERROR |
  | 10.0.16.45 | mysql/b2 | N/A - ERROR           | N/A - ERROR              |                N/A - ERROR |
  | 10.0.32.10 | mysql/c3  | N/A - ERROR            | N/A - ERROR              |                N/A - ERROR |
  +------------+-----------+-------------------+----------------------+--------------------+
+------------+-----------+-------------------+----------------------+--------------------+
  |    HOST    | NAME/UUID | PERSISTENT DISK USED | EPHEMERAL DISK USED |
  +------------+-----------+-------------------+----------------------+--------------------+
  | 10.0.16.44 | mysql/a1  | 87.1% of 98.3G (0.0% of 6.55M inodes)| 35.4% of 2.9G (30.0% of 0.20M inodes)        |                 
  | 10.0.32.10 | mysql/c3  |  9.0% of 98.3G (0.0% of 6.55M inodes)          |              |  35.4% of 2.9G (30.0% of 0.20M inodes)               
  | 10.0.16.45 | mysql/b2  |  9.0% of 98.3G (0.0% of 6.55M inodes)          |            |   35.4% of 2.9G (30.0% of 0.20M inodes)              
  +------------+-----------+-------------------+----------------------+--------------------+

[CRITICAL] The replication process is unhealthy. Writes are disabled.

[CRITICAL] Run the download-logs command:
$ download-logs -d /tmp/output -n 10.0.16.44 -n 10.16.45 -n 10.0.32.10
For full information about how to download and use the download-logs command see https://discuss.pivotal.io/hc/en-us/articles/221504408

[WARNING]
Do not perform the following unless instructed by Pivotal Support:
- Do not scale down the cluster to one node then scale back. This puts user data at risk.
- Avoid “bosh recreate” and “bosh cck”. These options remove logs on the VMs making it harder to diagnose cluster issues. 
</pre>




