---
title: MySQL Monitoring Release Notes
owner: MySQL
---

## <a id="8.14.0"></a>mysql-monitoring v8.14.0

- **Bug fix:** mysql-diag should fail quickly when VMs in the cluster aren't available
- **Bug fix:** replication-canary causes high CPU spikes because it overwrites logs files rather than appends
