---
title: Running mysql-diag
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic discusses how to use the `mysql-diag` tool in  MySQL for Pivotal Cloud Foundry (PCF). `mysql-diag` relays the state of your MySQL service and suggests steps to take in the event of a node failure. In conjunction with Pivotal Support, this tool helps expedite the diagnosis and resolution of problems with MySQL for PCF.

In MySQL for PCF v1.10.0 and later, the `mysql-diag` tool is automatically installed and configured.

## <a id="run"></a> Run mysql-diag 

The commands that you use to run `mysql-diag` depend on which version of PCF you have.

#### <a id='bosh-v2'></a>Run mysql-diag Using BOSH CLI 

To use the BOSH CLI to run `mysql-diag`, do the following:

1. Perform the steps in <a href="https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#gather">Gather Credential and IP Address Information</a> and <a href="https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#ssh">SSH into Ops Manager</a> of <em>Advanced Troubleshooting with the BOSH CLI to SSH into the Ops Manager VM</em>.
1. From the Ops Manager VM, log in to your BOSH Director with the BOSH CLI. See <a href="https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#log-in">Log in to the BOSH Director</a> in <em>Advanced Troubleshooting with the BOSH CLI</em>.
1. Run `bosh2 -e MY-ENV -d MY-DEP ssh` from the Ops Manager VM and select the **mysql-monitor node** from the list. 

## <a id="diag-agent"></a> mysql-diag-agent ##

MySQL for PCF v1.10.0 and later have the `mysql-diag-agent`. If the `mysql-diag-agent` is not available, your output from the `mysql-diag` tool will not include the percentage of persistent and ephemeral disk space used by a host.

## <a id="healthy"></a> Example Healthy Output ##

The `mysql-diag` command returns the following message if your canary status is healthy:

<pre class="terminal">Checking canary status...healthy</pre>

Here is a sample `mysql-diag` output after the tool identified a healthy cluster:

<%= image_tag('mysql-diag-healthy-screen-shot.png') %>
<a href="images/mysql-diag-healthy-screen-shot.png" target="_blank">View a larger version of this image.</a>

## <a id="unhealthy"></a> Example Unhealthy Output ##

The `mysql-diag` command returns the following message if your canary status is unhealthy:

<pre class="terminal">Checking canary status...unhealthy</pre>

In the event of a broken cluster, running `mysql-diag` outputs actionable steps meant to expedite the recovery of that cluster. Below is a sample `mysql-diag` output after the tool identified an unhealthy cluster:

<%= image_tag('mysql-diag-unhealthy-screen-shot.png') %>
<a href="images/mysql-diag-unhealthy-screen-shot.png" target="_blank">View a larger version of this image.</a>
