---
title: MySQL Components Release Notes
owner: MySQL
---

<p class="note"><strong>Note</strong>: This topic contains informal release notes for internal components.
For release notes for MySQL for PCF v1.10, see <a href="release-notes.html">Release Notes</a>.
</p>

## <a id="monitoring-8.18.0"></a>mysql-monitoring v8.18.0

Released: May 3, 2018

- Updated version of uaa-go-client in notifications-client [[#156899178](https://www.pivotaltracker.com/story/show/156899178)]

## <a id="backups-2.3.0"></a>mysql-backups v2.3.0

Released: May 2, 2018

- **Changed:** streaming-mysql-backup-tool should use mysql defaults file rather than rely on /etc/mysql/my.cnf [[#156407009](https://www.pivotaltracker.com/story/show/156407009)]

## <a id="backups-2.2.0"></a>mysql-backups v2.2.0

  - **Do not use**


## <a id="monitoring-8.17.0"></a>mysql-monitoring v8.17.0

Released: April 5, 2018

- PXC-release should work with mysql-monitoring release [[#156546108](https://www.pivotaltracker.com/story/show/156546108)]

## <a id="monitoring-8.16.0"></a>mysql-monitoring v8.16.0

**Metrics updates**

* Sally would like to be able to monitor the CPU utilization of MySQL nodes via the firehose **so that** when a node is in distress, it can be raised as an alert. [[#154105601](https://www.pivotaltracker.com/story/show/154105601)].
* Sally would prefer to track app activity by monitoring the queries metric, rather than questions [[#153792436](https://www.pivotaltracker.com/story/show/153792436)].
* Sally would like to monitor app activity of the system by graphing the change in number of queries over time [[#154105776](https://www.pivotaltracker.com/story/show/154105776)].
* Sally does not find any value in the Busy time metric, as it is in seconds, not percentage [[#153792050](https://www.pivotaltracker.com/story/show/153792050)].
* Sally would like to turn off the mysql-metric logs [[#154818152](https://www.pivotaltracker.com/story/show/154818152)].

**Metrics for Leader/Follower**

* Sally should see metrics for instance read_only status [[#154154855](https://www.pivotaltracker.com/story/show/154154855)].
* Sally should see metrics for semi-sync replication [[#155790867](https://www.pivotaltracker.com/story/show/155790867)].

**mysql-diag updates**

* mysql-diag should use the larger of the two partitions for reporting ephemeral disk usage [[#155752812](https://www.pivotaltracker.com/story/show/155752812)].
* mysql-diag's download-logs suggestion shall match the syntax of v36.11's version [[#155485142](https://www.pivotaltracker.com/story/show/155485142)].
* **Bugfix:** mysql-diag shall refer to p-mysql 1.10 documentation [[#155482371](https://www.pivotaltracker.com/story/show/155482371)].

## <a id="monitoring-8-15.0"></a>mysql-monitoring v8.15.0

* **Improved:** Metrics can monitor MySQL via Unix domain socket

  Because metrics normally runs local to the MySQL node, there's no reason to use a network interface.
  Instead of supplying a hostname, the service author can specify connecting to MySQL over Unix domain socket
  by providing the file path to that socket, rather than a hostname.

## <a id="backup-2.1.0"></a>mysql-backup v2.1.0

<p class="note"><strong>Note</strong>: Pivotal updated the major version of mysql-backup-release to <strong>v2</strong>
   in recognition of the fact that v1.38.0 required TLS, which should have been a major version change.</p>

- Improvements to make backups more time efficient  [[#153953405](https://www.pivotaltracker.com/story/show/153953405)]
  - In our test environment, we shaved nearly 50% off backup times
- Produce error output if any backup fails **so that** Operator can alarm on failing backups [[#153613707](https://www.pivotaltracker.com/story/show/153613707)]
- mysql-backup no longer relies on `innobackupex`, which is deprecated [[#136521881](https://www.pivotaltracker.com/story/show/136521881)]
- **Bug fix:** `wsrep_sst_xtrabackup-v2` now logs errors to mysql stderr log [[#142287703](https://www.pivotaltracker.com/story/show/142287703)]
- **Bug fix:** Product now makes sure to properly shut all processes down, to avoid orphan processes after an upgrade, etc. [[#153616729](https://www.pivotaltracker.com/story/show/153616729)]
- **Bug fix:** streaming-mysql-backup-tool job fails if backup-prepare is scaled to 0 [[#153863821](https://www.pivotaltracker.com/story/show/153863821)]


## <a id="monitoring-8.14.0"></a>mysql-monitoring v8.14.0

- **Bug fix:** `mysql-diag` now fails quickly when VMs in the cluster aren't available.
- **Bug fix:** replication-canary causes high memory usage because it overwrites logs files rather than appends.

## <a id="monitoring-8.13.0"></a>mysql-monitoring v8.13.0

- **New:** Added metrics that represent disk usage as percentages.

 This makes it easier to alert on disk usage without knowing the deployment disk size.
 For more information, see [Persistent and Ephemeral Disk Used](monitor.html#disk-free).

  - /p-mysql/system/persistent\_disk\_used\_percent
  - /p-mysql/system/ephemeral\_disk\_used\_percent
  - /p-mysql/system/persistent\_disk\_inodes\_used\_percent
  - /p-mysql/system/ephemeral\_disk\_inodes\_used\_percent

## <a id="monitoring-8.12.0"></a>mysql-monitoring v8.12.0

- **New:** Several new metrics which report disk space usage.
- **Bug fix:** Addresses an issue where leader/follower replication lag was computed incorrectly.

## <a id="backup-1.38.0"></a>mysql-backup v1.38.0

- `streaming-mysql-backup-client` can be consumed as a library which would allow me to connect to a backup service and retrieve a backup artifact [[#153272120](https://www.pivotaltracker.com/story/show/153272120)] [[#153293970](https://www.pivotaltracker.com/story/show/153293970)].
- Sally would like the channel between streaming-backup-tool and client to be encrypted **so that** backup artifacts aren't transmitted cleartext [[#152686562](https://www.pivotaltracker.com/story/show/152686562)].
- **Bug fix:** `streaming-mysql-backup-client` should exit with non-zero status on failure  [[#150648415](https://www.pivotaltracker.com/story/show/150648415)].
