---
title: Preparing for Upgrading MySQL for PCF
owner: MySQL
---

<strong><%= modified_date %></strong>

This topic explains how to prepare for upgrading the MySQL for Pivotal Cloud Foundry (PCF) service and existing service instances.

Before you upgrade to MySQL for PCF v2.5, you must do the following:

+ [Remove Bindings with IP Addresses](#deprecated-bindings)
+ [Update Add-ons to Run with Xenial Stemcell](#update-addons)

## <a id="deprecated-bindings"></a>Remove Bindings with IP Addresses

Before you upgrade your MySQL for PCF service, you must remove all bindings that use IP addresses. This is because for MySQL for PCF v2.5 and later you must use BOSH DNS for bindings. If you do not remove these bindings your upgrade fails. 

### <a id="check-bindings"></a> Check for Bindings with IP Addresses

To check if your app or service key bindings uses IP addresses, do the following:

1. To record the BOSH deployment name for your MySQL service broker, run the following command:

    ```
  bosh deployments
    ```

1. To search for bindings that use IP addresses, run the following command:

    ```
    bosh -d pivotal-mysql-GUID run-errand find-deprecated-bindings
    ```
    
    Where `pivotal-mysql-GUID` is the BOSH deployment name for your MySQL service broker.
  <br>
    For example:
    
    <pre class="terminal">$ bosh -d pivotal-mysql-e3ddd36247fe5b923caf run-errand find-deprecated-bindings</pre>
    
1. Check the `REASON` column in the output table for `no dns`. If it appears, do the procedures in [Remove Deprecated Bindings](#remove-bindings) below.

### <a id="remove-bindings"></a> Remove Deprecated Bindings

Some of the following steps require coordination with your app developers.
To remove deprecated bindings, you must do the following:

1. Upgrade your service instances to be compatible with BOSH DNS. See [Upgrade Service Instance](#upgrade-bindings) below.
1. Replace deprecated service bindings to use BOSH DNS. See [Replace Deprecated Bindings](#replace-bindings) below.

#### <a id="upgrade-bindings"></a> Upgrade Service Instances

To upgrade your service instances, operators must do the following:

1. Notify the developers who own the apps listed in the error output table above that you will be upgrading all service instances, which can impact app connectivity to the database.
1. To log in to the BOSH Director, do the procedure in [Log in to the BOSH Director VM](https://docs.pivotal.io/pivotalcf/customizing/trouble-advanced.html#log-in).
1. To locate the BOSH deployment name for your MySQL service broker, run the following command:

    ```
    bosh deployments
    ```
1. Record the BOSH deployment name for the MySQL service broker, which looks like `pivotal-mysql-GUID`.
1. To upgrade all service instances, run the following command:

    ```
    bosh -d pivotal-mysql-GUID run-errand upgrade-all-service-instances
    ```

    Where `pivotal-mysql-GUID` is the value you recorded in the previous step.

1. Notify your developers that at this time, they will see that apps that do hostname validation cannot establish a TLS connection to the database. These apps will output an error similar the following example:

    <pre class="terminal">
    failed to perform TLS handshake with host "10.0.8.5:3306": x509: certificate is valid for 127.0.0.1, not 10.0.8.5
    </pre>

#### <a id="replace-bindings"></a> Replace Deprecated Bindings

To replace your deprecated service bindings with new service bindings that use DNS hostnames, developers must do the following for each binding listed in the log error above:

1. To unbind your app from your service instance, run the following command:

    ```
    cf unbind-service APP-NAME SERVICE-INSTANCE
    ```
1. To re-bind your app to your service instance, run the following command:

    ```
    cf bind-service APP-NAME SERVICE-INSTANCE
    ```
1. To restart your app, run the following command:

     ```
     cf restart APP-NAME
     ```
     
     After you restart all of your apps, your apps can connect to the database and resume service. 

1. To ensure that all deprecated service bindings have been replaced, run the following errand:

     ```
     bosh -d pivotal-mysql-GUID run-errand find-deprecated-bindings
     ```
     
1. Ensure that `no dns` does not appear in the `REASON` column in the output table.


## <a id="update-addons"></a>Update Add-ons to Run with Xenial Stemcell

MySQL for PCF v2.4 and later requires a Xenial stemcell.
If you are using any of the following BOSH add-ons with your PCF deployment,
you must update the add-on definition to include the Xenial stemcell before you deploy MySQL for PCF v2.5:

+ File Integrity Monitoring for PCF Add-on. For update instructions, see [Updating FIM Add-on for PCF to Run with Xenial Stemcells](https://docs.pivotal.io/addon-fim/updating-for-xenial.html).
+ ClamAV for PCF Add-on. For update instructions, see [Updating ClamAV Add-on for PCF to Run with Xenial Stemcells](https://docs.pivotal.io/addon-antivirus/updating-for-xenial.html).
+ IPsec for PCF Add-on. For update instructions, see [Updating IPsec Add-on for PCF to Run with Xenial Stemcells](https://docs.pivotal.io/addon-ipsec/updating-for-xenial.html).
