---
title: Preparing for TLS
owner: MySQL
---

This topic describes how to prepare your environment for TLS. 

If you want to enable TLS for MySQL for PCF, you must provide a CA certificate to BOSH CredHub before installing and configuring MySQL for PCF.

CredHub is a component designed for centralized credential management in PCF, colocated on the BOSH Director. For more information, see [CredHub](https://docs.pivotal.io/pivotalcf/2-0/credhub/).

##<a id='overview'></a> Overview

Depending on your PCF version, perform the procedure below to provide a CA certificate to CredHub in [PCF v1.12](#provide-pcf-1-12) or [PCF v2.0 and later](#provide-pcf-2-0). 

After preparing your environment for TLS, you must enable TLS in the tile configuration while installing MySQL for PCF. For more information, see [Installing and Configuring MySQL for PCF](install-config.html).

If you need to rotate your CA certificate, see [Rotating CA Certificates](rotating-ca.html).

##<a id="provide-pcf-1-12"></a> Provide a CA Certificate in PCF v1.12

If you are using PCF v1.12, perform the following steps to provide a CA certificate to CredHub.

###<a id='uaa'></a> Step 1: Create UAA Client

1. Navigate to the Ops Manager Installation Dashboard and click the **Ops Manager Director** tile.

1. Click the **Status** tab.

1. Retrieve the IP address. This is the IP address of the BOSH Director VM, where both the UAA and CredHub servers are colocated.

1. Perform the steps in [Gather Credential and IP Address Information](https://docs.pivotal.io/pivotalcf/1-12/customizing/trouble-advanced.html) and [SSH into Ops Manager of Advanced Troubleshooting with the BOSH CLI](https://docs.pivotal.io/pivotalcf/1-12/customizing/trouble-advanced.html) to SSH into the Ops Manager VM.

1. From the Ops Manager VM, use the UAAC to target the UAA server on the BOSH Director VM. 
Use the IP address for the BOSH Director you retrieved earlier, and specify port 8443. For example:
    <pre class="terminal">$ uaac target 10.0.0.5:8443</pre>

1. In the Ops Manager Director tile, click the **Credentials** tab. 

1. Retrieve the **Uaa Login Client Credentials** and record the contents.

1. Retrieve the **Uaa Login Admin Credentials** and record the `identity` and `password` values.

1. From the Ops Manager VM, use the UAAC to get a token, setting the secret to the **Uaa Login Client Credentials** you retrieved. For example:
    <pre class="terminal">$ uaac token owner get \
    login --secret=abcdefghijklm123456789</pre> 

1. When prompted for a user name and password, enter the values for `identity` and `password` you retrieved from the **Uaa Login Admin credentials**.

1. Add a UAA client for CredHub with the correct grants. Enter the following command:
    <pre class="terminal">
    $ uaac client add \
    	--authorized\_grant\_types client\_credentials \
    	--authorities credhub.read,credhub.write
    </pre>

1. When prompted for Client ID, enter `credhub`.

1. When prompted for `New client secret`, enter a client secret of your choice.

###<a id='credhub-cli'></a> Step 2: Provide the CA Certificate

1. In a browser, navigate to the [CredHub CLI releases page](https://github.com/cloudfoundry-incubator/credhub-cli/releases) on GitHub.

1. Copy the link for the Linux version of the latest CredHub CLI.

1. Use `wget` to download the latest CredHub CLI onto the Ops Manager VM. For example:
    <pre class="terminal">$ wget https<span>:</span>//github.com/cloudfoundry-incubator/credhub-cli/releases/download/1.6.0/credhub-linux-1.6.0.tgz</pre>

1. Untar the file, make it executable, and move it to your $PATH. Enter the following commands:
    <pre class="terminal">
    $ tar -xzvf credhub-linux*.tgz
    $ chmod +x credhub
    $ sudo mv credhub /usr/local/bin
    </pre>
    <p class="note"><strong>Note</strong>: For more information about using the CredHub CLI, consult the <a href="https://credhub-api.cfapps.io">CredHub API documentation</a>.</p>

1. Set the CredHub server to the IP address of your BOSH Director VM, specifying port 8844. 
You must also specify the CA certificates that signed the CredHub an UAA certificates with one or two `--ca-cert` flags.
For example:
    <pre class="terminal">
    $ credhub api http<span>s:</span>//10.0.0.5:8844 --ca-cert=credhub-ca-cert
    </pre>

1. Log in to CredHub, specifying `credhub` for the client name and the client secret you set earlier. For example:
    <pre class="terminal">
    $ credhub login \
    	--client-name=credhub \
    	--client-secret=abcdefghijklm123456789
    </pre>

1. Create a CA certificate at the path `/services/tls_ca`: 
	* If you already have a CA certificate, create a new file called `root.pem` with the contents of the certificate. Then enter the following command, specifying the path to `root.pem` and the private key for the certificate:
		<pre class="terminal">
		$ credhub set \
			--name="/services/tls_ca" \
			--type="certificate" \
			--certificate=./root.pem \
            --private=ERKSOSMFF...
		</pre>
	* If you do not have a CA certificate, use the CredHub CLI to generate one. Enter the following command:
		<pre class="terminal">
		$ credhub generate \
			--name="/services/tls_ca" \
			--type="certificate" \
			--is-ca=--common-name="rootCA"
		</pre>

1. From the output, copy the `certificate` portion.
1. Navigate to the Ops Manager Installation Dashboard and click the **Ops Manager Director** tile.
1. Click **Security**.
1. Paste the contents of the root certificate into **Trusted Certificates** and click **Save**.
1. Return to the Ops Manager Installation Dashboard and click **Apply Changes**. This will roll all the VMs in your PCF deployment, and apply your root certificate.

After preparing your environment for TLS, you must enable TLS in the tile configuration while installing MySQL for PCF. For more information, see [Installing and Configuring MySQL for PCF](install-config.html).

##<a id="provide-pcf-2-0"></a> Provide a CA Certificate in PCF v2.x

If you are using PCF v2.x, perform the following steps to provide a CA certificate to CredHub:

1. Retrieve your CredHub admin credentials.
1. Navigate to the Ops Manager Installation Dashboard and click the **Ops Manager Director** tile.
1. Click the **Status** tab.
1. Retrieve the IP address. This is the IP address of the BOSH Director VM, where the CredHub server is colocated.
1. Perform the steps in [Gather Credential and IP Address Information](https://docs.pivotal.io/pivotalcf/2-0/customizing/trouble-advanced.html) and [SSH into Ops Manager of Advanced Troubleshooting with the BOSH CLI](https://docs.pivotal.io/pivotalcf/2-0/customizing/trouble-advanced.html) to SSH into the Ops Manager VM.
1. Set the CredHub server to the IP address of your BOSH Director VM, specifying port 8844. For example:
    <pre class="terminal">
    $ credhub api http<span>s:/</span>/10.0.0.5:8844
    </pre>
1. Log in to CredHub, entering the CredHub admin credentials you retrieved earlier. For example:
    <pre class="terminal">
    $ credhub login \
    	--client-name=credhub \
    	--client-secret=abcdefghijklm123456789
    </pre>
1. Create a CA certificate at the path `/services/tls_ca`: 
    * If you already have a CA certificate, create a new file called `root.pem` with the contents of the certificate. Then enter the following command, specifying the path to `root.pem` and the private key for the certificate:
        <pre class="terminal">
        $ credhub set \
            --name="/services/tls_ca" \
            --type="certificate" \
            --certificate=./root.pem \
            --private=ERKSOSMFF...
        </pre>
	* If you do not have a CA certificate, use the CredHub CLI to generate one. Enter the following command:
		<pre class="terminal">
		$ credhub generate \
			--name "/services/tls_ca" \
			--type "certificate" \
			--is-ca --common-name="rootCA"
		</pre>

1. From the output, copy the `certificate` portion.
1. Navigate to the Ops Manager Installation Dashboard and click the **Ops Manager Director** tile.
1. Click **Security**.
1. Paste the contents of the root certificate into **Trusted Certificates** and click **Save**.
1. Return to the Ops Manager Installation Dashboard and click **Apply Changes**. This will roll all the VMs in your PCF deployment, and apply your root certificate.

After preparing your environment for TLS, you must enable TLS in the tile configuration while installing MySQL for PCF. For more information, see [Installing and Configuring MySQL for PCF](install-config.html).


