---
title: MySQL Proxy
owner: MySQL
---

<strong><%= modified_date %></strong>

MySQL for PCF uses a proxy to send client connections to healthy MySQL nodes.
Using a proxy gracefully handles failure of nodes, enabling fast,
failover to other server nodes within the cluster. When a server
node becomes unhealthy, the proxy closes all connections to the unhealthy node
and re-routes all subsequent connections to a healthy server node.

Switchboard offers the following features: 

- **MySQL Server Access**

    MySQL clients communicate with MySQL servers through this network port.
    These connections are automatically passed through to the MySQL servers.

- **Switchboard and API**

    Operators can connect to Switchboard to view the state of the cluster
    back-ends. For more information about monitoring proxy health status, see 
    [Monitoring Proxy Health](./monitor-health.html).

To use Switchboard you must open specific ports. 
For more information about default ports and other network port requirements, see
[Required Networking Rules for On-Demand Services](about.html#rules).
    
## <a id="node-health"></a>Node Health ##

When determining where to route traffic, the proxy queries an HTTP healthcheck
process running on the database node VM. This healthcheck can return as either
healthy or unhealthy, or the node can be unresponsive.

### <a id="healthy"></a>Healthy ###

If the healthcheck process returns HTTP status code `200`, the proxy includes
the node in its pool of healthy nodes.

When a new or resurrected nodes rejoin the cluster, the proxy continues to
route all connections to the currently active node. In the case of failover,
the proxy considers all healthy nodes as candidates for new connections.

<%= image_tag "images/switchboard-all-healthy.png" %>

### <a id="unhealthy"></a>Unhealthy ###

If the healthcheck returns HTTP status code `503`, the proxy considers the node
unhealthy.

<!-- We will eventually move the following link to a troubleshooting topic in 2.5 -->

This happens when a node becomes non-primary. For more information, see
[Cluster Scaling Behavior](https://docs.pivotal.io/p-mysql/1-10/architecture.html#scale-behavior).

The proxy severs existing connections to newly unhealthy node. The proxy routes
new connections to a healthy node, assuming such a node exists. Clients are
expected to handle reconnecting on connection failure should the entire cluster
become inaccessible.

<%= image_tag "images/switchboard-unhealthy.png" %>

### <a id="unresponsive"></a>Unresponsive ###

If node health cannot be determined due to an unreachable or unresponsive
healthcheck endpoint, the proxy considers the node unhealthy. This may happen
if there is a network partition or if the VM running the node and
healthcheck died.
