---
title: Release Notes
owner: MySQL
---

## <a id="230"></a>v2.3.0

Pivotal recommends that you upgrade to the latest version of your current minor release,
and then upgrade to the latest available version of the new minor release.
For example, if you use v2.2.3,
upgrade to the latest version of 2.2 before upgrading to the latest version of 2.3.

For product versions and upgrade paths, see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

**Release Date: May 30, 2018**
 
### Features

New features and changes in this release:

- **Transport Layer Security (TLS)** 

    Communication between apps and the MySQL server is now secured using TLS.
    TLS was formerly known as SSL.
    With MySQL for PCF v2.3.0, apps and clients can connect to MySQL over TLS.
    This allows for encrypted connection without IPsec.


    To use TLS, you must use PCF v1.12 or later. 


    For more information about using TLS with MySQL for PCF, see the following:

  - [Using TLS](using-tls.html)
  - [Modifying Apps for TLS](modify-apps-tls.html)
  - [Preparing for TLS](prepare-tls.html)


- **Synchronous replication**
    When choosing Leader/Follower topology, 
    developers can enable MySQL "semi-synchronous" mode to ensure
    that transactions are replicated in real time.
    This ensures availability in case of host or AZ failure.
    For more information about synchronous replication,
    see [Enable Semi-Synchronous Replication](maintain-leader-follower.html#synchronous-replication).

- **Service Credentials stored securely**

    For Pivotal Application Service (PAS) v2.0 and later,
    operators can store service credentials in runtime CredHub.
    
    To ensure that credentials are stored in CredHub,
    any apps that are currently bound to service instances must be re-bound.<br><br>


    For more information, see the following:

    - [Securing Services Instance Credentials with Runtime CredHub](https://docs.pivotal.io/pivotalcf/opsguide/secure-si-creds.html)
    - [Configure Security](install-config.html#security) in _Installing and Configuring MySQL for PCF_

 
- Developers can now create multiple database schemas.

    Now developers can run `create database FOO`.
    Database credentials that enable developers to bind apps or create service keys can now also be used to create new databases.

- Developers can now define the database charset and collation.

     For information about defining these parameters,
     see [Changing MySQL Server Defaults](change-default.html##changes).

### Security Fixes

This release includes the following security fixes:

* Stemcell 1234.56 addresses the Moonraker security issue. 
For more information about Moonraker, see [Pivotal Vulnerability Report: Moonraker Attack](http://www.example.com).

* [CVE-2018-1234](http://www.example.com)

* [CVE-2018-5678](http://www.example.com)

### Fixed Issues

This release fixes the following issue:

* Special characters, such as ``[]^_!"#$%&()*+,-./\:;<=>`'``, in the admin
password no longer lead to issues when logging in to the Widgets Management UI.
[//]: # (fixes Known Issue in v1.2.0)

### Known Issues

[//]: # (all known issues were fixed so we can say...)
There are no known issues for this release.


### Compatibility

The following components are compatible with this release:
This release is compatible with the following components:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td><a href="https://docs.pivotal.io/pivotalcf/stemcells/stemcells.html#3541-line">3541.x</a></td>
</tr>
<tr>
    <td>Percona Server</td>
    <td>5.7.21-20</td>
</tr>
<tr>
    <td>golang</td>
    <td>1.9.6<br> This is a downgrade because of an issue with golang v1.10.</td>
</tr>
</table>

THIS IS THE END OF THE TEMPLATE. BELOW IS TEXT FROM THE PR THAT NEEDS TO BE MOVED UP
AND FORMATTED

### General Improvements and Bug Fixes

**Developer Improvements**

- **Improvement:** A developer will get an error if they supply invalid arbitrary parameters when creating or updating a service instance.
- **Bug fix:** Developers can now un-bind/re-bind an application from a leader-follower instance, even when the leader is down.
- **Bug fix:** Developers cannot accidentally lose access to persistent disk by updating the plan of a service instance.
- **Bug fix:** If the broker is upgraded but the service instances are not, developers can still un-bind/re-bind an application to an outdated service instance.

**Operator Improvements**

- **Improvement:** We've made several cosmetic improvements to the `inspect` and `configure-leader-follower` errands
- **Improvement:** We've introduced a new configuration pane, "Service Instance Upgrades" where you can control how many canary upgrades must succeed, and how many service instances may be upgraded in parallel
- **Improvement:** Output from the broker's errands is now sent to syslog, if configured
- **Improvement:** Logs sent to syslog are now annotated with the assigned hostname or IP
- **Improvement:** All errands now uniformly send non-error output to stdout
- **Improvement:** You can now control how long the service broker waits on a slow/unresponsive MySQL server before timing out.
- **Bug fix:** If you are running PCF v1.12, errands are not collocated. ADD CROSS_REF
- **Bug fix:** Extra whitespace in Azure backup configuration won't cause backup failures
- **Security:** The metrics collection job now connects to the MySQL server over a Unix domain socket,
                This reduces the scope of access for the metrics collection job user.


**Backups Improvements**

- Operators are no longer required to specify an AWS region when using Amazon S3 to store backup artifacts.
- Operators no longer need to provide the admin credential when restoring a backup artifact.
- For PCF 2.0 and later, all backup encryption keys are stored in BOSH CredHub
  so that backup artifacts can be decrypted even after the service instance is deleted.

**Smoke Tests**

- **Improvement:** The service broker `smoke-tests` errand now runs
    in the organization and space `system:pivotal-services` so that operators can configure ASGs
    to allow the `smoke-tests` errand to succeed.  CROSS_REF to install-config.html.md.erb
- **Improvement:** The timeout for smoke tests is now 30 minutes. 
    This accommodates very slow infrastructures.

