---
title: Release Notes
owner: MySQL
---

<strong><%= modified_date %></strong>

Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v2.4.x version, upgrade to the latest v2.4.x version
before upgrading to the latest v2.5.x version.

For product versions and upgrade paths, see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

<!-- If you do not do this than your installation is like stuck. Does count as a breaking change or warning? -->
<p class="note breaking"><strong>Breaking Change: </strong> All service bindings created using MySQL for Pivotal Cloud Foundry (PCF) v2.3 or earlier use IP addresses. Any bindings created using v2.3 or earlier must be re-created before upgrading to v2.5, which requires service bindings that use DNS hostnames. For more information, see <a href="errands.html#find-deprecated-bindings">MySQL for PCF Errands</a>.</p>

## <a id="252"></a>v2.5.2

**Release Date:**  December 19, 2018

### Features

New features and changes in this release:

- [Highly Available (HA) Cluster Service Plans](#ha-cluster)
- [All Bindings Use DNS](#bindings)
- [Developers Can Monitor Service Instances](#dev-monitor)
- [Connections Secured with TLS by Default](#connections)
- [Improvements for Operators](#improvements)

####<a name="ha-cluster"></a>Highly Available (HA) Cluster Service Plans

<%= partial "./galera_beta" %>

MySQL for PCF now supports three deployment topologies. In addition to single
node and leader-follower service plans, operators can offer an HA cluster
service plan. For information on how to configure an HA cluster plan, see
[Configure Service
Plans](http://docs.pivotal.io/p-mysql/install-config.html#active). For
information on availability criteria for each topology, see [Availability
Options](http://docs.pivotal.io/p-mysql/availability-options.html).

Features of HA clusters include:

- Multiple deployments of HA clusters can be provisioned on demand.
- Developers can view a dashboard to see the state of each node in an HA cluster.
  For more information, see [Monitor Node Health Using the Dashboard](https://docs.pivotal.io/p-mysql/monitor-health.html#dashboard).
- Connections to HA clusters are secured via TLS.
- Monitoring, diagnostics, and backups are performed from a jumpbox VM.
  For information on how to configure this VM,
  see [Configure Service Plans](https://docs.pivotal.io/p-mysql/install-config.html#active).
	- The jumpbox VM runs a replication canary that continuously tests replication health of cluster nodes.
          For more information, see [Replication Canary](https://docs.pivotal.io/p-mysql/1-10/monitor.html#repcanary).
	- Operators can run diagnostics, such as disk usage, on an HA cluster by running `mysql-diag` on the jumpbox VM.
          For more information, see [Running mysql-diag](https://docs.pivotal.io/p-mysql/1-10/mysql-diag.html).
	- Like single node and leader-follower, configuring automatic backups is required.
          For information on how to configure automated backups,
          see [Configure Backups](https://docs.pivotal.io/p-mysql/install-config.html#backups).
          For instructions to perform a manual backup and restore,
          see [Backing Up and Restoring On-Demand MySQL for PCF](https://docs.pivotal.io/p-mysql/2-5/backup-and-restore.html).

While in beta, the following limitations exist for HA clusters:

- Operators are required to impose a plan quota of five or fewer instances.
- Restoring from backups is a manual process.
  For more information, see [Restore an HA Cluster Instance](https://docs.pivotal.io/p-mysql/backup-and-restore.html#runHA).
- HA clusters cannot integrate with [Vormetric Transparent Encryption for PCF](https://docs.pivotal.io/partners/vormetric-transparent-encryption/).

<!-- Add new link when topic is done -->

**Highly Available clusters are for advanced use cases only.**
In addition to higher infrastructure cost,
HA clusters introduce some significant limitations that are different from running single node or leader-follower service plans.
For more information, see [High Availability Limitations](https://docs.pivotal.io/p-mysql/1-10/index.html#limitations).

Due to these limitations, Pivotal recommends that HA clusters are not shared between multiple users or apps.
Service instance sharing is disabled for HA clusters.
If necessary, you can still share HA clusters between multiple users or apps by creating user-provided service instances.
For more information, see [User-Provided Service Instances](https://docs.pivotal.io/pivotalcf/devguide/services/user-provided.html).

You should use HA clusters only when the availability criteria that leader-follower provides is not sufficient for your app.

####<a name="bindings"></a>All Bindings Use DNS

+ All services bindings use DNS hostnames instead of IP addresses.
This feature was introduced in [MySQL for PCF v2.4](https://docs.pivotal.io/p-mysql/2-4/release-notes.html#240),
which enabled no-rebind failovers as well as future improvements and highly available (HA) clusters.

####<a name="dev-monitor"></a>Developers Can Monitor Service Instances

+ Developers can see metrics for their service instances using the
[Cloud Foundry Command Line Interface (cf CLI) Log Cache plugin](https://github.com/cloudfoundry/log-cache-cli).
For more information about the cf CLI Log Cache plugin,
see [Cloud Foundry Command Line Interface (cf CLI) Log Cache plugin](https://github.com/cloudfoundry/log-cache-cli).
For more information about metrics for MySQL for PCF, see [Monitoring and KPIs](https://docs.pivotal.io/p-mysql/monitor.html).

####<a name="connections"></a>Connections Secured with TLS by Default

+ Connections to the database over TLS are enabled by default for each service instance.
Developers no longer need to manually enable TLS.
Operators can optionally disable TLS.

####<a name="improvements"></a>Improvements for Operators

+ Operators can configure up to nine service plans in the tile.
+ Operators can mark service plans as free or paid.
  This feature helps developers to be aware of costs associated with certain service plans.
+ Operators can configure the default idle timeout for connections to a service instance.
  This prevents apps from overloading the database with unnecessary connections.

### Known Issues

There are no known issues for this release.

## <a id="251"></a>v2.5.1

**Do not use.**

## <a id="250"></a>v2.5.0

**Do not use.**

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td><a href="https://docs.pivotal.io/pivotalcf/stemcells/stemcells.html#170-line">Xenial 170.x</a></td>
</tr>
<tr>
    <td>Percona Server</td>
    <td>5.7.23-23</td>
</tr>
<tr>
    <td>golang</td>
    <td>1.10.3</td>
</tr>
</table>
