---
title: Release Notes
Owner: MySQL
---

<strong><%= modified_date %></strong>

<% vars.recommended_by %> that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line. For example, if you use an older v2.7.x
version, upgrade to the latest v2.7.x version before upgrading to the latest v2.8.x version.

For product versions and upgrade paths, see the [<%= vars.upgrade_planner_full %>](https://upgrade-planner.pivotal.io/).

## <a id="2-8-X"></a> v2.8.X

**Release Date: XXX X, 20XX**

### Features

New features and changes in this release:


### Security Fix

This release includes the following security update:

## Known Issue

This release has the following issues:

<%= partial vars.path_to_partials + "/mysql/disable-plan-ki" %>

### Compatibility

This release uses the following component versions:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>XXX</td>
</tr>
</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
