---
title: Release Notes
owner: MySQL
---

Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v1.7.x version,
upgrade to the latest v1.7.x version before upgrading to the latest v1.8.x version.

For product versions and upgrade paths, see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

## <a id="220"></a>v2.2.0

**Release Date:**  January XX, 2018

* Can only be installed in an Ops Manager v1.12 or later environment.

* Offers the ability to create multi-AZ leader-follower instances. Operators can monitor leader-follower
  instances with replication metrics.
  For more information, see [About Leader-Follower](./about-leader-follower.html).

* No longer includes the option to disable automated backups. 
  You must configure automated backups. 
  For more information, see [Backing Up and Restoring On-Demand MySQL for PCF](backup-and-restore.html). 

* Updates the mysql-restore utility to make restoring from a backup artifact easier.
  For more information, see [Restore the Service Instance](./backup-and-restore.html#restoreinstance).

* Adds the ability to enable create service binding and service keys with custom usernames.
  For more information, see [Customizing Database Credentials](./customize-access.html).

* Enables developers to use workload profiles for best practices in server configuration.
  For more information, see [Changing MySQL Server Defaults](./change-default.html).

* No longer includes individual errand VMs. 
  Instead, errands are run on the MySQL VMs. 
  These colocated errands run faster and use fewer resources. 

* Upgrades several dependencies including, `golang 1.9.1`.

* Upgrades Percona Server to v5.7.19–17.

* Requires stemcell 3445.19.
