---
title: Release Notes
owner: MySQL
---

Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v1.7.x version,
upgrade to the latest v1.7.x version before upgrading to the latest v1.8.x version.

For product versions and upgrade paths, see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

## <a id="22x"></a>v2.2.x

### v2.2.0

**Release Date:**  December XX, 2017

* Updates the mysql-restore utility to make restoring from a backup artifact easier.
  For more information, see [Restore the Service Instance](./backup-and-restore.html#restoreinstance).
* Adds the ability to enable create service binding and service keys with custom usernames.
  For more information, see [Customizing Database Credentials](./customize-access.html).
* Enables developers to use workload profiles for best practices in server configuration.
  For more information, see [Changing MySQL Server Defaults](./change-default.html).
* Upgrades several dependencies including, `golang 1.9.1`.
* Requires stemcell 3421.20.
* This version of the MySQL for PCF can only be installed in an Ops Manager v1.12 or later environment.
