---
title: Release Notes
owner: MySQL
---

Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v1.7.x version,
upgrade to the latest v1.7.x version before upgrading to the latest v1.8.x version.

For product versions and upgrade paths, see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

## <a id="20x"></a>v2.0.x

### v2.0.5

**Release Date:  July 31, 2017**

* Fixes known issues in prior patch releases of v2.0.x.

### v2.0.4

**Do not use**

**Release Date:  July 26, 2017**

* Fixes an issue in v2.0.3 where the tile would fail to install. See the v2.0.3 release notes below for more information.

### v2.0.3

**Do not use.**

**Release Date:  July 17, 2017**

* Uses the system provided OpenSSL library for compiling Percona Server.
* Updates several releases to use Golang 1.8 for long-term support: On Demand Services SDK, Service Metrics, and Service Backup.

### v2.0.2

**Release Date:  June 28, 2017**

* Fixes a bug where the **Upgrade all On-Demand MySQL Service Instances** errand exited with `0` even if it failed to update a service instance.

### v2.0.1

**Release Date:  June 22, 2017**

* Requires stemcell 3263.26
* Changes order of Post-Deploy Errands so that **Smoke Tests** are run before **Upgrade all On-Demand MySQL Service Instances**
* Fixes a bug where the tile could not be installed if the BOSH director was configured with a hostname.

**Known Issues**

* The **Upgrade all On-Demand MySQL Service Instances** errand exits with 0 even if it failed to update a service instance.

### v2.0.0

**Release Date:  June 15, 2017**

* Requires stemcell 3263.25
* This version of the tile can only be installed in an Ops Manager v1.10 (or later) environment

Packages:

* Percona Server 5.7.18-14

Features included in this release:

* MySQL for PCF as an on-demand service.
* Metrics from service instances
* Metrics from service broker
* Backups to S3 compatible blobstores, via SCP, GCS, or Azure
* Optional audit and userstat logging

## <a id="19x"></a>v1.9.x

For v1.9.x versions of MySQL for PCF, see the [release notes](http://docs.pivotal.io/p-mysql/1-9/release-notes.html) in the v1.9 version of this documentation.

## <a id="18x"></a>v1.8.x

For v1.8.x versions of MySQL for PCF, see the [release notes](http://docs.pivotal.io/p-mysql/1-8/release-notes.html) in the v1.8 version of this documentation.

## <a id="17x"></a>v1.7.x

For v1.7.x and prior versions of MySQL for PCF, see the [release notes](http://docs.pivotal.io/p-mysql/1-7/release-notes.html) in the v1.7 version of this documentation.
