---
title: Release Notes
owner: MySQL
---

## <a id="230"></a>v2.3.0

Pivotal recommends that you upgrade to the latest version of your current minor release,
and then upgrade to the latest available version of the new minor release.
For example, if you use v2.2.3,
upgrade to the latest version of 2.2 before upgrading to the latest version of 2.3.

For product versions and upgrade paths, see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

**Release Date: May 30, 2018**
 
### Features

New features and changes in this release:

- **Transport Layer Security (TLS) :** TLS to Applications, Docker-based containers, and other clients.

    Communication between apps and the MySQL server is now secured using TLS.

    [ASK JUDY WHAT THIS MEANS] TLS was formerly known as SSL.

    With MySQL for PCF v2.3.0, apps can connect to MySQL over TLS.
    This allows for encrypted connection without IPsec.

    To use TLS, you must use PCF v1.12 or later. 
    For more information about using TLS with MySQL for PCF, see the following:

  - [Using TLS](using-tls.html)
  - [Modifying Apps for TLS](modify-apps-tls.html)
  - [Preparing for TLS](prepare-tls)


    [//]: # (ASK JUDY: This is the first mention of desktop clients in MySQL. What is the purpose of this info?) 

    MOVE THIS TO SOMEWHERE ELSE: TLS works for desktop clients as well, if network connectivity allows. Just follow the [connect to services via SSH](https://docs.pivotal.io/pivotalcf/devguide/deploy-apps/ssh-services.html) instructions, and use the CA cert provided by the service key.

- **Synchronous replication**: When choosing Leader/Follower topology, 
    developers can enable MySQL "semi-synchronous" mode to ensure
    that transactions are replicated in real time.
    This ensures availability in case of host or AZ failure.
    For more information about synchronous replication,
    see [Enable Semi-Synchronous Replication](maintain-leader-follower.html#synchronous-replication).

- **Service Credentials stored securely**

    For Pivotal Application Service (PAS) v2.0 and later,
    operators can store service credentials in runtime CredHub.
    

    For more information, read the [PAS Runtime Credhub topic](https://docs.pivotal.io/pivotalcf/2-0/opsguide/secure-si-creds.html). The [configuration documentation](install-config.html#security) covers how to enable this for MySQL for PCF.
i
    To ensure that credentials are stored in CredHub,
    any apps that are currently bound to service instances must be re-bound.
 
- Developers can now create multiple DB schemas.

  Database credentials created for application bindings or service keys are now able to create new MySQL databases (schemas). Previously, developers were not able to run: `create database FOO`
- Developers can now define the database charset and collation
  - See the documentation on [changing server defaults using optional parameters](change-default.html#configuring) to define these settings.

### Security Fixes

This release includes the following security fixes:

* Stemcell 1234.56 addresses the Moonraker security issue. 
For more information about Moonraker, see [Pivotal Vulnerability Report: Moonraker Attack](http://www.example.com).

* [CVE-2018-1234](http://www.example.com)

* [CVE-2018-5678](http://www.example.com)

### Fixed Issues

This release fixes the following issue:

* Special characters, such as ``[]^_!"#$%&()*+,-./\:;<=>`'``, in the admin
password no longer lead to issues when logging in to the Widgets Management UI.
[//]: # (fixes Known Issue in v1.2.0)

### Known Issues

[//]: # (all known issues were fixed so we can say...)
There are no known issues for this release.




**Release Date:**  May 22, 2018

### Features
### Dependency Updates

- Service Instances will now run Percona Server 5.7.21-20
- Service Instances will now be deployed using the [3541.x stemcell line](https://docs.pivotal.io/pivotalcf/stemcells/stemcells.html#3541-line)
- Updated all dependencies to golang to v1.9.6 or later


### General Improvements and Bug Fixes

**Developer Improvements**

- **Improvement:** A developer will get an error if they supply invalid arbitrary parameters when creating or updating a service instance.
- **Bug fix:** Developers can now un-bind/re-bind an application from a leader-follower instance, even when the leader is down.
- **Bug fix:** Developers cannot accidentally lose access to persistent disk by updating the plan of a service instance.
- **Bug fix:** If the broker is upgraded but the service instances are not, developers can still un-bind/re-bind an application to an outdated service instance.

**Operator Improvements**

- **Improvement:** We've made several cosmetic improvements to the `inspect` and `configure-leader-follower` errands
- **Improvement:** We've introduced a new configuration pane, "Service Instance Upgrades" where you can control how many canary upgrades must succeed, and how many service instances may be upgraded in parallel
- **Improvement:** Output from the broker's errands is now sent to syslog, if configured
- **Improvement:** Logs sent to syslog are now annotated with the assigned hostname or IP
- **Improvement:** All errands now uniformly send non-error output to stdout
- **Improvement:** You can now control how long the service broker waits on a slow/unresponsive MySQL server before timing out.
- **Bug fix:** If you are running PCF v1.12, errands are not collocated. ADD CROSS_REF
- **Bug fix:** Extra whitespace in Azure backup configuration won't cause backup failures
- **Security:** The metrics collection job now connects to the MySQL server over a Unix domain socket,
                This reduces the scope of access for the metrics collection job user.


**Backups Improvements**

- Operators are no longer required to specify an AWS region when using Amazon S3 to store backup artifacts.
- Operators no longer need to provide the admin credential when restoring a backup artifact.
- For PCF 2.0 and later, all backup encryption keys are stored in BOSH CredHub
  so that backup artifacts can be decrypted even after the service instance is deleted.

**Smoke Tests**

- **Improvement:** The service broker `smoke-tests` errand now runs
    in the organization and space `system:pivotal-services` so that operators can configure ASGs
    to allow the `smoke-tests` errand to succeed.  CROSS_REF to install-config.html.md.erb
- **Improvement:** The timeout for smoke tests is now 30 minutes. 
    This accommodates very slow infrastructures.
