---
title: Release Notes
owner: MySQL
---


Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v2.3.x version, upgrade to the latest v2.3.x version
before upgrading to the latest v2.4.x version.

For product versions and upgrade paths, see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).


## <a id="240"></a>v2.4.0

**Release Date:**  September XX, 2018

### Features

<p class="note breaking"><strong>Breaking Change: </strong>MySQL for PCF v2.4.0 and later requires a Xenial stemcell.
You must verify that you have the Xenial stemcell, and, if necessary, download and import it into the Ops Manager Stemcell Library before deploying MySQL for PCF v2.4.0.
This might break automations you have set up to update MySQL for PCF deployments that used Trusty stemcells.
For instructions on verifying the stemcell, see <a href="./install-config.html#stemcell"> Verify Stemcell Version and Apply All Changes</a>.
To download the Xenial stemcell from Pivotal Network, go to <a href="https://network.pivotal.io/products/stemcells-ubuntu-xenial"> Stemcells for PCF (Ubuntu Xenial)</a>.
</p>

New features and changes in this release:

* 

* 

### Security Fixes

This release includes the following security fixes:

* 

* 

### Fixed Issues

This release fixes the following issues:

* 

* 

### Known Issues

This release has the following issue:

* 
