---
title: Release Notes
owner: MySQL
---

## <a id="1-8-0-e9"></a>1.8.0-Edge.9

Do not use.

## <a id="1-8-0-e8"></a>1.8.0-Edge.8

- See below, same update as [version 1.6.13](#1-6-13)

## <a id="1-8-0-e7"></a>1.8.0-Edge.7

Release date: 28 June 2016

- Updated stemcell to 3232.8. This is a security upgrade that resolves the following:
  - [USN-3001-1](http://www.ubuntu.com/usn/usn-3001-1/)
- Addresses a [known issue](known-issues.html#compile-fails) in which recent versions of MySQL for Pivotal Cloud Foundry (PCF) 1.8.0 do not install without Internet access.
- **Bug fix**: When deployed on OpsManager 1.7, the `backup-prepare-node` now requires persistent disk instead of a VM with a large amount of CPUs, RAM and ephemeral disk space.

Additional information can be found at https://pivotal.io/security.

## <a id="1-8-0-e6"></a>1.8.0-Edge.6

Release date: 18 May 2016

- Updated stemcell to 3232.4. This is a security upgrade that resolves the following:
  - [USN-2977-1](http://www.ubuntu.com/usn/usn-2977-1/)

## <a id="1-8-0-e5"></a>1.8.0-Edge.5

Release date: 06 May 2016

- Updated stemcell to 3232.2. This is a security upgrade that resolves the following:
  - [USN-2959-1](http://www.ubuntu.com/usn/usn-2959-1/)
- **Known Issue:** On PCF 1.7 only, the MySQL for PCF acceptance test errand will not work on MySQL for PCF 1.8.0-edge.1 through 1.8.0-edge.5. This will be fixed in the next release.

Additional information can be found at https://pivotal.io/security.

## <a id="1-8-0-e4"></a>1.8.0-Edge.4

Release date: 8 April 2016

- Automated backups can now additionally target a Ceph back-end storage service or direct to another host via SCP.
- New `Database Configuration` settings page
  - Includes the option to enable a read-only user.
  - Allows an override to activate DNS reverse name resolution.
- Additional mysql server tuning tweaks to improve performance.
- MariaDB updated to version 10.0.23.
- **Bug fix**: Update `broker-registrar` to avoid runaway CPU condition on broker VMs.
- **Bug fix:** Operator can now override the default number of open files while taking backups.

## <a id="1-8-0-e3"></a>1.8.0-Edge.3

Release date: 16 March 2016

- See below, same security update as [version 1.6.9](#1-6-9)

## <a id="1-8-0-e2"></a>1.8.0-Edge.2

Release date: 02 March 2016

- MySQL for PCF now skips reverse DNS resolution when accepting connections.
  - This change improves performance, and is only necessary when restricting access by hostname, which is not required in typical MySQL for PCF installations. You can override this value in the "Database Configuration" configuration pane.
- **Bug fix**: Enable Operator to specify S3 region.
  - Before this configuration, uploads were limited to the S3 Standard region, 'us-east-1.'
- See below, same security update as [version 1.6.8](#1-6-8)

## <a id="1-8-0-e1"></a>1.8.0-Edge.1

Release date: 20 January 2016

- **New Feature:** Multiple service plans
  - **Note:** On upgrade from a version of MySQL for PCF that offered only a single plan, the default plan will be renamed. Regardless of the name of the previous plan (e.g., `100mb-dev`), the plan will now be named, `pre-existing-plan`. It's not possible to automatically reset the plan to the former name. If you wish to retain the same plan name, it's fine to edit that plan name before clicking 'Apply Changes' when upgrading to MySQL for PCF v1.8.0. See [the documentation](./index.html#service-plan) for more information.
- **New Feature:** `bosh` bootstrap errand
- MariaDB updated to version 10.0.22 and Galera 25.3.9.
