---
title: MySQL for PCF Release Notes
owner: MySQL
---

## <a id="230"></a>v2.3.0

Pivotal recommends that you upgrade to the latest version of your current minor release,
and then upgrade to the latest available version of the new minor release.
For example, if you use v2.2.3,
upgrade to the latest version of 2.2 before upgrading to the latest version of 2.3.

For product versions and upgrade paths, see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

**Release Date: May 30, 2018**
 
### Known Issues

This release has the following issue:

+ After upgrading to MySQL for PCF v2.3.0, developers cannot bind to a service instance that has not also been upgraded.
  For apps to bind and unbind successfully, developers must run `cf update-service` on their service instances
  or operators must run the `upgrade-all-service-instances` errand.

### Features

New features and changes in this release:

- **Transport Layer Security (TLS)** 

    Communication between apps and the MySQL server is now secured using TLS.
    TLS was formerly known as SSL.
    With MySQL for PCF v2.3.0, apps and clients can connect to MySQL over TLS.
    This allows for encrypted connection without IPsec.


    To use TLS, you must use PCF v1.12 or later. 


    For more information about using TLS with MySQL for PCF, see the following:

  - [Using TLS](using-tls.html)
  - [Modifying Apps for TLS](modify-apps-tls.html)
  - [Preparing for TLS](prepare-tls.html)


- **Synchronous replication**
    When choosing Leader/Follower topology, 
    developers can enable MySQL "semi-synchronous" mode to ensure
    that transactions are replicated in real time.
    This ensures availability in case of host or AZ failure.
    For more information about synchronous replication,
    see [Enable Semi-Synchronous Replication](maintain-leader-follower.html#synchronous-replication).

- **Service Credentials stored securely**

    For Pivotal Application Service (PAS) v2.0 and later,
    operators can store service credentials in runtime CredHub.
    
    To ensure that credentials are stored in CredHub,
    any apps that are currently bound to service instances must be re-bound.<br><br>


    For more information, see the following:

    - [Securing Services Instance Credentials with Runtime CredHub](https://docs.pivotal.io/pivotalcf/opsguide/secure-si-creds.html)
    - [Configure Security](install-config.html#security) in _Installing and Configuring MySQL for PCF_

- Improvements for **developers**:
 
    - Developers can now create multiple database schemas.

        Now developers can run `create database FOO`.
        Database credentials that enable developers to bind apps or create service keys can now also be used to create new databases.

    - Developers can now define the database charset and collation.

         For information about defining these parameters,
         see [Changing MySQL Server Defaults](change-default.html##changes).

    - If developers supply invalid optional parameters when creating or updating a service instance,
      they receive an error message.
      For information about optional parameters, see [Use Optional Parameters](./change-default.html#parameters).  

- Improvements for **operators**:

    -  There is a new **Service Instance Upgrades** pane. 
       In this pane, operators set how many canary upgrades must succeed
       and how many service instances may be upgraded in parallel.
       For more information, see [Configure Service Instance Upgrades](./install-config.html#service-instance-upgrades).

    - The output wording for the `inspect` and `configure-leader-follower` errands is improved.

    - If system logging is configured, the output from the broker errands is now sent to syslog.
      For information about configuring, see [Configure System Logging](./install-config.html#syslog).

    -  Logs sent to syslog are now annotated with the assigned hostname or IP address.

    -  All errands now send non-error output to stdout.

    -  Operators now control how long the service broker waits on a slow or unresponsive MySQL server before timing out.

- Improvements to **backups**:

    - Operators are no longer required to specify an AWS region when using Amazon S3 to store backup artifacts.
    - Operators no longer need to provide the admin credential when restoring a backup artifact.
    - For PCF 2.0 and later, all backup encryption keys are stored in BOSH CredHub
      so that backup artifacts can be decrypted even after the service instance is deleted.


- Improvements to **smoke tests**:

    -  The service broker `smoke-tests` errand now runs
       in the org and space `system:pivotal-services` so that operators can configure ASGs
       to allow the `smoke-tests` errand to succeed.
       For how to create an ASG,
       see [Create an Application Security Group for MySQL for PCF](https://docs-pcf-staging.cfapps.io/p-mysql/2-3/install-config.html#asg).
    -  The timeout for smoke tests is now 30 minutes. 
        This accommodates very slow infrastructures.

### Security Fixes

This release includes the following security fix:

- The metrics collection job now connects to the MySQL server over a Unix domain socket.
    This reduces the scope of access for the metrics collection job user.

### Fixed Issues

This release fixes the following issues that **developers** might have experienced:

- Developers cannot lose access to a persistent disk by updating the plan of a service instance.

- Developers can now un-bind and re-bind an app from a leader-follower instance, even when the leader is down.

- If the broker is upgraded but the service instances are not,
  developers can now un-bind and re-bind an app to an outdated service instance.

This release fixes the following issue that **operators** might have experienced:

- Extra whitespace in Azure backup configuration no longer causes backup failures.
 

### Compatibility

This release uses the following component versions:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td><a href="https://docs.pivotal.io/pivotalcf/stemcells/stemcells.html#3541-line">3541.x</a></td>
</tr>
<tr>
    <td>Percona Server</td>
    <td>5.7.21-20</td>
</tr>
<tr>
    <td>golang</td>
    <td>1.9.6<br> This is a downgrade because of an issue with golang v1.10.</td>
</tr>
</table>
