---
title: Release Notes
owner: MySQL
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

<p class="note"><strong>Note</strong>: MySQL for PCF v1.10 is requires PCF v1.10 and greater.</p>

## <a id="1-10-0"></a>v1.10.0

Release Date:

- Resolves an issue in which MySQL for PCF does not emit metrics on PCF 1.11.
