---
title: Release Notes
owner: MySQL
---

<strong><%= modified_date %></strong>

Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v2.4.x version, upgrade to the latest v2.4.x version
before upgrading to the latest v2.5.x version.

For product versions and upgrade paths, see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).


## <a id="250"></a>v2.5.0

**Release Date:**  December 13, 2018

### Features



New features and changes in this release:

**Auto-healing**

* A Leader VM that was resurrected by BOSH returns in read/write mode if no failover was triggered.
This removes the requirement for operators to run the `configure-leader-follower` BOSH errand post-resurrection.

**Improvements due to BOSH DNS**

p class="note warning"><strong> Important:</strong> For your app to reliably connect to MySQL over BOSH DNS,
you must make sure that your app, or the MySQL client library that the app uses,
retries in the case of DNS timeouts.</p>

* Developers now connect to a service instance using its BOSH DNS hostname,
  instead of over IPs as in MySQL for PCF v2.3.

* The leader-follower failover process no longer requires developers to rebind their apps to the service instance.

To take advantage of the BOSH DNS improvments, you must do the following:

1. Upgrade the MySQL instances, see <a href="./upgrade.html#upgrade-instances">Upgrade MySQL Instances</a>.

2. Rebind the apps, see <a href="./use.html#bind">Bind a Service Instance to Your App</a>.

**Service Instance Sharing**

* Developers can share their service instance across different Orgs and Spaces.

**Encryption at Rest**

* MySQL for PCF enables integration with commercial vendors for full-disk encryption at rest. This integration has been certified with the <a href="https://docs.pivotal.io/partners/vormetric-transparent-encryption/">Thales Vormetric plugin</a>.

**Improvements for Developers**

* Clearer messaging to developers trying to bind to a service instance with TLS disabled when the operator has enforced TLS.

**Improvements for Operators**

* BOSH errands run faster, saving operators time during upgrades and installation.
* Developers are prevented from binding or updating a service that is two or more versions older than the service broker.
* Operators can configure the timeout for the `upgrade-all-service-instances` BOSH errand to support large deployments.
* Operators can see apps with outdated bindings by running the `find-deprecated-bindings` BOSH errand.

**Improvements to Smoke Tests**

* Operators can run smoke tests on a specific service instance to determine its health.

### Security Fixes

This release includes the following security fixes:

* Service bindings no longer have unnecessary access to the MySQL `sys` database.

### Fixed Issues

This release fixes the following issues:

* Placement of service instance VMs is now randomized across all selected AZs for its plan, reducing the magnitude of an outage caused by an AZ failure.
* The `find-non-tls-bindings` BOSH errand on the service broker still works when the installed PCF version has Credhub, but secure service credentials is not enabled.
* If the `find-non-tls-bindings` errand fails, the operator sees better messaging for the cause of the error.
* Smoke tests no longer fail on an initial install of the tile when Service Plan Access is set to Manual.
