---
title: Release Notes
owner: MySQL
---

Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v1.7.x version,
upgrade to the latest v1.7.x version before upgrading to the latest v1.8.x version.

For product versions and upgrade paths, see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

## <a id="21x"></a>v2.1.x

### v2.1.0

**Release Date:**  October 3, 2017

* Provides a new restore utility on each service instance to make restoring from a backup artifact easier.
  For more information, see [Restore the Service Instance](/p-mysql/2-1/backup-and-restore.html#restoreinstance).
* Adds the ability to enable or disable `lower_case_table_names` for all MySQL service instances or only specific service instances.
  This helps when migrating from legacy systems that need case insensitivity.
  For more informatation, see [configure MySQL](/p-mysql/2-1/install-config.html#mysql).
* Changes several MySQL server default configurations to provide better consistency and expected behavior when migrating
  from the MySQL for PCF v1 series. 

* Upgrades several dependencies including, `golang 1.9.0` and `xtrabackup 2.4.5`.
* The origin for all MySQL metrics is now `p.mysql` rather than `p-mysql` to better reflect the service name.
* Requires stemcell 3421.20.
* This version of the tile can only be installed in an Ops Manager v1.11 or later environment.
* Fixes a known issue in the v2.0 series where smoke tests failed if port 80
  was blocked for internal traffic. All traffic from the smoke-tests errand now goes through port 443.
