---
title: Release Notes
owner: MySQL
---

<strong><%= modified_date %></strong>

Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v2.4.x version, upgrade to the latest v2.4.x version
before upgrading to the latest v2.5.x version.

For product versions and upgrade paths, see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

<p class="note breaking"><strong>Before Upgrading: </strong> All bindings created using MySQL for PCF v2.3 or earlier use IP addresses. Any bindings created using version 2.3 or earlier <strong>must be re-created</strong> before upgrading to v2.5, which requires DNS-based bindings.</p>

## <a id="251"></a>v2.5.1

**Release Date:**  December 17, 2018


#### Bindings Use DNS

This release completes the transition from bindings via IP addresses to DNS hostnames. This lays the foundation for coming improvements, and also enables Highly Available Clusters (HA Clusters).

### Features

New features and changes in this release:

**Three Topologies**

<p class="note warning"><strong>WARNING! </strong> Highly available plans are <strong>beta</strong> in v2.5. MySQL for PCF limits the total number of HA Cluster instances to five.</p>

MySQL for PCF now supports [Three Deployment Topologies](http://docs.pivotal.io/p-mysql/2-5/availability-options.html). In addition to single node and Leader-Follower, Operators can now offer a [Highly Available Cluster](http://docs.pivotal.io/p-mysql/2-5/install-config.html#active) option.

Highly Available clusters are **Beta** in this release of MySQL for PCF. While in **Beta**,

**Highly Available Clusters are not recommended for general use**. In addition to higher infrastructure cost, Galera clusters introduce some [significant limitations](https://docs.pivotal.io/p-mysql/1-10/index.html#limitations) that are different from running standard MySQL. Due to these limitations, HA Clusters are **not recommended for sharing between multiple users/applications**. Service instance sharing is **disabled** for HA Cluster. If necessary, you can still share via User Provided Service Instances (UPSI). For more information, see the [User Provided Service Instances documentation](https://docs.pivotal.io/pivotalcf/devguide/services/user-provided.html).

Choose HA Cluster only when the availability criteria that Leader-Follower provides is not sufficient for your application.

Features of Highly Available clusters include:

- On-demand HA
- [introducing a jumpbox?] `mysql-diag` and the replication canary (note MySQL diag shows disk usage, so nice, link to KPI for measuring/alerting?)

- **Special Note:** Sally does not want Binky to share Galera clusters, lest they discover that Galera is not good in a multi-tenant context (_p.mysql-2.5.0,p.mysql-2.5.x_) [[#161486979](https://www.pivotaltracker.com/story/show/161486979)]
- Binky would like to find a link to a dashboard **so that** she can view cluster state (_on-demand ha,p.mysql-2.5.0,p.mysql-2.5.x_) [[#161357186](https://www.pivotaltracker.com/story/show/161357186)]
- Binky would like to connect to her service instance using TLS when deploying with a PXC enabled plan (_on-demand ha,p.mysql-2.5.0,p.mysql-2.5.x,tls_) [[#160588712](https://www.pivotaltracker.com/story/show/160588712)]

## Improvements for Developers
- Binky sees that her service instance does not need to run `enable_tls` when TLS is enabled in the tile (_apps connect to mysql over tls,p.mysql-2.5.0,p.mysql-2.5.x,pcf-2.3_) [[#160112817](https://www.pivotaltracker.com/story/show/160112817)]
- Binky should be able to see metrics for her service instances via the CF CLI (_dev-self-service,metrics,p.mysql-2.5.0,p.mysql-2.5.x_) [[#159125660](https://www.pivotaltracker.com/story/show/159125660)]
- Binky can no longer connect to her service instance using a cert generated with IPs (_apps connect to mysql over tls,p.mysql-2.5.0,p.mysql-2.5.x_) [[#160112819](https://www.pivotaltracker.com/story/show/160112819)]

## Improvements for Operators
- Sally can see that all databases are using Percona Server 5.7.23-23 (_engine,p.mysql-2.2.x,p.mysql-2.3.2,p.mysql-2.3.x,p.mysql-2.4.x,p.mysql-2.5.0,p.mysql-2.5.x_) [[#160462660](https://www.pivotaltracker.com/story/show/160462660)]
- Sally can run a BOSH errand to find IP-based bindings (_p.mysql-2.4.1,p.mysql-2.4.x,p.mysql-2.5.0,p.mysql-2.5.x_) [[#160263101](https://www.pivotaltracker.com/story/show/160263101)]
- Sally can define 9 plans in the tile (_on-demand ha,p.mysql-2.5.0,p.mysql-2.5.x,tile_) [[#161598817](https://www.pivotaltracker.com/story/show/161598817)]
- **Conditional Do** Sally would like to mark plans as either free or not free **so that** Binky is aware that a cost is associated with on-demand instances (_p.mysql-2.5.0,p.mysql-2.5.x,tile_) [[#161553441](https://www.pivotaltracker.com/story/show/161553441)]
- Sally would like to configure the default idle timeout of service instance (_p.mysql-2.5.0,p.mysql-2.5.x,security,tile_) [[#160568096](https://www.pivotaltracker.com/story/show/160568096)]

### Bug Fixes
- [BUG] Binky cannot create a L/F service instance when TLS is required (_p.mysql-2.4.0,p.mysql-2.4.x,p.mysql-2.5.0,p.mysql-2.5.x_) [[#160434818](https://www.pivotaltracker.com/story/show/160434818)]
- [BUG] Sally should be able to see the reason why the find-non-tls-bindings  errand fails (_p.mysql-2.3.2,p.mysql-2.3.x,p.mysql-2.4.0,p.mysql-2.4.x,p.mysql-2.5.0,p.mysql-2.5.x_) [[#160173057](https://www.pivotaltracker.com/story/show/160173057)]
- [BUG] Binky should be confident that destroying a binding has revoked access to the database (_mysql-agent,p.mysql-2.4.2,p.mysql-2.4.x,p.mysql-2.5.0,p.mysql-2.5.x,security,waiting-for-ci_) [[#160567770](https://www.pivotaltracker.com/story/show/160567770)]



- ~~**Explore and do** Sally can see that audit logs are forwarded to syslog (_cvs,logging,p.mysql-2.5.0,p.mysql-2.5.x,possibly impossible_) [[#160188668](https://www.pivotaltracker.com/story/show/160188668)]~~

## <a id="250"></a>v2.5.0

**Do not use.**
