## <a id="230"></a>v2.3.0

Pivotal recommends that you upgrade to the latest version of your current minor line, then upgrade to the latest available version of the new minor line. For example, if you use an older v2.2.x version, upgrade to the latest v2.2.x version before upgrading to the latest v2.3.x version.

For product versions and upgrade paths, see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

**Release Date:**  May 22, 2018

### Features

- **Transport Layer Security:** TLS (formerly known as SSL) to Applications, Docker-based containers, and other clients.

  With MySQL for PCF v2.3.0, Applications can connect to MySQL over TLS (formerly known as SSL), without the need for IPSEC. **This feature requires PCF 1.12 and greater.** To use TLS, please refer to the following documentation:
  - Developers will need to [enable TLS](using-tls.html)
  - Developers will also need to [modify some apps](modify-apps-tls.html)
  - **Important:** You must read and follow the [TLS preparation documentation](https://docs.pivotal.io/p-mysql/prepare-tls.html) before enabling TLS. It is not necessary to follow these steps before upgrading to v2.3.0.

  TLS works for desktop clients as well, if network connectivity allows. Just follow the [connect to services via SSH](https://docs.pivotal.io/pivotalcf/devguide/deploy-apps/ssh-services.html) instructions, and use the CA cert provided by the service key.
- **Synchronous replication**

  When choosing Leader/Follower topology, Developers can now enable MySQL's "semi-synchronous" mode to ensure that transactions are replicated in **real time** to ensure availability in the case of host or AZ failure. Read more in the [synchronous replication documentation](maintain-leader-follower.html#synchronous-replication) for the leader-follower topology.
- **Service Credentials in CredHub**

  For PAS 2.0 and greater, Operators can choose to store service credentials in CredHub. For more information, read the [PAS Runtime Credhub topic](https://docs.pivotal.io/pivotalcf/2-0/opsguide/secure-si-creds.html). The [configuration documentation](install-config.html#security) covers how to enable this for MySQL for PCF.

  All developers **must re-bind any applications** of existing service instances in order to ensure that all credentials are stored in CredHub.

  **FIXME:** Did this make it to the docs / is it exposed? Sally would like to retrieve all broker passwords from credhub (_p.mysql-2.3.?,secure credentials via credhub,security_) [[#155094986](https://www.pivotaltracker.com/story/show/155094986)]

- Developers can now create multiple DB schemas.

  Database credentials created for application bindings or service keys are now able to create new MySQL databases (schemas). Previously, developers were not able to run: `create database FOO`
- Developers can now define the database charset and collation
  - See the documentation on [changing server defaults using optional parameters](change-default.html#configuring) to define these settings.

### Dependency Updates

- Service Instances will now run Percona Server 5.7.21-20
- Service Instances will now be deployed using the [3541.x stemcell line](https://docs.pivotal.io/pivotalcf/stemcells/stemcells.html#3541-line)
- Updated all dependencies to golang to 1.9.6 or greater


### General Improvements and Bug Fixes

**Developer Improvements**
- Developers can now specify a pre-set disk size as an arbitrary parameter

  **FIXME** How does this really work? (_custom disk size,p.mysql-2.3.?_) [[#154982580](https://www.pivotaltracker.com/story/show/154982580)]
- **Improvement:** A developer will get an error if they supply invalid arbitrary parameters when creating or updating a service instance
- **Bug fix:** Developers can now un-bind/re-bind an application from a leader-follower instance, even when the leader is down
- **Bug fix:** Developers cannot accidentally lose access to persistent disk by updating the plan of a service instance

**Operator Improvements**
- **Improvement:** We've made several cosmetic improvements to the `inspect` and `configure-leader-follower` errands
- **Improvement:** We've introduced a new configuration pane, "Service Instance Upgrades" where you can control how many canary upgrades must succeed, and how many service instances may be upgraded in parallel
- **Improvement:** Output from the broker's errands is now sent to syslog, if configured
- **Improvement:** Logs sent to syslog are now annotated with the assigned hostname or IP
- **Improvement:** All errands now uniformly send non-error output to stdout
- **Improvement:** You can now configure the mysql timeout

  **FIXME:** Which timeout is this? Refer to: (_p.mysql-2.3.0_) [[#155081663](https://www.pivotaltracker.com/story/show/155081663)]
- **Bug fix:** We've had to stop collocating some errands for tiles that are compatible with PCF 1.12 and earlier
- **Bug fix:** Extra whitespace in Azure backup configuration won't cause backup failures
- **Security:** The metrics collection job now connects to the MySQL server over localhost, reducing the scope of that users' access.


**Backups Improvements**

- Operators are no longer required to specify an AWS region when using Amazon S3 to store backup artifacts.
- Operators no longer need to provide the admin credential when restoring a backup artifact.
- All backup encryption keys can be stored in credhub so that she can retrieve them even if the instance is deleted the backup artifacts can be decrypted

  **FIXME:** What happens on PCF 1.12 or no CredHub deployed? (_backups,p.mysql-2.3.0_) [[#154887004](https://www.pivotaltracker.com/story/show/154887004)]


**Smoke tests**
- **Improvement:** The service broker smoke-tests errand now runs in a known organization and space so that you can configure your application security groups to allow the smoke-tests app to succeed.

  **FIXME:** what **are** the org and space, refer to: [[#156235995](https://www.pivotaltracker.com/story/show/156235995)]
- **Improvement:** We've increased the timeout for smoke-tests to 30 minutes, for very slow infrastructures.

### **Should not be tagged v2.3.0**

- **Explore** Make a decision about which binaries we should use when converting to pxc-release (_p.mysql-2.3.0,v2 uses pxc-release_) [[#156281970](https://www.pivotaltracker.com/story/show/156281970)]
- [BUG] **Interrupt** Help Cerner upgrade a db-small plan to multi-node db-large plan  (_interrupt,p.mysql-2.3.0_) [[#156334400](https://www.pivotaltracker.com/story/show/156334400)]
- [BUG] Sally should not have alpha releases of the on-demand-service-broker in a tile release (_p.mysql-2.3.0_) [[#156334298](https://www.pivotaltracker.com/story/show/156334298)]
- [BUG] The Leader/Follower plan included does not ID itself as L/F in Apps Manager (_p.mysql-2.3.0_) [[#156364414](https://www.pivotaltracker.com/story/show/156364414)]
- [BUG] creating a binding with a custom username of an existing user can fail and deletes the existing user (_p.mysql-2.2.5,p.mysql-2.2.x,p.mysql-2.3.0_) [[#156292613](https://www.pivotaltracker.com/story/show/156292613)]

### PM to review


- **Bug fix:** Sally should be required to specify a VM type, disk type, and AZ  (_p.mysql-2.2.2,p.mysql-2.2.x,p.mysql-2.3.0,tile_) [[#154545540](https://www.pivotaltracker.com/story/show/154545540)]
- [BUG] Binky can't unbind a resurrected service instance (_leader-follower,p.mysql-2.3.0_) [[#155634487](https://www.pivotaltracker.com/story/show/155634487)]
- Sally would like a more aesthetically pleasing "Settings" page (_p.mysql-2.2.x,p.mysql-2.3.0,tile_) [[#154826649](https://www.pivotaltracker.com/story/show/154826649)]

  **FIXME:** is this a cosmetic improvement worth noting? Will it be confusing if we can't remember when we made this change?

- [BUG] mysql-metrics does not connect over a unix socket in the tile (_apps connect to mysql over tls,p.mysql-2.3.0_) [[#156292134](https://www.pivotaltracker.com/story/show/156292134)]
- **Explore** As a PM, I'd like to know what we can do regarding difficulties with proper semver compliance of the tile (_p.mysql-2.3.0_) [[#156443846](https://www.pivotaltracker.com/story/show/156443846)]
