---
title: Release Notes
owner: MySQL
---

<p class="note"><strong>Note</strong>: MySQL for PCF v1.10 requires PCF v1.10 and ERT v1.10.<strong>9</strong> or later.</p>

## <a id="1-10-6"></a>v1.10.6

Release Date: November 3, 2017

- **New:** Changed the default of `innodb_flush_log_at_trx_commit` to `2`.
    This is considered safe when using Galera in clustered mode.
    Single node and very conservative cluster deployments might want to reset to the former default, `1`.
    For details, see [InnoDB Flush Log policy: 2](architecture.html#innodb-flush-log-at-trx-commit).
- Update to MariaDB [10.1.26](https://mariadb.com/kb/en/library/mariadb-10126-release-notes/)
- Upgrade nokogiri to 1.8.1, and rubygems to 2.6.13, to address recent Common Vulnerabilities and Exposures (CVEs)
- Update to stemcell 3445.16 to address low and medium stemcell vulnerabilities
- **Bug fix:** Smoke tests do not run if there are no public plans.

## <a id="1-10-5"></a>v1.10.5

Release Date: September 29, 2017

- Provides a checkbox where the operator can configure table locking behavior.
  For more information, see [Allow Table Locks](configuring.html#allow-table-locks).
- Bumped the default size of the backup VMs from 1&nbsp;GB RAM / 2 CPUs to 4&nbsp;GB RAM / 4 CPUs.
  You can customize this default in the Resource Configuration pane.
- **Bug fix:** Pre-start phase logs warnings, rather than time out, when `mysqld` takes time to start or stop.
- **Security:** Updates to rubygems 2.6.6 to address [CVE-2017-0902](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2017-0902).

## <a id="1-10-4"></a>v1.10.4

Release Date: September 21, 2017

- Updates stemcell to 3363.37.
  This security upgrade resolves [USN-3420-2](https://usn.ubuntu.com/usn/usn-3420-2/).

    For more information, see [pivotal.io/security](https://pivotal.io/security).

## <a id="1-10-3"></a>v1.10.3

Release Date: September 14, 2017

- Re-names package dependencies to avoid installation conflicts.
- Updates stemcell to 3363.35, which addresses a minor logrotate issue.

## <a id="1-10-2"></a>v1.10.2

Release Date: August 21, 2017

- Updates stemcell to 3363.31.
  This security upgrade resolves [USN-3392-2](https://usn.ubuntu.com/usn/usn-3392-2/).

    For more information, see [pivotal.io/security](https://pivotal.io/security).

## <a id="1-10-1"></a>v1.10.1

Release Date: August 16, 2017

- Updates stemcell to 3363.30. This security upgrade resolves [USN-3385-2](https://usn.ubuntu.com/usn/usn-3385-2/).

    For more information, see [pivotal.io/security](https://pivotal.io/security).

## <a id="1-10-0"></a>v1.10.0

Release Date: August 11, 2017

- **Change the Interruptor default setting to OFF.**

    For a [year](http://docs.pivotal.io/p-mysql/1-7/release-notes.html#1-7-11), MySQL for PCF has included the [Interruptor](interruptor.html). It's a protective mechanism which stops a node from automatically rejoining the cluster if doing so might delete application data. We also upgraded to [MariaDB 10.1](https://mariadb.com/kb/en/mariadb/what-is-mariadb-101/) and provided the [Replication Canary](monitoring-mysql.html#repcanary) to further protect application data. There have been zero instances where the Interruptor has been needed to protect application data.<br><br>

    In this release, we are disabling the Interruptor because it is disruptive to normal cluster function, and requires manual operator action to restore availability. We feel confident that disabling the Interruptor in all but the most critical environments is a safe and convenient choice.<br><br>

    If you want to continue using the Interruptor, make sure that "Prevent node auto re-join" is checked in the "Advanced Options" configuration pane, then hit **Apply Changes.**
- Resolves an issue in which MySQL for PCF v1.9 does not emit metrics on PCF v1.11.
- Small improvements to the `mysql-diag` tool, now including a warning when available disk space is low.
- Upgrades several dependencies including `nokogiri 1.8.0`, `golang 1.8.3`, `xtrabackup 2.4.5`, `boost 1.59.0`, and `python 2.7.13`
- Updates stemcell to 3363.29. This security upgrade resolves [USN-3265-2](http://www.ubuntu.com/usn/USN-3265-2/).

    For more information, see [pivotal.io/security](https://pivotal.io/security).
