---
title: Release Notes
owner: MySQL
---

Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v2.0.x version,
upgrade to the latest v2.0.x version before upgrading to the latest v2.1.x version.

For product versions and upgrade paths, see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

## <a id="225"></a>v2.2.5

**Release Date:** May 8, 2018

* Fixes an issue where updating a service instance may hang indefinitely after MySQL crashes.

* MySQL user for collecting metrics scoped to only connect over localhost.

* Prevents users from creating a binding specifying a custom username of an existing user.

* Requires stemcell 3445.42.

## <a id="224"></a>v2.2.4

**Release Date:**  March 15, 2018

* Removes the colocated errands feature added in v2.2.0.
  Errands now run in individual errand VMs, the same as in v2.1.

* Upgrades Percona Server to 5.7.20-21.

* Requires stemcell 3445.28.

## <a id="223"></a>v2.2.3

**Release Date:**  February 16, 2018

* Fixes a service-binding issue, where the service broker returned the IP address of the original leader.

* Minor usability improvements to leader-follower orchestration errands.

## <a id="222"></a>v2.2.2

**Release Date:**  February 8, 2018

* When configuring backups to an S3-compatible endpoint, **region** is no longer a required property.

* Requires stemcell 3445.24.

## <a id="221"></a>v2.2.1

**Release Date:**  January 23, 2018

* Prevents orphaning a disk when updating a service instance to a plan in a different AZ.

* Upgrades Percona Server to v5.7.20-19.

* Requires stemcell 3445.23.

## <a id="220"></a>v2.2.0

**Release Date:**  January 23, 2018

* Can only be installed in an Ops Manager v1.12 or later environment.

* Offers the ability to create multi-AZ leader-follower instances. Operators can monitor leader-follower
  instances with replication metrics.
  For more information, see [About Leader-Follower](./about-leader-follower.html).

* No longer includes the option to disable automated backups.
  You must configure automated backups.
  For more information, see [Backing Up and Restoring On-Demand MySQL for PCF](backup-and-restore.html).

* Updates the mysql-restore utility to make restoring from a backup artifact easier.
  For more information, see [Restore the Service Instance](./backup-and-restore.html#restoreinstance).

* Adds the ability to enable create service binding and service keys with custom usernames.
  Also introduces **read only** bindings.
  For more information, see [Customizing Database Credentials](./customize-access.html).

* Enables developers to use workload profiles for best practices in server configuration.
  For more information, see [Changing MySQL Server Defaults](./change-default.html#changes).

* No longer includes individual errand VMs.
  Instead, errands are run on the MySQL VMs.
  These colocated errands run faster and use fewer resources.

* Upgrades several dependencies including, `golang 1.9.1`.

* Upgrades Percona Server to v5.7.20-18.

* Requires stemcell 3445.19.
