---
title: Release Notes
owner: MySQL
---

<strong><%= modified_date %></strong>

Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v2.4.x version, upgrade to the latest v2.4.x version
before upgrading to the latest v2.5.x version.

For product versions and upgrade paths, see the
[Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).

<!-- If you do not do this than your installation is like stuck. Does count as a breaking change or warning? -->
<p class="note breaking"><strong>Breaking Change: </strong>
  All service bindings created using MySQL for Pivotal Cloud Foundry (PCF) v2.3
  or earlier use IP addresses. Any bindings created using v2.3 or earlier must
  be re-created before upgrading to v2.5, which requires service bindings that
  use DNS hostnames. For more information, see
  <a href="./prepare-upgrade.html">Preparing for Upgrading MySQL for PCF</a>.</p>

## <a id="257"></a>v2.5.7

**Release Date:**  Aug 20, 2019

### New Feature

+ Bumps Percona Server to the latest version 5.7.26-29.

### High CVE fix

+ Bumps CF CLI to the version 6.46 which contains a high CVE fix to redact passwords and tokens.


### Bug fix

+ We fixed a regression to automatic backups for leader-follower plans such that all service instances of this topology will now have backups running locally.

## <a id="256"></a>v2.5.6

**Release Date:**  July 19, 2019

### New Features

This release includes the following feature:

+ Bumps AWS CLI version used by automatic backups to support non-public AWS regions and external object stores that require the v4 signature.

## <a id="255"></a>v2.5.5

**Release Date:**  June 13, 2019

### Resolved Issue

This release fixes the following issue:

* The issue where smoke tests failed because MySQL for PCF used the wrong apps domain.

    Now smoke tests on MySQL for PCF always use the correct app domain, the domain that is configured
  in Pivotal Application Service (PAS).
  For information about setting **Apps Domain** in the PAS tile,
  see [Configure Domains](https://docs.pivotal.io/pivotalcf/2-5/customizing/configure-pas.html#domains).

## <a id="254"></a>v2.5.4

**Release Date:**  April 18, 2019

### Features

New features and changes in this release:

* Updates Service Backups to v18.2.0. This update includes the following:
  * `smoke-tests` errands can be used in environments that use
  custom Java buildpacks with OracleJDK.
  For more information,
  see [Service Backups for PCF v18.2.0](https://docs.pivotal.io/svc-sdk/service-backup/18-2/release-notes.html#1820x).
* Updates PXC release to v0.15.0. This update includes the following:
  * MySQL backups are run as a limited-permissions user.
  Previously, backups were run as an admin.
  * Updates Percona XtraDB Cluster to v5.7.25-31.35.
  For more information,
  see [pxc-release v0.15.0](https://github.com/cloudfoundry-incubator/pxc-release/releases/tag/v0.15.0) in GitHub.

### Resolved Issues

This release fixes known issues, so that:

* Automatic backup works for highly available (HA) clusters.

* Java apps can establish connection to HA clusters even if TLS is disabled.

* Azure backups support on-premise blob storage.
  For more information,
  see the **Blob Store Base URL** field in [Option 4: Back Up to Azure Storage](./backup-and-restore.html#azure).

### Known Issues

This release has the following issue:

* The Scheduler for PCF tile does not support TLS.
  If you have the Scheduler for PCF tile installed, MySQL for PCF must have
  **TLS Options** set to **Optional** or **Not Configured**.

## <a id="253"></a>v2.5.3

**Release Date:**  January 11, 2019

### Known Issues

This release has the following issues:

* The Scheduler for PCF tile does not support TLS.
  If you have the Scheduler for PCF tile installed, MySQL for PCF must have
  **TLS Options** set to **Optional** or **Not Configured**.

<%= partial 'ha_cluster_backup_ki' %>

* Java apps are not able to establish a connection to an HA cluster service
  instance if TLS is disabled.

### Resolved Issue

This release fixes the following issue:

* The issue in the interaction between the MariaDB Connector/J and the Java API.
  This issue prevented TLS connection for Spring Cloud Services
  and all Spring apps that used the MariaDB Connector/J.

### Feature

New feature and change in this release:

* Updates golang to v1.11.4 to address [CVE-2018-16873](https://github.com/golang/go/issues/29230)

## <a id="252"></a>v2.5.2

**Release Date:**  December 19, 2018

### Known Issues

This release has the following issue:

- There is a known issue in the interaction between the [MariaDB Connector/J](https://mariadb.com/kb/en/library/about-mariadb-connector-j/) and the Java API, which leads to the following limitations:
  - PCF deployments using the Spring Cloud Services tile or the Scheduler for PCF tile must have TLS **disabled** in the MySQL for PCF tile.
  - If the operator chooses to enable TLS, developers cannot use the MariaDB Connector/J in their Spring apps to connect to a MySQL service instance.
  Pivotal recommends developers configure their apps to use the [MySQL Connector/J](https://dev.mysql.com/downloads/connector/j/8.0.html) instead of the MariaDB Connector/J.

<%= partial 'ha_cluster_backup_ki' %>

### Features

New features and changes in this release:

- [Highly Available (HA) Cluster Service Plans](#ha-cluster)
- [All Bindings Use DNS](#bindings)
- [Developers Can Monitor Service Instances](#dev-monitor)
- [Connections Secured with TLS by Default](#connections)
- [Improvements for Operators](#improvements)

####<a name="ha-cluster"></a>Highly Available (HA) Cluster Service Plans

<%= partial "./galera_beta" %>

MySQL for PCF now supports three deployment topologies. In addition to single
node and leader-follower service plans, operators can offer an HA cluster
service plan. For information about how to configure an HA cluster plan, see
[Configure Service Plans](./install-config.html#active). For
information about availability criteria for each topology, see
[Availability Options](./availability-options.html).

Features of HA clusters include:

- Multiple deployments of HA clusters can be provisioned on demand.
- Developers can view a dashboard to see the state of each node in an HA cluster.
  For more information, see [Monitor Node Health Using the Dashboard](./monitor-health.html#dashboard).
- Connections to HA clusters are secured through TLS.
- Monitoring, diagnostics, and backups are performed from a jumpbox VM.
  For information about how to configure this VM,
  see [Configure Service Plans](./install-config.html#active).
	- The jumpbox VM runs a replication canary that continuously tests replication health of cluster nodes.
          For more information, see [Replication Canary](./replication-canary.html).
	- Operators can run diagnostics, such as disk usage, on an HA cluster by running `mysql-diag` on the jumpbox VM.
          For more information, see [Running mysql-diag](./mysql-diag.html).
	- Like single node and leader-follower, configuring automatic backups is required.
          For information about how to configure automated backups,
          see [Configure Backups](./install-config.html#backups).
          For instructions to perform a manual backup and restore,
          see [Backing Up and Restoring On-Demand MySQL for PCF](./backup-and-restore.html).

While in beta, the following limitations exist for HA clusters:

- Operators are required to impose a plan quota of five or fewer instances.
- Restoring from backups is a manual process.
  For more information, see [Restore an HA Cluster Instance](./backup-and-restore.html#runHA).
- HA clusters cannot integrate with [Vormetric Transparent Encryption for PCF](https://docs.pivotal.io/partners/vormetric-transparent-encryption/).

<!-- Add new link when topic is done -->

**Highly available clusters are for advanced use cases only.**
In addition to higher infrastructure cost,
HA clusters introduce some significant limitations that are different from running single node or leader-follower service plans.
For more information, see [High Availability Limitations](https://docs.pivotal.io/p-mysql/1-10/index.html#limitations).

Due to these limitations, Pivotal recommends that HA clusters are not shared between multiple users or apps.
Service instance sharing is disabled for HA clusters.
If necessary, you can still share HA clusters between multiple users or apps by creating user-provided service instances.
For more information, see [User-Provided Service Instances](https://docs.pivotal.io/pivotalcf/devguide/services/user-provided.html).

You should use HA clusters only when the availability criteria that leader-follower provides is not sufficient for your app.

####<a name="bindings"></a>All Bindings Use DNS

+ All services bindings use DNS hostnames instead of IP addresses.
This feature was introduced in [MySQL for PCF v2.4.0](https://docs.pivotal.io/p-mysql/2-4/release-notes.html#240),
which enabled no-rebind failovers as well as future improvements and highly available (HA) clusters.

####<a name="dev-monitor"></a>Developers Can Monitor Service Instances

+ Developers can see metrics for their service instances using the
[Cloud Foundry Command Line Interface (cf CLI) Log Cache plugin](https://github.com/cloudfoundry/log-cache-cli).
For more information about the cf CLI Log Cache plugin,
see [Cloud Foundry Command Line Interface (cf CLI) Log Cache plugin](https://github.com/cloudfoundry/log-cache-cli).
For more information about metrics for MySQL for PCF, see [Monitoring and KPIs](./monitor.html).

####<a name="connections"></a>Connections Secured with TLS by Default

+ Connections to the database over TLS are enabled by default for each service instance.
Developers no longer need to manually enable TLS.
Operators can optionally disable TLS.

####<a name="improvements"></a>Improvements for Operators

+ Operators can configure up to nine service plans in the tile.
+ Operators can mark service plans as free or paid.
  This feature helps developers to be aware of costs associated with certain service plans.
+ Operators can configure the default idle timeout for connections to a service instance.
  This prevents apps from overloading the database with unnecessary connections.

## <a id="251"></a>v2.5.1

**Do not use.**

## <a id="250"></a>v2.5.0

**Do not use.**

### Compatibility

The following components are compatible with this release:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td><a href="https://docs.pivotal.io/pivotalcf/stemcells/stemcells.html#170-line">Xenial 170.x</a></td>
</tr>
</table>
