---
title: Release Notes
Owner: MySQL
---

<strong><%= modified_date %></strong>

Pivotal recommends that you upgrade to the latest version of your current minor line, then upgrade to the latest available version of the new minor line. For example, if you use an older vX.x
.x version, upgrade to the latest vX.x.x version before upgrading to the latest vX.x.x version.

For product versions and upgrade paths, see the [Product Compatibility Matrix](https://docs.pivotal.io/resources/product-compatibility-matrix.pdf).

## <a id="XXX"></a> v2.6.x

**Release Date: XX X, XXX**

### Features

New features and changes in this release:

+ When upgrading from MySQL for PCF v2.5 to v2.6, internal certificates and
certificate authorities automatically rotate when
an operator runs `upgrade-all-service-instances`. The new certificates and CAs do
not expire for 5 years. 
<p class="note warning"><strong>Warning:</strong> If you do not run <code>upgrade-all-service-instances</code> your certificates can expire. This can cause issues with backups, services bindings, and highly available clusters. </p>


### Security Fixes

This release includes the following security fixes:


### Fixed Issues

This release fixes the following issue:


### Known Issues

This release has the following known issues:

or

There are no known issues for this release.

### Compatibility

This release uses the following component versions:

<table border="1" class="nice">
<tr>
    <th>Component</th>
    <th>Version</th>
</tr>
<tr>
    <td>Stemcell</td>
    <td>vX.x.x</td>
</tr>
<tr>
    <td>Component2-That-Is-Not-Percona-Or-Golang</td>
    <td>vX.x.x</td>
</tr>
<tr>
    <td>Component3-That-Is-Not-Percona-Or-Golang</td>
    <td>vX.x.x</td>
</tr>
</table>

## <a id="view"></a> View Release Notes for Another Version

To view the release notes for another product version, select the version from
dropdown at the top of this page.
