---
title: Release Notes
owner: MySQL
---

<style>
    .note.warning {
        background-color: #fdd;
        border-color: #fbb
    }

    .note.warning:before {
        color: #f99;
     }
</style>

## <a id="1-8-0-e13"></a>1.8.0-Edge.13

Release date: 12 October 2016

- Includes stability and bug fixes.
- **Security:** We've made several logging fixes.

## <a id="1-8-0-e12"></a>1.8.0-Edge.12

Release date: 10 October 2016

- **Bug fix:** This release fixes a bug in 1.8.0-edge.11 and 1.8.0-edge.10 where upgrading
 from 1.8.0-edge.9 failed on Ops Manager 1.6 when clicking the "upgrade" button.

<p class='note'><strong>Deprecation Notice:</strong> Future releases of p-mysql
  1.8.0 will be restricted to versions of OpsManager 1.7 and greater.
  If you are using OpsManager 1.6 or earlier, you will need to upgrade OpsManager
  before upgrading to those versions of Pivotal MySQL.</p>

## <a id="1-8-0-e11"></a>1.8.0-Edge.11

Release date: 05 October 2016

- Do not use. Unfortunately, this release did not resolve the known issue mentioned below. Attempting to upgrade from version 1.8.0-edge.9 using Ops Manager 1.6 still results in an error.

## <a id="1-8-0-e10"></a>1.8.0-Edge.10

Release date: 29 September 2016

- Updated stemcell to 3263.3 This is a security upgrade that resolves the following:
  - [USN-3087-2](http://www.ubuntu.com/usn/USN-3087-2/)
  - This also upgrades from the Linux 3.9 kernel to version 4.4.

    See <a href="https://pivotal.io/security">https://pivotal.io/security</a> for more information.

- MariaDB updated to version 10.1.17 and Galera 25.3.17.
  This is an upgrade to a new minor release from MariaDB 10.0 to 10.1. The upgrade is automatic, and if deployed while in HA configuration will not cause downtime for applications.
- **Bug fix:** Introduced a fix to the replication canary which reduces the possibility of false positives.
- **Known Issue:** On Ops Manager 1.6 only, the tile fails to upgrade from p-mysql 1.8.0-edge.9. This will be fixed in a coming release.
    The error message returned will be similar to the following: `Product 'MySQL' could not be upgraded from 1.8.0.pre.edge.9.alpha.934.9c05453 to 1.8.0.pre.edge.10. Please contact your Pivotal representative.`

<p class='note'><strong>Deprecation Notice:</strong> Future releases of p-mysql 1.8.0 will be restricted to versions of OpsManager 1.7 and greater. If you are using OpsManager 1.6 or earlier, you will need to upgrade OpsManager before upgrading to those versions of Pivotal MySQL.</p>


## <a id="1-8-0-e9"></a>1.8.0-Edge.9

Release date: 29 August 2016

- Updated stemcell to 3232.17. This is a security upgrade that resolves the following issues:
  - [USN-3064-1](http://www.ubuntu.com/usn/USN-3064-1/)
  - [USN-3048-1](http://www.ubuntu.com/usn/USN-3048-1/)
  - [USN-3060-1](http://www.ubuntu.com/usn/USN-3060-1/)
  - [USN-3061-1](http://www.ubuntu.com/usn/USN-3061-1/)
  - [USN-3065-1](http://www.ubuntu.com/usn/USN-3065-1/)

You can find more information about these at [https://pivotal.io/security](https://pivotal.io/security).

There exists an uncommon situation where a MySQL cluster experiences a fault in replication that can result in some data loss. When this occurs, previous releases do not log the root cause of the bug. To best address this issue, version 1.8.0-Edge.9 contains significant additional telemetry and several defensive features which account for the failure condition and prevent data loss.

<p class='note warning'><strong>WARNING</strong>: If any of these protections activate, it is critical that you contact Pivotal support immediately. Support will work with you to determine the nature of the cluster's failure and advise a suggested resolution. Additionally, contacting Support provides information that enables Pivotal to identify and address the root cause in the future.</p>

  - **Introducing the Replication Canary**

    This release includes a new long-running monitor, the **Replication Canary**. The Replication Canary continually monitors the MySQL cluster, watching for instances where cross-cluster replication has failed. It is enabled by default and requires that you provide an email address in the Advanced Options configuration pane.<br><br>

    When replication fails, the Canary performs two actions:

    - Emails the Operator: The Replication Canary configuration includes an email address which can be directed to any operator email address, or an escalation system such as PagerDuty.
    - Denies Access: When replication fails, the Replication Canary automatically disables user and applications access to the cluster through the Proxies.

    <p class='note'><strong>Note</strong>: Due to the serious nature of a failure in replication, both of the above behaviors are enabled by default. During configuration, you can set the Replication Canary to notify-only mode, but we do not recommended this.</p>

    - You must set the **Monitoring** job to `1` in the Resource Config pane, or the Replication Canary will not be enabled, regardless of configuration.
    - You must also confirm that the Elastic Runtime tile is properly configured to send email. These settings are required in any standard Cloud Foundry configuration.
      - Ensure that the **Notifications** errand has been enabled.
      - Ensure that **SMTP Config** has been properly configured.

        If either of these are not set, configure and **Apply Changes** before deploying version 1.8.0-Edge.9.

    For more information about the Replication Canary, see the [Monitoring Documentation](monitoring-mysql.html#repcanary).

  - **Introducing the Interruptor**

    The MySQL nodes have new logic that, when enabled, prevent a node from re-joining a cluster under certain conditions. This is a second level of protection against the possibility of data loss.<br><br>

    For more information about the Interruptor, see the [Monitoring Documentation](monitoring-mysql.html#interruptor).

  - **New feature**: Backing up all nodes

    In the Backups configuration pane, there is an option to take backups from all MySQL nodes. This feature protects users from data loss in when some nodes have different data than the others.
  - Logging Changes
    - MySQL job logs are kept local on the VM, in addition to being sent to syslog if configured.
    - Binary logs are now enabled and rotated automatically by the system.
    - Audit logs are now enabled, and automatically configured by the system.
      - Audit logs are not transmitted to syslog, due to the sensitive nature of the content of the audit logs.
    - Multiple debug log changes have been added to aid in diagnosis efforts.
  - XA Transactions are now disallowed.
    - XA Transactions are not compatible with HA technology.
  - Quota Enforcer is now configurable.
  - Maximum open file descriptors now default to maximum possible, over 1 million.
  - **Security fix:** Now includes MariaDB 10.0.24
    - Avoids a possible credential leak and fixes a minor bug.
  - **Security fix:** In previous releases, backups caused the MySQL VMs to log the MySQL root password, when enabled.

    <p class='note'><strong>Note:</strong> To change this password, see <a href=credential-rotation.html>Credential Rotation</a>.</p>

  - **Bug fix:** Addresses a bug in Ops Manager 1.7.0, in which upgrading to a recent version of Pivotal MySQL causes Ops Manager to issue an internal server error.

  - **Known Issue:** When installed on Ops Manager, the tile identifies itself as `p-mysql-1.8.0-edge.9.alpha.934.9c05453.pivotal`. This is an error. It should read `p-mysql-1.8.0-edge.9`. This is a normal, supported release.

## <a id="1-8-0-e8"></a>1.8.0-Edge.8

- See below, same update as [version 1.6.13](#1-6-13)

## <a id="1-8-0-e7"></a>1.8.0-Edge.7

Release date: 28 June 2016

- Updated stemcell to 3232.8. This is a security upgrade that resolves the following:
  - [USN-3001-1](http://www.ubuntu.com/usn/usn-3001-1/)
- Addresses a [known issue](known-issues.html#compile-fails) in which recent versions of MySQL for Pivotal Cloud Foundry (PCF) 1.8.0 do not install without Internet access.
- **Bug fix**: When deployed on Ops Manager 1.7, the `backup-prepare-node` now requires persistent disk instead of a VM with a large amount of CPUs, RAM and ephemeral disk space.

Additional information can be found at https://pivotal.io/security.

## <a id="1-8-0-e6"></a>1.8.0-Edge.6

Release date: 18 May 2016

- Updated stemcell to 3232.4. This is a security upgrade that resolves the following:
  - [USN-2977-1](http://www.ubuntu.com/usn/usn-2977-1/)

## <a id="1-8-0-e5"></a>1.8.0-Edge.5

Release date: 06 May 2016

- Updated stemcell to 3232.2. This is a security upgrade that resolves the following:
  - [USN-2959-1](http://www.ubuntu.com/usn/usn-2959-1/)
- **Known Issue:** On PCF 1.7 only, the MySQL for PCF acceptance test errand will not work on MySQL for PCF 1.8.0-edge.1 through 1.8.0-edge.5. This will be fixed in the next release.

Additional information can be found at https://pivotal.io/security.

## <a id="1-8-0-e4"></a>1.8.0-Edge.4

Release date: 8 April 2016

- Automated backups can now additionally target a Ceph back-end storage service or direct to another host via SCP.
- New `Database Configuration` settings page
  - Includes the option to enable a read-only user.
  - Allows an override to activate DNS reverse name resolution.
- Additional mysql server tuning tweaks to improve performance.
- MariaDB updated to version 10.0.23.
- **Bug fix**: Update `broker-registrar` to avoid runaway CPU condition on broker VMs.
- **Bug fix:** Operator can now override the default number of open files while taking backups.

## <a id="1-8-0-e3"></a>1.8.0-Edge.3

Release date: 16 March 2016

- See below, same security update as [version 1.6.9](#1-6-9)

## <a id="1-8-0-e2"></a>1.8.0-Edge.2

Release date: 02 March 2016

- MySQL for PCF now skips reverse DNS resolution when accepting connections.
  - This change improves performance, and is only necessary when restricting access by hostname, which is not required in typical MySQL for PCF installations. You can override this value in the "Database Configuration" configuration pane.
- **Bug fix**: Enable Operator to specify S3 region.
  - Before this configuration, uploads were limited to the S3 Standard region, 'us-east-1.'
- See below, same security update as [version 1.6.8](#1-6-8)

## <a id="1-8-0-e1"></a>1.8.0-Edge.1

Release date: 20 January 2016

- **New Feature:** Multiple service plans
  - **Note:** On upgrade from a version of MySQL for PCF that offered only a single plan, the default plan will be renamed. Regardless of the name of the previous plan (e.g., `100mb-dev`), the plan will now be named, `pre-existing-plan`. It's not possible to automatically reset the plan to the former name. If you wish to retain the same plan name, it's fine to edit that plan name before clicking **Apply Changes** when upgrading to MySQL for PCF v1.8.0. See [the documentation](./index.html#service-plan) for more information.
- **New Feature:** `bosh` bootstrap errand
- MariaDB updated to version 10.0.22 and Galera 25.3.9.
