---
title: Release Notes
owner: MySQL
---

<strong><%= modified_date %></strong>

Pivotal recommends that you upgrade to the latest version of your current minor line,
then upgrade to the latest available version of the new minor line.
For example, if you use an older v2.4.x version, upgrade to the latest v2.4.x version
before upgrading to the latest v2.5.x version.

For product versions and upgrade paths, see the [Product Compatibility Matrix](http://docs.pivotal.io/compatibility-matrix.pdf).


## <a id="250"></a>v2.5.1

**Release Date:**  December 17, 2018

Coming Soon.
