---
title: Restoring a Single Service Instance
owner: MySQL
---

This topic describes how to restore a single service instance of MySQL for Pivotal Cloud Foundry (PCF).

## <a id='overview'></a>Overview

Because automated backups for MySQL for PCF back up all data stored by the cluster,
each backup artifact contains all of the service instances.
For more information about automated backups,
see the [Enable Automated Backups](backup.html#enable-backups) section of the <em>Backups</em> topic.

Backups of the entire cluster are useful for operators dealing with a disaster recovery scenario.
But in cases where user error invalidates a single service instance,
the operator might want to restore the data for only one instance.

## <a id='restore'></a>Restore Your Service Instance

Perform the following procedures to restore a single service instance:

1. Deploy a [MariaDB](https://mariadb.org/) server in a different environment than the one that contains your MySQL for PCF cluster.
   Pivotal recommends deploying the MySQL for PCF tile to a non-production PCF environment
   or deploying the official Docker image of MariaDB to a Docker container.
   For more information about deploying MySQL for PCF, see [Installing MySQL for PCF](installing.html).
   For more information about deploying MariaDB with Docker,
   see the [MariaDB documentation](https://mariadb.com/kb/en/the-mariadb-library/installing-and-using-mariadb-via-docker/).

1. Locate your backup artifact.
   The location of your backup artifact depends on how you configured your automated backups.
   For more information, see the [Enable Automated Backups](backup.html#enable-backups) section of the <em>Backups</em> topic.
1. Transfer the backup artifact to the temporary MariaDB instance. 
1. SSH into the temporary MariaDB instance.
1. Delete the existing MySQL data that is stored on the temporary MariaDB instance by running `rm -rf PATH-TO-MARIADB-DATA-DIRECTORY/*`. For example:
	<pre class="terminal">
	$ rm -rf /mysql/*
	</pre>
	If you are using MySQL for PCF, the path to your MariaDB data directory is `/var/vcap/store/mysql`. 
1. Decrypt and expand the backup artifact into the MariaDB data directory. For example:
	<pre class="terminal">
	$ gpg --decrypt mysql-backup.tar.gpg | tar -C /mysql -xvf -
	</pre>
1. Change the owner of the MariaDB data directory, because MySQL expects the data directory to be owned by a particular user. For example:
	<pre class="terminal">
	$ chown -R vcap:vcap /mysql
	</pre>
1. Restart MariaDB using the method you used to deploy the temporary MariaDB server.
1. To back up the database that contains the service instance, use `mysqldump` and specify the database name. For example,
 	<pre class="terminal">
	$ mysqldump -u admin -p -h localhost YOUR-DATABASE-NAME --single-transaction > YOUR-DATABASE-NAME.sql
 	</pre>
1. Perform steps 1 through 5 of [Manual Backup with Remote Admin Access Disabled (Default)](backup.html#manual-backup-remote-access-disabled) in *Backups**.
1. Use the MySQL client to restore the MySQL database or databases. Run the following command:

    `mysql -u USERNAME -p PASSWORD -h MYSQL-PROXY-IP < BACKUP-NAME.sql`
    <br><br>
    Where:
    * `USERNAME`: Enter the username retrieved from the output of `cf service-key`.
    * `PASSWORD`: Enter the password retrieved from the output of `cf service-key`.
    * `MYSQL-PROXY-IP`. Enter the value of `hostname` retrieved from the output of `cf service-key`.
    * `BACKUP-NAME`: Enter the file name of the backup artifact created above with `mysqldump.
    <br><br>
	<p class="note"><strong>Note: </strong> During the restore process, all apps bound to the service instance should be down, or in read-only mode. This is because the data will be inconsistent during this process.</p>
	<br><br>
    For example:
    <pre class="terminal">
    $ mysql -u abcdefghijklm \
    -p 123456789 \ 
    -h 10.10.10.8 -e < user_database.sql</pre>
    <br>
	This replaces the existing data in the MySQL for PCF cluster with the content of the backup artifact,
	without affecting the data of any other service instances.

