---
title: Rotating CA Certificates
owner: MySQL
---

This topic describes how to rotate CA certificates in BOSH CredHub. 

If you are using TLS for MySQL for PCF, you provided a CA certificate to CredHub when performing the procedures in [Preparing for TLS](prepare-tls.html).

You must rotate the CA certificate before it expires or if it is compromised.

##<a id='new-ca'></a> Add New CA Certificate

Perform the following steps to add a new CA certificate to CredHub:

1. Retrieve the IP address of the BOSH Director VM and the Director credentials by performing the steps in [Gather Credential and IP Address Information](https://docs.pivotal.io/pivotalcf/2-0/customizing/trouble-advanced.html#gather). 
Both the UAA and CredHub servers are colocated on the BOSH Director VM.

1. SSH into the Ops Manager VM by performing the steps in [SSH into Ops Manager of Advanced Troubleshooting with the BOSH CLI](https://docs.pivotal.io/pivotalcf/2-0/customizing/trouble-advanced.html#ssh).

1. Use the CredHub CLI to generate a CA certificate or provide an existing one.
    <p class="note"><strong>Note</strong>: Your PCF deployment may have multiple CA certificates. Pivotal recommends a dedicated CA certificate for services.</p> 
    * If you do not have a CA certificate, use the CredHub CLI to generate one. Enter the following command:
        <pre class="terminal">
        $ credhub generate \
            --name="/services/tls_ca" \
            --type="certificate" \
            --is-ca \
            --common-name="rootCA"
        </pre>
    * If you have an existing CA certificate that you want to use, create a new file called `root.pem` with the contents of the certificate. Then enter the following command, specifying the path to `root.pem` and the private key for the certificate:
        <pre class="terminal">
        $ credhub set \
            --name="/services/tls_ca" \
            --type="certificate" \
            --certificate=./root.pem \
            --private=ERKSOSMFF...
        </pre>

1. From the output, copy the `certificate` portion.
1. Navigate to the Ops Manager Installation Dashboard and click the **Ops Manager Director** tile. Click **Security**.
1. Append the contents of the new CA certificate to the old CA certificate under **Trusted Certificates**. 
Do not remove the old CA certificate.
1. Click **Save**.
1. Return to the Ops Manager Installation Dashboard and click **Apply Changes**. 
This restarts all the VMs in your PCF deployment, and applies your CA certificate.

##<a id='regenerate'></a> Regenerate Certificates and Redeploy Service Instances

Perform the following steps to regenerate your certificates and redeploy your service instances:

1. Log in to CredHub with the CredHub CLI:
	* If you are using PCF v1.12, run the following command:

		```
		credhub login --client-name=credhub --client-secret=CLIENT-SECRET
		```
		<br>
		Where `CLIENT-SECRET` is the client secret you set in [Create UAA Client](prepare-tls.html#uaa). 
		<br><br> 
		For example:
	    <pre class="terminal">
	    $ credhub login \
	    	--client-name=credhub \
	    	--client-secret=abcdefghijklm123456789
	    </pre>
    * If you are using PCF v2.x, run the following command:

	    ```
	    credhub login --username=USERNAME --password=PASSWORD
	    ```
	    <br>
	    Where:
	    * `USERNAME` is the value for `identity` from **Uaa Login Admin Credentials** in the **Credentials** tab of the Ops Manager Director tile. You retrieved this value in [Provide a CA Certificate in PCF v2.x](prepare-tls.html#provide-pcf-2-0).
	    * `PASSWORD` is the value for `password` from **Uaa Login Admin Credentials** in the **Credentials** tab of the Ops Manager Director tile. You retrieved this value in [Provide a CA Certificate in PCF v2.x](prepare-tls.html#provide-pcf-2-0).
	    <br><br>
	    For example:
	    <pre class="terminal">
	    $ credhub login \
	    	--username=admin \
	    	--password=abcdefghijklm123456789
	    </pre>

1. Use `curl` to make a call to the CredHub server on the BOSH Director VM to bulk regenerate all certificates signed by the old CA certificate.
	<br><br>
	Run the following command:

	```
	curl "https://BOSH-DIRECTOR/api/v1/bulk-regenerate" \
	    -X POST \
	    -d '{
	      "signed_by": "/services/tls_ca"
	     }' \
	    -H "authorization: bearer $(credhub --token)" \
	    -H 'content-type: application/json'
	```
	<br>
	Where `BOSH-DIRECTOR` is the IP address of the BOSH Director VM, which you retrieved above.
	<br><br>
	 For example:
	<pre class="terminal">
	$ curl "http<span>s:</span>//10.0.0.5/api/v1/bulk-regenerate" \
	    -X POST \
	    -d '{
	      "signed\_by": "/services/tls\_ca"
	     }' \
	    -H "authorization: bearer $(credhub --token)" \
	    -H 'content-type: application/json'
	</pre>

1. Perform the steps in [Log in to the BOSH Director](https://docs.pivotal.io/pivotalcf/2-0/customizing/trouble-advanced.html#log-in) to log in to the BOSH Director from the Ops Manager VM.
1. Run the `upgrade-all-service-instances` errand on the MySQL for PCF deployment to redeploy all service instances with the new certificates. 
Enter the following command, specifying the name of the BOSH deployment for MySQL for PCF: 
	<pre class="terminal">
	$ bosh2 -d p-mysql run-errand upgrade-all-service-instances
	</pre>
	<p class="note"><strong>Note</strong>: If you do not know the name of your MySQL for PCF deployment, run <code>bosh2 -e my-env deployments</code> to list deployments.</p>
1. All bound apps that do not validate server certificates using the trusted store must be re-bound to the MySQL for PCF service in order to receive the updated CA public key. 
This includes all apps that are not written in Java or Spring. 
Until these apps have been re-bound, they will not be able to reconnect to the MySQL for PCF service.

##<a id='remove-old-ca'></a> Step 3: Remove Old CA Certificate

After all applications are able to reconnect to service instances with server certificates that have been generated by the new CA, you may remove the old CA certificate.

Perform the following steps:

1. From the Ops Manager VM, use the CredHub CLI to remove the old CA certificate at `/services/tls_ca`. 
Enter the following command:
	<pre class="terminal">
	$ credhub delete --name '/services/tls_ca'
	</p>
1. Navigate to the Ops Manager Installation Dashboard and click the **Ops Manager Director** tile. Click **Security**.
1. Delete the old CA certificate in **Trusted Certificates** and click **Save**. 
1. Return to the Ops Manager Installation Dashboard and click **Apply Changes**. This restarts all the VMs in your deployment.
