---
title: Rotating CA Certificates
owner: MySQL
---

<strong><%= modified_date %></strong>

If you are using TLS for MySQL for PCF, you provided a CA certificate to BOSH CredHub when performing the procedures in [Preparing for TLS](prepare-tls.html).

To rotate this CA certificate,
see [Rotating CA Certificates for Pivotal Cloud Foundry Services](https://discuss.pivotal.io/hc/en-us/articles/360002542194-Rotating-CA-Certificates-for-Pivotal-Cloud-Foundry-Services)
in the Pivotal Knowledge Base.

<p class="note warning"><strong>WARNING</strong>: Do not attempt to rotate a CA certificate on your own.
Contact <a href="https://support.pivotal.io">Pivotal Support</a>
and perform the procedure in the Pivotal Knowledge Base article with their assistance.</p>
