---
title: MySQL Server Defaults
owner: MySQL
---


This topic describes the defaults that MySQL for Pivotal Cloud Foundry (PCF) applies to its Percona Server components.
There are other components that can be customized as well.

## <a id="connections"></a> Max Connections

All service instances accept up to 750 connections.
System processes count towards this limit.

## <a id="packet"></a> Max Allowed Packet: 256&nbsp;MB

MySQL for PCF allows blobs up to 256&nbsp;MB in size.
You can change this size in a session variable if necessary. 

## <a id="cache"></a> Table Definition Cache: 8192

For more information about updating this variable,
see the [MySQL documentation](https://dev.mysql.com/doc/refman/5.7/en/server-system-variables.html#sysvar_table_definition_cache).

## <a id="reverse"></a> Reverse Name Resolution Off

Disabling reverse DNS lookups improves performance.
To enable reverse name resolution, clear this option.
A cleared reverse name resolution causes the MySQL servers to perform a reverse DNS lookup on each new connection.
Typically, MySQL restricts access by hostname, but MySQL for PCF uses user credentials, not hostnames, to authenticate access.
Because of this, most deployments do not need reverse DNS lookups.

## <a id="symbolic"></a> Skip Symbolic Links
MySQL for PCF is configured to prevent the use of symlinks to tables. This 
[recommended security setting](https://dev.mysql.com/doc/refman/5.7/en/security-against-attack.html)
prevents users from manipulating files on the server’s file system.

## <a id="myisam"></a> MyISAM Recover Options: BACKUP, FORCE
This setting enables MySQL for PCF to recover from most MyISAM problems without human intervention.
For more information, see the [MySQL documentation](https://dev.mysql.com/doc/refman/5.7/en/server-options.html#option_mysqld_myisam-recover-options).

## <a id="logbin"></a> Log Bin Trust Function Creators: ON
This setting relaxes certain constraints on how MySQL writes stored procedures to the binary log.
For more information, see the [MySQL documentation](https://dev.mysql.com/doc/refman/5.7/en/stored-programs-logging.html).

## <a id="event"></a> Event Scheduler: ON
MySQL for PCF enables the event scheduler so users can create and utilize events in their dedicated service instances.

## <a id="lowercase"></a> Lower Case Table Names: OFF
By default, all table names are case sensitive.
Operators can change this default on the [MySQL Configuration page](./install-config.html#mysql), and may allow developers to override the default when creating a service instance.
For more information about the use for lowercase table names,
see the [MySQL documentation](https://dev.mysql.com/doc/refman/5.7/en/identifier-case-sensitivity.html).

## <a id="audit"></a> Audit Log: OFF
The MySQL audit log is off by default.
When enabled on the [MySQL Monitoring page](./install-config.html#monitoring),
logs are written as CSVs to <code>/var/vcap/sys/log/mysql/mysql_audit_log</code> as well as a remote syslog drain if it is enabled.

## <a id="bufferpool"></a> InnoDB Buffer Pool Size
Dynamically configured to be 50% of the available memory on each service instance.

## <a id="innodb-filesize"></a> InnoDB Log File Size: 256&nbsp;MB
MySQL for PCF clusters default to a log-file size of 256&nbsp;MB.

## <a id="innodb-buffersize"></a> InnoDB Log Buffer Size: 32&nbsp;MB
MySQL for PCF defaults to 32&nbsp;MB to avoid excessive disk I/O when issuing large transactions.

## <a id="innodb-lock"></a> InnoDB Auto Increment Lock Mode: 2
Auto Increment uses "interleaved" mode. This enables multiple statements to execute at the same time.
There may be gaps in auto-incrementing columns.

## <a id="collaction"></a> Collation Server: UTF8 General CI
MySQL for PCF defaults the collation server to <code>utf8_general_ci</code>.
You can override this during a session.

## <a id="charset"></a> Character Set: UTF8
MySQL for PCF defaults all character sets to <code>utf8</code>.
You can override this during a session.
