---
title: Troubleshooting On-Demand Instances
owner: MySQL
---

This topic provides techniques app developers can use to begin troubleshooting on-demand instances.

## <a id="inaccessible"></a>If Instances or Database are Inaccessible

You might experience the following during upgrades or in a leader-follower topology.

### <a id="outages"></a>Temporary Outages

MySQL for PCF service instances can become temporarily inaccessible during upgrades and VM or network failures. 
For more information, see [Service Interruptions](./upgrade.html#interruptions).

### <a id="read-only"></a>Apps Cannot Write to the Database

If you have a leader-follower topology and your apps can no longer write to the database, the leader VM might be read-only. 
Contact your operator to check if the leader VM is read-only. 
For more information about troubleshooting this problem, see 
[Both Leader and Follower Instances Are Read-Only](./troubleshoot.html#both-read-only).

### <a id="disk-full"></a>Persistent Disk is Full

If your persistent disk is full, your apps become inoperable. In this state, read, 
write, and Cloud Foundry Command-Line Interface (cf CLI) opertations do not work. 

Contact your operator to check if your persistent disk is full.
For more information about troubleshooting this problem, see 
[Persistent Disk is Full](./troubleshoot.html#persistent-disk). 

## <a id="errors"></a> Troubleshoot Errors

You might see an error when using the Cloud Foundry Command-Line Interface (cf CLI) to perform basic operations on a MySQL for PCF service instance:

* `cf create`
* `cf update`
* `cf bind`
* `cf unbind`
* `cf delete`

### <a id="parse-error"></a>Understand a Cloud Foundry (CF) Error Message

<%= partial '../../mysql/odb/tshoot-tech-parse-error' %>

### <a id="instance"></a> Find Information about Your Service Instance

You might need to find the name, GUID, or other information about a service instance.
To find this information, do the following:

1. Log into the space containing the instance or failed instance. 
    <pre class="terminal">
    $ cf login
    </pre>

1. If you do not know the name of the service instance, run `cf services` to see a listing of all service instances in the space. 
The service instances are listed in the `name` column.
    <pre class="terminal">
    $ cf services
    Getting services in org my-org / space my-space as user<span>@</span>example.com...
    OK
    name          service      plan        bound apps    last operation
    my-instance   p.mysql      db-small                  create succeeded
    </pre>

1. To retrieve more information about a specific instance, run `cf service SERVICE-INSTANCE-NAME`

1. To retrieve the GUID of the instance, run `cf service SERVICE-INSTANCE-NAME --guid`

   The GUID is useful for debugging.

## <a id="kb"></a>Use the Knowledge Base (Community)

<%= partial '../../mysql/odb/tshoot-kb' %>

## <a id="support"></a>File a Support Ticket

<%= partial '../../mysql/odb/tshoot-support-dev' %>
