---
title: Upgrading MySQL for PCF
owner: MySQL
---
<%= partial "../../p-mysql/partials/services/deprecation-notice-eogs" %>

This topic explains how to upgrade the MySQL for Pivotal Cloud Foundry (PCF) service and existing service instances. 
It also explains the service interruptions that can result from service changes and upgrades and from failures at the process, VM, and IaaS level.

## <a id="upgrade-service"></a>Upgrade MySQL for PCF

<p class="note"><strong>Note:</strong>  Before upgrading to the next version of MySQL for PCF,
run the <code>upgrade-all-service-instances</code> errand to make sure that
all your service instances are upgraded to your current version.<br>
For more information, see <a href="./troubleshoot.html#upgrade-all">Upgrade All Service Instances</a>.</p>

To upgrade the MySQL for PCF service, you follow the same Ops Manager process that you use to install the service for the first time. 
Your configuration settings migrate to the new version automatically. To perform an upgrade:

1. Review the [Release Notes](./release-notes.html) for the version you are upgrading to.

1. Download the desired version of the product from [Pivotal Network](https://network.pivotal.io/products/p-mysql).

1. Navigate to the Ops Manager Installation Dashboard and click **Import a Product** to upload the product file.

1. Under the **Import a Product** button, click **+** next to **MySQL for PCF**. This adds the tile to your staging area.

1. Click the newly-added **MySQL for PCF** tile to review its configuration panes. Click **Save** on any panes where you make changes.

1. Return to the Installation Dashboard and click **Apply Changes**.

Upgrading the MySQL for PCF service and service instances can temporarily interrupt 
the service.
For more information, see [Service Interruptions](#interruptions) below.

## <a id="upgrade-instances"></a>Upgrade MySQL Instances

After upgrading the MySQL for PCF service, operators must upgrade existing service instances

to be in sync with the new version of the service.
Developers cannot create new bindings to a service instance that has not been upgraded. 

To upgrade existing service instances, operators run the following command:

```
bosh -d BROKER-NAME run-errand upgrade-all-service-instances
```

Where `BROKER-NAME` is the deployment name of the broker.

	
## <a id="interruptions"></a>Service Interruptions

Service changes and upgrades and failures at the process, VM, and IaaS level can cause outages in the MySQL for PCF service, as described below.

Read this section if:

+ You are experiencing a service interruption and are wondering why.
+ You are planning to update or change a service instance and want to know if it might cause a service interruption.

### <a id='service-update'></a>Stemcell or Service Update

An operator updates a stemcell version or their version of MySQL for PCF.

- <strong>Impact:</strong> Apps lose access to the MySQL service while PCF updates the service instance they are bound to. 
          The service should resume within 10–15 minutes.
- <strong>Required Actions:</strong> None. If the update deploys successfully, apps reconnect automatically.

### <a id='change-plan'></a>Plan Change

A developer changes their service instance to provide a different service plan, using `cf update-service` or Apps Manager.

- <strong>Impact:</strong> Apps lose access to the MySQL service while PCF updates the service instance they are bound to. 
          The service should resume within 10–15 minutes.
- <strong>Required Actions:</strong> None. If the plan change deploys successfully, apps reconnect automatically.
