<%= partial 'monitoring/ha-metric', locals: {

  metrics: [
    {
      source: 'galera/wsrep_ready',
      description: 'Shows whether the node can accept queries.',
      unit: 'boolean'
    },
    {
      source: 'galera/wsrep_cluster_size',
      description: 'The current number of nodes in the HA cluster.',
      unit: 'nodes'
    },
    {
      source: 'galera/wsrep_cluster_status',
      description: <<~DESC,
          Shows the primary status of the cluster component that the node is in. Values are:
           <ul>
             <li> <code>Primary</code>: Node has a quorum.</li>
             <li> <code>Non-primary</code>:  Node has lost a quorum. </li>
             <li> <code>Disconnected</code>: Node is unable to connect to other nodes.</li>
            </ul>    
                      
      DESC
              
      unit: 'State ID'
    },
    
    {
      source: 'galera/local_recv_queue_avg',
      description: 'Shows the average size of the local received queue since the last status query.',
      unit: 'float'
    },
    
    
    
    {
      source: 'galera/wsrep_flow_control_paused',
      description: <<~DESC,
          Fraction of time that replication was paused due to flow control since the server started or last <code>FLUSH STATUS</code>. This metric is a measure of how much replication lag is slowing down the cluster. 
      DESC
    
      unit: 'float'
    },
    
    
    {
      source: 'galera/wsrep_local_send_queue_avg',
      description: 'Shows the average size of the local sent queue since the last status query.',
      unit: 'float'
    },
    
    
    {
      source: 'galera/wsrep_flow_control_sent',
      description: <<~DESC,
          Number of <code>FC_PAUSE</code> or flow control pause events sent by this node. Unlike many status variables, the counter for this metric does not reset every time you run the query.
        
      DESC
       
      unit: 'count'
    },
    
    {
      source: 'galera/wsrep_local_index',
      description: 'This node index in the cluster (base 0).',
      unit: 'int'
    },
    {
      source: 'galera/wsrep_local_state',
      description: <<~DESC, 
          The local state of the node. Possible states include:
          <ul>
          <li>1 = <code>JOINING</code></li>
          <li>2 = <code>DONOR/DESYNCED</code></li>
          <li>3 = <code>JOINED</code></li>
          <li>4 = <code>SYNCED</code></li>
          </ul>
      DESC
      
      unit: 'int'
    },
    
    {
      source: 'galera/wsrep_local_index',
      description: 'This node index in the cluster (base 0).',
      unit: 'int'
    },
    
    {
      source: 'system/persistent_disk_free',
      description: 'The number of KB available on the persistent disk.',
      unit: 'KB'
    },

    {
      source: 'system/persistent_disk_inodes_used',
      description: 'The number of inodes used on the persistent disk.',
      unit: 'count'
    },

    {
      source: 'system/persistent_disk_inodes_free',
      description: 'The number of inodes available on the persistent disk.',
      unit: 'count'
    },

    {
      source: 'system/persistent_disk_used',
      description: 'The number of KB used on the persistent disk..',
      unit: 'KB'
    },

    {
      source: 'system/ephemeral_disk_used',
      description: 'The number of KB used on the ephemeral disk.',
      unit: 'KB'
    },

    {
      source: 'system/ephemeral_disk_free',
      description: 'The number of KB available on the ephemeral disk.',
      unit: 'KB'
    },

    {
      source: 'system/ephemeral_disk_inodes_used',
      description: 'The number of inodes used on the ephemeral disk.',
      unit: 'count'
    },

    {
      source: 'system/ephemeral_disk_inodes_used_percent',
      description: 'The percentage of ephemeral disk inodes used by both the
      system and user applications.',
      unit: 'percent'
    },

    {
      source: 'system/ephemeral_disk_inodes_free',
      description: 'The number of inodes available on the ephemeral disk.',
      unit: 'count'
    },

    {
      source: 'innodb/buffer_pool_free',
      description: 'The number of free pages in the InnoDB Buffer Pool.',
      unit: 'pages'
    },

    {
      source: 'innodb/buffer_pool_total',
      description: 'The total number of pages in the InnoDB Buffer Pool.',
      unit: 'pages'
    },

    {
      source: 'innodb/buffer_pool_used',
      description: 'The number of used pages in the InnoDB Buffer Pool.',
      unit: 'pages'
    },

    {
      source: 'innodb/data_reads',
      description: 'The number of data reads.',
      unit: 'reads/second'
    },
    {
      source: 'innodb/data_writes',
      description: 'The number of data writes.',
      unit: 'writes/second'
    },
    {
      source: 'innodb/data_reads',
      description: 'The number of data reads.',
      unit: 'reads/second'
    },
    {
      source: 'innodb/mutex_os_waits',
      description: 'The number of mutex OS waits.',
      unit: 'events/second'
    },
    {
      source: 'innodb/mutex_spin_rounds',
      description: 'The number of mutex spin rounds.',
      unit: 'events/seconds'
    },

    {
      source: 'innodb/mutex_spin_waits',
      description: 'The number of mutex spin waits.',
      unit: 'events/seconds'
    },

    {
      source: 'net/max_connections',
      description: 'The maximum number of connections that have been in use
      simultaneously since the server started.',
      unit: 'events/seconds'
    }

  ]

} %>
