<%= partial 'monitoring/kpis', locals: {
    metric: '/system/persistent_disk_used_percent',
    description:<<~DESC,
    The percentage of disk used on the persistent file system. <br ><br>
    <strong>Use</strong>: MySQL cannot function correctly if there is not sufficient
    free space on the file systems. Use these metrics to ensure that you
     have disks large enough for your user base.<br>
    <strong>Origin</strong>: Doppler/Firehose<br>
    <strong>Type</strong>: Percent<br>
    <strong>Frequency</strong>: 30 s (default)<br>
     DESC
     
     measurement:'Maximum of persistent disk used of all of
       nodes',
     alert: <<~DESC,
     <strong>Single Node and Leader Follower:</strong>
       <ul>
     <li><strong>Yellow warning:</strong> > 25%</li>
     <li><strong>Red critical:</strong> > 30%</li>
     </ul>
   <strong>Highly Available Cluster:</strong>
   <ul>
     <li><strong>Yellow warning:</strong> > 80%</li>
     <li><strong>Red critical:</strong> > 90%</td></li>
   </ul>   
     DESC
     
     response: 'Upgrade the service instance to a plan with larger disk capacity.'
} %>  
