<p class="note warning"><strong>Warning:</strong> Multi&#8209;Site Replication plans are currently in beta and are for advanced use cases only. If you are interested in testing Multi&#8209;Site Replication service plans,
contact <a href="https://pivotal.io/support"> Pivotal Support</a>. 
</p>
